// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
//@import "node_modules/bootstrap/assets/stylesheets/bootstrap";

/* ++++ RESET ++++ */

h1,
h2,
h3,
h4,
h5,
h6
	margin: 0
	padding: 0

a
	text-decoration: none

*
	box-sizing: border-box
	padding: 0
	margin: 0

ul
	margin-bottom: 0px
li
	list-style: none

html,
body 
	height: 100%
	width: 100%
	margin: 0
	padding: 0
input
	// width: 100%
	outline: #dc3545 !important
	&:focus
		border-color: rgba(0,0,0,0) !important