$encode-regular: 'EncodeSansRegular'
$encode-bold: 'EncodeSansBold'
$encode-semibold: 'EncodeSemiBold'

@font-face
	font-family: 'EncodeSansRegular'
	src: url('../fonts/encode-sans/EncodeSans-Medium.ttf') format('truetype')

@font-face
	font-family: 'EncodeSansBold'
	src: url('../fonts/encode-sans/EncodeSans-Bold.ttf') format('truetype')

@font-face
	font-family: 'EncodeSemiBold'
	src: url('../fonts/encode-sans/EncodeSans-SemiBold.ttf') format('truetype')