/* ++++ RESET ++++ */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  margin-bottom: 0px;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

input {
  outline: #dc3545 !important;
}

input:focus {
  border-color: transparent !important;
}

@font-face {
  font-family: 'EncodeSansRegular';
  src: url(/fonts/EncodeSans-Medium.ttf?3c03fa880b30a0649a28cfbd8a8f8fb1) format("truetype");
}

@font-face {
  font-family: 'EncodeSansBold';
  src: url(/fonts/EncodeSans-Bold.ttf?e48ca8dbeb1899b43787435b30a92949) format("truetype");
}

@font-face {
  font-family: 'EncodeSemiBold';
  src: url(/fonts/EncodeSans-SemiBold.ttf?bdeb7efb10c52be8d22f95f564718c77) format("truetype");
}

.modal-lg {
  max-width: 70%;
  height: 700px;
}

.modal-backdrop {
  opacity: 0.2 !important;
}

.modal-dialog {
  margin-top: 30px;
}

.modal-content {
  height: 100%;
  border-radius: 0;
  background-image: url(/images/back-modal.jpg?d3ad50adb19ebb6625ead3eb5f230a9d);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  padding: 60px 0px;
}

.modal-content .modal-body .left {
  height: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content .modal-body .left img {
  width: 160px;
}

.modal-content .modal-body .right {
  height: 100%;
  width: 50%;
  padding: 40px;
  border-left: 2px solid #e60118;
}

.modal-content .modal-body .right form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-content .modal-body .right form p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  font-family: "EncodeSansRegular";
  color: #636161;
}

.modal-content .modal-body .right form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.modal-content .modal-body .right form .form-group input {
  background: #e60118;
  border: none;
  height: 90px;
  font-size: 18px;
  font-family: "EncodeSansRegular";
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 33.33%;
}

.modal-content .modal-body .right form .form-group input::-webkit-input-placeholder {
  color: white;
}

.modal-content .modal-body .right form .form-group input:-ms-input-placeholder {
  color: white;
}

.modal-content .modal-body .right form .form-group input::-ms-input-placeholder {
  color: white;
}

.modal-content .modal-body .right form .form-group input::placeholder {
  color: white;
}

.modal-content .modal-body .right form .form-group .caja_registro {
  color: white;
  text-align: center;
  border: 3px solid white;
}

.modal-content .modal-body .right form .form-group .caja_registro:first-child {
  border-right: 0px;
}

.modal-content .modal-body .right form .form-group .caja_registro:nth-child(2) {
  border-right: 0px;
}

.modal-content .modal-body .right form button {
  height: 60px;
  padding: 0px 90px;
  background: #e60118;
  border: 3px solid white;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.modal-content .modal-body .right form button i {
  margin-right: 8px;
}

.modal-content .modal-body .right form button:hover {
  background: #bb1020;
}

.modal-content .modal-body .right form button.facebook {
  background: #4267B2;
  padding: 0px 30px;
  height: 60px;
  cursor: pointer;
}

.modal-content .modal-body .right form button.facebook i {
  margin-right: 8px;
}

.modal-content .modal-body .right form h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #636161;
  font-family: "EncodeSansRegular";
}

.modal-content .modal-body .right form .avisos {
  margin-top: 25px;
}

.modal-content .modal-body .right form .avisos a {
  font-size: 14px;
  color: #636161;
  font-family: "EncodeSansRegular";
  text-decoration: underline;
  margin: 0px 5px;
}

@media (max-width: 1280px) {
  .modal-content .modal-body .left {
    width: 40%;
  }

  .modal-content .modal-body .right {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .modal-content .modal-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .modal-content .modal-body .right {
    border-left: none;
    width: 100%;
  }

  .modal-content .modal-body .left {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .modal-content .modal-body .right form button {
    padding: 0px 60px !important;
  }

  .modal-content .modal-body .right form button.facebook {
    padding: 0px 20px !important;
  }

  .modal-content .modal-body .right .form-group input {
    height: 70px !important;
  }
}

@media (max-width: 576px) {
  .modal-lg {
    max-width: 90%;
    height: 600px !important;
  }

  .modal-dialog {
    margin-top: 100px;
    margin: 6% auto;
  }

  .modal-dialog .modal-body .right {
    padding: 0px 20px;
  }

  .modal-dialog .modal-body .right form h3 {
    font-size: 14px;
  }

  .modal-dialog .modal-body .left {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .modal-lg {
    height: 600px !important;
  }

  .modal-dialog {
    margin: 6% auto;
  }

  .modal-dialog .modal-content .modal-body {
    padding: 50px 0px;
    height: 500px;
  }

  .modal-dialog .modal-content .modal-body .left {
    margin-bottom: 40px;
  }

  .modal-dialog .modal-content .modal-body .right form .avisos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .modal-dialog .modal-content .modal-body .right form .avisos a {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .modal-dialog .modal-content .modal-body .right form .form-group {
    margin-bottom: 60px;
  }

  .modal-dialog .modal-content .modal-body .right form h3 {
    margin: 10px 0px;
  }

  .modal-dialog .modal-content .modal-body .right form button,
  .modal-dialog .modal-content .modal-body .right form button.facebook {
    height: 85px;
    font-size: 14px;
  }
}

/* ++++ Admin Login ++++ */

html,
body {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

.login-bg {
  background-image: url(/images/victoria_bg.jpg?69dc5456757fe70da62195d4464e16a0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  color: #FFF;
  position: relative;
}

.login-bg:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 44, 0.6)), to(rgba(224, 23, 3, 0.7)));
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.6), rgba(224, 23, 3, 0.7));
  top: 0px;
  left: 0px;
}

.login-input-pre {
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.login-btn {
  border-radius: 1.5rem;
  margin-top: 50px;
}

.login-form-btn {
  border-radius: 1.5rem;
}

.login-card {
  background-color: #e60118;
  width: 400px;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  color: #fff;
}

.avatar-img {
  width: 50px;
  height: 50px;
}

.admin-content {
  height: 92%;
}

.admin-content .row {
  height: 100%;
}

.admin-main-container {
  margin-top: 50px;
}

.admin-navbar {
  background-color: #008c62;
  height: 8%;
}

.admin-sidebar {
  background-color: #2f4858;
  border-right: 1px solid #000;
  height: 100%;
}

.feria-btn {
  border-radius: 1.5rem;
  margin-top: 50px;
  background-color: #e60118;
  color: #fff;
}

