/* ++++ RESET ++++ */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  margin-bottom: 0px;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

input {
  outline: #dc3545 !important;
}

input:focus {
  border-color: transparent !important;
}

@font-face {
  font-family: 'EncodeSansRegular';
  src: url(/fonts/EncodeSans-Medium.ttf?3c03fa880b30a0649a28cfbd8a8f8fb1) format("truetype");
}

@font-face {
  font-family: 'EncodeSansBold';
  src: url(/fonts/EncodeSans-Bold.ttf?e48ca8dbeb1899b43787435b30a92949) format("truetype");
}

@font-face {
  font-family: 'EncodeSemiBold';
  src: url(/fonts/EncodeSans-SemiBold.ttf?bdeb7efb10c52be8d22f95f564718c77) format("truetype");
}

.modal-lg {
  max-width: 70%;
  height: 700px;
}

.modal-backdrop {
  opacity: 0.2 !important;
}

.modal-dialog {
  margin-top: 30px;
}

.modal-content {
  height: 100%;
  border-radius: 0;
  background-image: url(/images/back-modal.jpg?d3ad50adb19ebb6625ead3eb5f230a9d);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  padding: 60px 0px;
}

.modal-content .modal-body .left {
  height: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content .modal-body .left img {
  width: 160px;
}

.modal-content .modal-body .right {
  height: 100%;
  width: 50%;
  padding: 40px;
  border-left: 2px solid #e60118;
}

.modal-content .modal-body .right form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-content .modal-body .right form p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  font-family: "EncodeSansRegular";
  color: #636161;
}

.modal-content .modal-body .right form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.modal-content .modal-body .right form .form-group input {
  background: #e60118;
  border: none;
  height: 90px;
  font-size: 18px;
  font-family: "EncodeSansRegular";
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 33.33%;
}

.modal-content .modal-body .right form .form-group input::-webkit-input-placeholder {
  color: white;
}

.modal-content .modal-body .right form .form-group input:-ms-input-placeholder {
  color: white;
}

.modal-content .modal-body .right form .form-group input::-ms-input-placeholder {
  color: white;
}

.modal-content .modal-body .right form .form-group input::placeholder {
  color: white;
}

.modal-content .modal-body .right form .form-group .caja_registro {
  color: white;
  text-align: center;
  border: 3px solid white;
}

.modal-content .modal-body .right form .form-group .caja_registro:first-child {
  border-right: 0px;
}

.modal-content .modal-body .right form .form-group .caja_registro:nth-child(2) {
  border-right: 0px;
}

.modal-content .modal-body .right form button {
  height: 60px;
  padding: 0px 90px;
  background: #e60118;
  border: 3px solid white;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.modal-content .modal-body .right form button i {
  margin-right: 8px;
}

.modal-content .modal-body .right form button:hover {
  background: #bb1020;
}

.modal-content .modal-body .right form button.facebook {
  background: #4267B2;
  padding: 0px 30px;
  height: 60px;
  cursor: pointer;
}

.modal-content .modal-body .right form button.facebook i {
  margin-right: 8px;
}

.modal-content .modal-body .right form h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #636161;
  font-family: "EncodeSansRegular";
}

.modal-content .modal-body .right form .avisos {
  margin-top: 25px;
}

.modal-content .modal-body .right form .avisos a {
  font-size: 14px;
  color: #636161;
  font-family: "EncodeSansRegular";
  text-decoration: underline;
  margin: 0px 5px;
}

@media (max-width: 1280px) {
  .modal-content .modal-body .left {
    width: 40%;
  }

  .modal-content .modal-body .right {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .modal-content .modal-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .modal-content .modal-body .right {
    border-left: none;
    width: 100%;
  }

  .modal-content .modal-body .left {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .modal-content .modal-body .right form button {
    padding: 0px 60px !important;
  }

  .modal-content .modal-body .right form button.facebook {
    padding: 0px 20px !important;
  }

  .modal-content .modal-body .right .form-group input {
    height: 70px !important;
  }
}

@media (max-width: 576px) {
  .modal-lg {
    max-width: 90%;
    height: 600px !important;
  }

  .modal-dialog {
    margin-top: 100px;
    margin: 6% auto;
  }

  .modal-dialog .modal-body .right {
    padding: 0px 20px;
  }

  .modal-dialog .modal-body .right form h3 {
    font-size: 14px;
  }

  .modal-dialog .modal-body .left {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .modal-lg {
    height: 600px !important;
  }

  .modal-dialog {
    margin: 6% auto;
  }

  .modal-dialog .modal-content .modal-body {
    padding: 50px 0px;
    height: 500px;
  }

  .modal-dialog .modal-content .modal-body .left {
    margin-bottom: 40px;
  }

  .modal-dialog .modal-content .modal-body .right form .avisos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .modal-dialog .modal-content .modal-body .right form .avisos a {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .modal-dialog .modal-content .modal-body .right form .form-group {
    margin-bottom: 60px;
  }

  .modal-dialog .modal-content .modal-body .right form h3 {
    margin: 10px 0px;
  }

  .modal-dialog .modal-content .modal-body .right form button,
  .modal-dialog .modal-content .modal-body .right form button.facebook {
    height: 85px;
    font-size: 14px;
  }
}

.menu-effect {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  -webkit-transition-duration: 1.2s !important;
          transition-duration: 1.2s !important;
}

.menu-effect:nth-child(2) {
  -webkit-transition-duration: 1.5s !important;
          transition-duration: 1.5s !important;
}

.menu-effect:nth-child(3) {
  -webkit-transition-duration: 1.8s !important;
          transition-duration: 1.8s !important;
}

.menu-content {
  height: 100%;
  width: 100%;
  top: -100%;
  position: fixed;
  z-index: 1049;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-image: url(/images/gris.png?35883db24557c382932adc7484d641ac);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
}

.menu-content .vertical-menu {
  width: 50%;
  text-align: center;
}

.menu-content .vertical-menu li {
  margin-bottom: 30px;
  -webkit-transform: translateX(-95vw);
          transform: translateX(-95vw);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(1, 0, 0, 1);
  transition: -webkit-transform 0.8s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.8s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.8s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.8s cubic-bezier(1, 0, 0, 1);
}

.menu-content .vertical-menu li a {
  color: #d91435;
  font-size: 60px;
  font-family: "EncodeSansBold";
}

.menu-content ul.redes-menu {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-content ul.redes-menu li {
  margin: 0px 20px;
}

.menu-content ul.redes-menu li a {
  color: #d91435;
  font-size: 35px;
}

@media (max-width: 950px) {
  .menu-content {
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .menu-content .vertical-menu {
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 30px;
  }

  .menu-content .vertical-menu li {
    margin-bottom: 20px;
  }

  .menu-content .vertical-menu li a {
    font-size: 34px;
  }

  .menu-content ul.redes-menu li a i {
    font-size: 30px;
  }
}

@media (max-width: 380px) {
  ul.vertical-menu li a {
    font-size: 28px !important;
  }
}

nav#menu {
  padding: 15px 20px;
}

nav#menu ul {
  max-width: 1170px;
  margin: 0 auto;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#menu ul li img {
  height: 75px;
}

nav#menu ul li#menu-icon {
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

nav#menu ul li#menu-icon img {
  height: 25px;
}

nav#menu ul li#menu-icon i {
  color: #d91435;
  font-size: 30px;
}

/* ++++ HOME ++++ */

.container-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: #000;
}

.container-home .left {
  width: 50%;
  height: 100%;
  background-image: url(/images/bg-left.jpg?8fe8bffb2f59374378ee76dfaa81176c);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-home .left img {
  width: 130px;
  margin-top: 50px;
}

.container-home .left:hover {
  -webkit-animation: switch 5s infinite;
  animation: switch1 4s infinite;
  background-repeat: repeat-n;
}

.container-home .right {
  width: 50%;
  height: 100%;
  background-image: url(/images/bg-right.jpg?ee31da71b540710565fa9ce725cc4eea);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container-home .right:hover {
  -webkit-animation: switch 5s infinite;
  animation: switch2 2s infinite;
  background-repeat: repeat-n;
}

.container-home .aviso {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 330px;
  text-align: center;
}

.container-home .aviso h2 {
  font-size: 16px;
  color: red;
  margin-bottom: 15px;
  font-family: "EncodeSansRegular";
}

.container-home .aviso .links {
  display: inline;
  color: #e60118;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-home .aviso .links a {
  font-size: 13px;
  color: #e60118;
  margin-right: 15px;
  font-family: "EncodeSansRegular";
}

.container-home .aviso .links a:last-child {
  margin-right: 24px;
  margin-right-margin-left: 5px;
}

.container-menu-home {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1050;
  display: none;
}

.container-menu-home nav#menu {
  padding: 0px 20px;
}

.container-menu-home nav#menu ul {
  max-width: 1170px;
  margin: 0 auto;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-menu-home nav#menu ul li img {
  height: 75px;
}

.container-menu-home nav#menu ul li#menu-icon {
  cursor: pointer;
}

.container-menu-home nav#menu ul li#menu-icon img {
  height: 25px;
}

@-webkit-keyframes switch1 {
  50% {
    background-image: url(/images/bg-hover-left.jpg?a230327529b178b7dd1a02f14cceda3f);
  }
}

@-webkit-keyframes switch2 {
  50% {
    background-image: url(/images/bg-hover-right.jpg?3c53a44b1ed9a7f02bf4eb6628f9e5dd);
  }
}

@media (max-width: 768px) {
  .container-menu-home {
    display: block;
  }

  .container-home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    position: relative;
  }

  .container-home .left {
    width: 100%;
    height: 650px;
  }

  .container-home .left img {
    display: none;
  }

  .container-home .right {
    width: 100%;
    height: 650px;
  }

  .container-home .aviso {
    bottom: 30px;
  }
}

/* ++++ FERIAS ++++ */

.container-ferias {
  width: 100%;
  height: auto;
  background-image: url(/images/bg-ferias.jpg?52fa5df4b66ede3eab204283d19af577);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.container-ferias .center-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-ferias .center-box img#top {
  width: 860px;
  margin-top: 30px;
  padding: 0px 25px;
}

.container-ferias .center-box .desc1 {
  max-width: 895px;
  min-height: 410px;
  background-image: url(/images/descripcion_ferias1.png?f20d6407cd5af7bfad24a006c7ac40dc);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-ferias .center-box .desc1 p {
  margin-bottom: 30px;
  width: 86%;
  color: #716f6f;
  font-family: "EncodeSansRegular";
  font-size: 16px;
  line-height: 28px;
}

.container-ferias .center-box .ferias-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}

.container-ferias .center-box .ferias-box .left img {
  height: 200px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container-ferias .center-box .ferias-box .left:hover img {
  opacity: 1;
}

.container-ferias .center-box .ferias-box .left:hover p {
  opacity: 0;
}

.container-ferias .center-box .ferias-box .right img {
  height: 200px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container-ferias .center-box .ferias-box .right:hover img {
  opacity: 1;
}

.container-ferias .center-box .ferias-box .right:hover p {
  opacity: 0;
}

.container-ferias .center-box .ferias-box .left,
.container-ferias .center-box .ferias-box .right {
  height: 410px;
  background-image: url(/images/back_ferias.png?f4e5a2cf73585040c6cff7f939612bd1);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0px 10px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-ferias .center-box .ferias-box .left:hover,
.container-ferias .center-box .ferias-box .right:hover {
  background-image: url(/images/back-ferias-hover.png?b491b36926eca43040aa251986f3b4b1);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.container-ferias .center-box .ferias-box .left p,
.container-ferias .center-box .ferias-box .right p {
  text-align: center;
  width: 70%;
  color: #9E2B31;
  font-weight: "EncodeSansRegular";
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container-ferias footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1170px;
  padding: 25px 20px;
  width: 100%;
  height: auto;
  background-image: url(/images/back-slider-full.jpg?1a546c409d1cf7719f71f85953a9acb2);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.container-ferias footer .wd {
  width: 33%;
}

.container-ferias footer p#medida {
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #716f6f;
  font-size: 13px;
  font-family: "EncodeSansRegular";
}

.container-ferias footer ul#icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-ferias footer ul#icons li {
  margin: 0px 20px;
}

.container-ferias footer ul#icons li a i {
  font-size: 21px;
  color: #5a5959;
}

.container-ferias footer ul#terminos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-ferias footer ul#terminos a {
  margin-bottom: 0px;
  font-size: 14px;
  font-family: "EncodeSansRegular";
  color: #716f6f;
  margin-right: 13px;
  text-decoration: underline;
}

@media (min-width: 560px) and (max-width: 3000px) {
  .center-box .ferias-box .left,
  .center-box .ferias-box .right {
    width: 520px;
  }
}

@media (max-width: 1079px) {
  nav#menu ul li img {
    z-index: 1051;
    position: relative;
  }

  .container-ferias .center-box {
    padding: 0px 20px;
  }

  .container-ferias .center-box .desc1 {
    padding: 65px 0px;
  }

  .container-ferias .center-box .ferias-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }

  .container-ferias .center-box .ferias-box .left {
    margin: 0px 0px;
  }

  .container-ferias .center-box .ferias-box .right {
    margin: 0px 0px;
  }

  .container-ferias footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container-ferias footer .wd {
    width: 80%;
  }

  .container-ferias footer p {
    text-align: center;
    margin-bottom: 20px !important;
  }

  .container-ferias footer ul#terminos {
    margin-top: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }

  .container-ferias footer ul#terminos a {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .container-ferias .center-box .ferias-box {
    margin-bottom: 0px;
  }

  .container-ferias .center-box .ferias-box .left p,
  .container-ferias .center-box .ferias-box .right p {
    font-size: 28px;
  }

  .container-ferias .center-box .ferias-box .left img,
  .container-ferias .center-box .ferias-box .right img {
    height: 155px;
  }

  .container-ferias .center-box .desc1 p {
    font-size: 14px;
  }
}

/* ++++ LANDING ++++ */

.container-landing {
  width: 100%;
  height: auto;
  background-image: url(/images/bg-ferias.jpg?52fa5df4b66ede3eab204283d19af577);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.container-landing nav#menu {
  padding: 0px 20px;
}

.container-landing nav#menu ul {
  max-width: 1170px;
  margin: 0 auto;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-landing nav#menu ul li img {
  height: 75px;
}

.container-landing nav#menu ul li#menu-icon {
  cursor: pointer;
}

.container-landing nav#menu ul li#menu-icon img {
  height: 25px;
}

.container-landing .slider {
  height: auto;
  width: 100%;
  background-image: url(/images/back-slider-full.jpg?1a546c409d1cf7719f71f85953a9acb2);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.container-landing .slider .slider-content {
  max-width: 1315px;
  height: auto;
  margin: 0 auto;
  padding: 50px 0px;
}

.container-landing .slider .slider-content .wrapper-slider {
  position: relative;
}

.container-landing .slider .slider-content .wrapper-slider .content {
  top: 0px;
  position: absolute;
  height: 100%;
  max-width: 1340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-landing .slider .slider-content .wrapper-slider .content .left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-landing .slider .slider-content .wrapper-slider .content .left img {
  height: 220px;
}

.container-landing .slider .slider-content .wrapper-slider .content .right {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-landing .slider .slider-content .wrapper-slider .content .right h1 {
  font-size: 32px;
  color: #e60118;
  font-family: "EncodeSansBold";
  text-transform: uppercase;
  margin-bottom: 12px;
  width: 75%;
}

.container-landing .slider .slider-content .wrapper-slider .content .right p {
  font-size: 19px;
  font-family: "EncodeSansRegular";
  color: #716f6f;
  margin-bottom: 0px;
  width: 95%;
}

@media (max-width: 1250px) {
  .container-landing .slider .slider-content .wrapper-slider .content .right p {
    font-size: 16px;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .right h1 {
    font-size: 28px;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .left img {
    height: 185px;
  }
}

@media (max-width: 950px) {
  .container-landing .slider {
    height: 450px;
  }

  .container-landing .slider .slider-content {
    height: 100%;
  }

  .container-landing .slider .slider-content .wrapper-slider {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container-landing .slider .slider-content .wrapper-slider .content {
    top: -65px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .right {
    text-align: center;
    width: 90%;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .right p {
    font-size: 16px;
    width: 100%;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .right h1 {
    font-size: 28px;
    width: 100%;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .left {
    margin-bottom: 20px;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .left img {
    height: 185px;
  }
}

@media (max-width: 840px) {
  .container-landing .slider .slider-content .wrapper-slider .content .left {
    margin-bottom: 10px;
    width: 100%;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .left img {
    height: 170px;
  }
}

@media (max-width: 720px) {
  .container-landing .slider .slider-content .wrapper-slider .content .right h1 {
    font-size: 24px;
  }
}

@media (max-width: 530px) {
  .container-landing .slider .slider-content .wrapper-slider .content .left {
    margin-bottom: 5px;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .left img {
    height: 130px;
  }
}

@media (max-width: 420px) {
  .container-landing .slider .slider-content .wrapper-slider .content .left img {
    height: 120px;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .right h1 {
    font-size: 22px;
  }

  .container-landing .slider .slider-content .wrapper-slider .content .right p {
    font-size: 15px;
  }
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -3%;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-prev {
  left: 0px;
  background-color: rgba(230, 1, 24, 0.8);
  z-index: 999;
  width: 60px;
  height: 60px;
  /* border: 1px solid rgba(255, 255, 255, 0.7) */
  font-size: 40px;
}

.slick-next {
  right: 0px;
  width: 60px;
  height: 60px;
  background-color: rgba(230, 1, 24, 0.8);
  z-index: 999;
  font-size: 40px;
}

.slick-prev i {
  color: #fff;
  position: relative;
  font-size: 30px;
}

.slick-next i {
  color: #fff;
  position: relative;
  font-size: 30px;
}

/* ++++ ARTISTAS ++++ */

.artistas {
  height: auto;
  width: 100%;
  background-image: url(/images/back-slider-full.jpg?1a546c409d1cf7719f71f85953a9acb2);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  padding-bottom: 80px;
}

.artistas .nav-pills .nav-link {
  padding: 0px;
}

.artistas .nav-pills .nav-link.active {
  color: #ea002a;
  background-color: transparent;
}

.artistas .nav-pills .nav-link.active:before {
  content: url(/fonts/caballo-izq-icon.svg?bcfe93a5050c5801e4a167ebb61a158f);
  position: absolute;
  width: 36px;
  left: -41px;
  top: 3px;
}

.artistas .nav-pills .nav-link.active:after {
  content: url(/fonts/caballo-derecha-icon.svg?7db3e8efb2c244c604a091fbe797a972);
  position: absolute;
  width: 36px;
  right: -41px;
  top: 3px;
}

.artistas .nav {
  margin: 0 auto;
  max-width: 1140px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 20px;
}

.artistas .nav a {
  font-size: 40px;
  font-family: "EncodeSansBold";
  text-transform: uppercase;
  color: #928e8e;
  position: relative;
}

.artistas .slick1 .item,
.artistas .slick2 .item {
  width: 25%;
  position: relative;
}

.artistas .slick1 .item img.foto,
.artistas .slick2 .item img.foto {
  width: 100%;
  display: inline-block;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter .5s ease-in-out;
  transition: -webkit-filter .5s ease-in-out;
  transition: filter .5s ease-in-out;
  transition: filter .5s ease-in-out, -webkit-filter .5s ease-in-out;
}

.artistas .slick1 .item .desc,
.artistas .slick2 .item .desc {
  opacity: 0;
  position: absolute;
  left: 25px;
  bottom: 0px;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.artistas .slick1 .item .desc h3,
.artistas .slick2 .item .desc h3 {
  font-size: 34px;
  font-family: "EncodeSansBold";
  text-shadow: 2px 4px 5px #000;
  text-transform: uppercase;
}

.artistas .slick1 .item .desc p,
.artistas .slick2 .item .desc p {
  font-family: "EncodeSansBold";
  font-size: 24px;
  text-shadow: 2px 4px 5px #000;
  text-transform: uppercase;
}

.artistas .slick1 .item .logo img,
.artistas .slick2 .item .logo img {
  position: absolute;
  top: 10px;
  height: 45px;
  right: 10px;
}

.artistas .slick1 .item:hover img,
.artistas .slick2 .item:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.artistas .slick1 .item:hover .desc,
.artistas .slick2 .item:hover .desc {
  opacity: 1;
}

.artistas .slick1 .item .shadow,
.artistas .slick2 .item .shadow {
  -webkit-box-shadow: inset 0px 0px 45px #ea002a;
          box-shadow: inset 0px 0px 45px #ea002a;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.artistas .slick1 .item:hover .shadow,
.artistas .slick2 .item:hover .shadow {
  opacity: 1;
}

@media (max-width: 1250px) {
  .artistas .nav a {
    font-size: 28px;
  }
}

@media (max-width: 680px) {
  .container-landing .slider .slider-content {
    padding: 20px 0px;
  }

  .artistas {
    padding-bottom: 50px;
  }

  .artistas .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15px;
  }
}

@media (max-width: 680px) {
  .artistas .nav a {
    font-size: 22px;
  }

  .slick-next {
    width: 50px;
    height: 50px;
  }

  .slick-prev {
    width: 50px;
    height: 50px;
  }
}

/* ++++ POST ++++ */

.post-content {
  height: auto;
  width: 100%;
  background-image: url(/images/back_letras2.jpg?c604163ac120d05dc46128abd57d9299);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.post-content .wrapper-posts {
  margin: 0 auto;
  max-width: 1170px;
  height: auto;
}

.post-content h2.title-post {
  font-family: "EncodeSansBold";
  font-size: 45px;
  color: #d91435;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.post-content .wrapper-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post-content .wrapper-post .post {
  width: 41%;
  margin-bottom: 30px;
  position: relative;
}

.post-content .wrapper-post .post .desc {
  width: 480px;
  padding: 20px;
}

.post-content .wrapper-post .post .desc h2 {
  font-family: "EncodeSansBold";
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.post-content .wrapper-post .post .desc p {
  font-family: "EncodeSemiBold";
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
}

.post-content .wrapper-post .post .desc a.button {
  background: #d91435;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  font-family: "EncodeSansBold";
}

.post-content .wrapper-post .post:nth-child(odd):after {
  content: '';
  height: 100%;
  width: 5px;
  background: #d91435;
  position: absolute;
  right: -23%;
  top: 0px;
}

@media (max-width: 1220px) {
  .post-content {
    padding: 0px 30px;
  }

  .post-content .wrapper-post .post .desc {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .post-content h2.title-post {
    font-size: 28px;
  }
}

@media (max-width: 720px) {
  .post-content h2.title-post {
    font-size: 24px;
  }
}

@media (max-width: 660px) {
  .post-content .wrapper-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .post-content .wrapper-post .post {
    width: 80%;
  }

  .post-content .wrapper-post .post:nth-child(odd):after {
    content: '';
    height: 100%;
    width: 0px;
    background: #d91435;
    position: absolute;
    right: -23%;
    top: 0px;
  }
}

@media (max-width: 500px) {
  .post-content {
    padding: 0px 15px;
  }

  .post-content .wrapper-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .post-content .wrapper-post .post {
    width: 100%;
  }

  .post-content .wrapper-post .post .desc a.button {
    font-size: 14px;
  }
}

/* ++++ MODAL PALENQUE ++++ */

.display-block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-modal {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 5%;
}

.my-modal .modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-modal .modal__header,
.my-modal .modal__footer {
  height: 100px;
}

.my-modal .modal__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-modal .modal__content .form-group-register {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-modal .modal__content .form-group-register input {
  width: 48%;
  margin-bottom: 30px;
  height: 50px;
  padding-left: 20px;
  background: #b3b6b9;
  border: none;
}

.my-modal .modal__content .form-group-register input::-webkit-input-placeholder {
  color: #333;
}

.my-modal .modal__content .form-group-register input:-ms-input-placeholder {
  color: #333;
}

.my-modal .modal__content .form-group-register input::-ms-input-placeholder {
  color: #333;
}

.my-modal .modal__content .form-group-register input::placeholder {
  color: #333;
}

.my-modal .modal__content .checkbox-modal {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 25px;
}

.my-modal .modal__content .checkbox-modal label {
  color: #fff;
  font-family: "EncodeSansRegular";
  font-size: 12px;
  margin-left: 5px;
}

.my-modal .modal__content .buttons-modal-register {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-modal .modal__content .buttons-modal-register button {
  background: #d91435;
  color: white;
  padding: 10px 30px;
  margin: 0px 15px;
  border: none;
  cursor: pointer;
}

.my-modal .modal__header {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.my-modal .modal__header h4 {
  color: white;
  text-transform: uppercase;
  color: #d91435;
  font-size: 40px;
  font-family: "EncodeSansBold";
}

.my-modal .modal__header i {
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* ++++ MODAL PAYMENT PALENQUE ++++ */

.display-block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-modal-payment {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 5%;
}

.my-modal-payment .modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-modal-payment .modal__header,
.my-modal-payment .modal__footer {
  height: 100px;
}

.my-modal-payment .modal__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-modal-payment .modal__content .form-group-register {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-modal-payment .modal__content .form-group-register input {
  width: 48%;
  margin-bottom: 30px;
  height: 50px;
  padding-left: 20px;
  background: #b3b6b9;
  border: none;
}

.my-modal-payment .modal__content .form-group-register input::-webkit-input-placeholder {
  color: #333;
}

.my-modal-payment .modal__content .form-group-register input:-ms-input-placeholder {
  color: #333;
}

.my-modal-payment .modal__content .form-group-register input::-ms-input-placeholder {
  color: #333;
}

.my-modal-payment .modal__content .form-group-register input::placeholder {
  color: #333;
}

.my-modal-payment .modal__content .inputs-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
}

.my-modal-payment .modal__content .checkbox-modal {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 25px;
}

.my-modal-payment .modal__content .checkbox-modal label {
  color: #fff;
  font-family: "EncodeSansRegular";
  font-size: 12px;
  margin-left: 5px;
}

.my-modal-payment .modal__content .buttons-modal-register {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-modal-payment .modal__content .buttons-modal-register button {
  background: #d91435;
  color: white;
  padding: 10px 30px;
  margin: 0px 15px;
  border: none;
  cursor: pointer;
}

.my-modal-payment .modal__header {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.my-modal-payment .modal__header h4 {
  color: white;
  text-transform: uppercase;
  color: #d91435;
  font-size: 40px;
  font-family: "EncodeSansBold";
}

.my-modal-payment .modal__header i {
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* ++++ PALENQUE CHINGON ++++ */

.palenque-chingon {
  background: white;
  padding: 60px 0px 30px 0px;
  position: relative;
  height: auto;
}

.palenque-chingon .wrapper-palenque {
  margin: 0 auto;
  max-width: 1140px;
  z-index: 99;
}

.palenque-chingon .wrapper-palenque h2.title1 {
  font-family: "EncodeSansBold";
  font-size: 45px;
  color: #d91435;
  margin-bottom: 20px;
}

.palenque-chingon .wrapper-palenque h2.title2 {
  font-size: 20px;
  color: #333;
  font-family: "EncodeSansRegular";
  margin-bottom: 30px;
}

.palenque-chingon .wrapper-palenque .table-palenque .paquete {
  border-top: 2px solid #d6d6d6;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  position: relative;
}

.palenque-chingon .wrapper-palenque .table-palenque .paquete .title {
  width: 20%;
  font-family: "EncodeSansRegular";
  font-size: 20px;
  color: #333;
}

.palenque-chingon .wrapper-palenque .table-palenque .paquete p {
  width: 50%;
  color: #333;
  font-size: 14px;
  font-family: "EncodeSansRegular";
}

.palenque-chingon .wrapper-palenque .table-palenque .paquete a {
  font-family: "EncodeSansBold";
  font-size: 16px;
  color: #fff;
  background: #d91435;
  padding: 10px 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.palenque-chingon .wrapper-palenque .table-palenque .paquete a:hover {
  background: #333;
  text-decoration: none;
}

.palenque-chingon .wrapper-palenque .table-palenque .paquete a.btn-register {
  background: #333;
}

.palenque-chingon .wrapper-palenque:after {
  content: url(/fonts/caballo_izq_gde.svg?632a42b6adcceb177544f0ea1c702cf9);
  position: absolute;
  right: 0px;
  top: 30px;
  width: 350px;
}

.palenque-chingon .wrapper-palenque:before {
  content: url(/fonts/caballo_der_gde.svg?929e20578ca9fe7de42986e64e9006e2);
  position: absolute;
  left: 0px;
  top: 30px;
  width: 350px;
}

@media (max-width: 1250px) {
  .palenque-chingon .wrapper-palenque {
    padding: 0px 40px;
  }
}

@media (max-width: 950px) {
  .my-modal {
    position: fixed;
  }

  .my-modal .modal__header {
    width: 90%;
  }

  .my-modal .modal__header h4 {
    font-size: 28px;
  }

  .my-modal .modal__content .checkbox-modal {
    width: 90%;
  }

  .my-modal .modal__content .form-group-register {
    width: 90%;
  }

  .palenque-chingon .wrapper-palenque h2.title1 {
    font-size: 28px;
  }
}

@media (max-width: 850px) {
  .palenque-chingon .wrapper-palenque .table-palenque .paquete {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .palenque-chingon .wrapper-palenque .table-palenque .paquete .title {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .palenque-chingon .wrapper-palenque .table-palenque .paquete p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 720px) {
  .palenque-chingon .wrapper-palenque h2.title1 {
    font-size: 24px;
  }

  .palenque-chingon .wrapper-palenque h2.title2 {
    font-size: 18px;
  }

  .palenque-chingon .wrapper-palenque .table-palenque .paquete .title {
    font-size: 18px;
  }
}

@media (max-width: 690px) {
  .palenque-chingon .wrapper-palenque:after {
    width: 0px;
    right: -120px;
    top: 25%;
  }

  .palenque-chingon .wrapper-palenque:before {
    width: 0px;
    left: -120px;
    top: 25%;
  }
}

@media (max-width: 500px) {
  .palenque-chingon .wrapper-palenque .table-palenque .paquete a {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .palenque-chingon .wrapper-palenque {
    padding: 0px 20px;
  }
}

.mapa {
  height: 100%;
  position: relative;
  height: auto;
  width: 100%;
  background-image: url(/images/back-slider-full.jpg?1a546c409d1cf7719f71f85953a9acb2);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.mapa .header {
  height: 140px;
  margin: 0 auto;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mapa .header h2 {
  font-size: 45px;
  font-family: "EncodeSansBold";
  color: #d91435;
}

.mapa .header a {
  background: #d91435;
  font-size: 16px;
  color: white;
  padding: 10px 15px;
  font-family: "EncodeSansBold";
}

.mapa img {
  width: 100%;
  position: relative;
}

@media (max-width: 1180px) {
  .mapa .header {
    padding: 0px 40px;
  }
}

@media (max-width: 950px) {
  .mapa .header {
    height: 110px;
  }

  .mapa .header h2 {
    font-size: 28px;
  }
}

@media (max-width: 720px) {
  .mapa .header h2 {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .mapa .header a {
    font-size: 14px;
  }
}

@media (max-width: 395px) {
  .mapa .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 135px;
  }

  .mapa .header h2 {
    margin-bottom: 15px;
  }
}

.social-content {
  height: auto;
  width: 100%;
  background-image: url(/images/back_letras2.jpg?c604163ac120d05dc46128abd57d9299);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.social-content .wrapper-content h2 {
  font-size: 45px;
  font-family: "EncodeSansBold";
  color: #d91435;
  margin: 0 auto;
  max-width: 1140px;
  padding: 60px 0px 35px 0px;
}

.social-content .wrapper-content .slick3 {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.social-content .wrapper-content .slick3 .slick-prev,
.social-content .wrapper-content .slick3 .slick-next {
  top: 40%;
}

.social-content .wrapper-content .slick3 .slick-prev {
  left: -20px;
}

.social-content .wrapper-content .slick3 .slick-next {
  right: -20px;
}

.social-content .wrapper-content .slick3 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-content .wrapper-content .slick3 .slick-track .slick-slide {
  float: none;
}

.social-content .wrapper-content .slick3 .slick-track .item {
  width: 33% !important;
  position: relative;
  margin: 15px;
}

.social-content .wrapper-content .slick3 .slick-track .item img.foto {
  width: 100%;
  display: inline-block;
  -webkit-transition: -webkit-filter .5s ease-in-out;
  transition: -webkit-filter .5s ease-in-out;
  transition: filter .5s ease-in-out;
  transition: filter .5s ease-in-out, -webkit-filter .5s ease-in-out;
}

.social-content .wrapper-content .slick3 .slick-track .item .desc {
  opacity: 1;
  position: absolute;
  left: 25px;
  bottom: 0px;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-content .wrapper-content .slick3 .slick-track .item .desc h3 {
  font-size: 18px;
  font-family: "EncodeSansBold";
  text-shadow: 2px 4px 5px #000;
  text-transform: uppercase;
}

.social-content .wrapper-content .slick3 .slick-track .item .desc p {
  font-family: "EncodeSansBold";
  font-size: 14px;
  text-shadow: 2px 4px 5px #000;
  text-transform: uppercase;
}

.social-content .wrapper-content .slick3 .slick-track .item .logo img {
  position: absolute;
  top: 10px;
  height: 45px;
  right: 10px;
}

@media (max-width: 1180px) {
  .social-content .wrapper-content h2 {
    padding: 60px 40px 35px 40px;
  }

  .social-content .wrapper-content .slick3 {
    width: 90%;
  }
}

@media (max-width: 950px) {
  .social-content .wrapper-content h2 {
    font-size: 28px;
    padding: 40px 40px 35px 40px;
  }
}

@media (max-width: 720px) {
  .social-content .wrapper-content h2 {
    font-size: 24px;
    padding: 40px 40px 35px 40px;
  }
}

.ubicacion {
  height: auto;
  width: 100%;
  background-image: url(/images/back-slider-full.jpg?1a546c409d1cf7719f71f85953a9acb2);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.ubicacion h2 {
  margin: 0 auto;
  max-width: 1140px;
  padding: 60px 0px;
  font-size: 45px;
  font-family: "EncodeSansBold";
  color: #d91435;
}

.ubicacion #map {
  height: 450px;
}

@media (max-width: 1180px) {
  .ubicacion h2 {
    padding: 40px 40px;
  }
}

@media (max-width: 950px) {
  .ubicacion h2 {
    font-size: 28px;
  }
}

@media (max-width: 720px) {
  .ubicacion h2 {
    font-size: 24px;
  }
}

.container-footer {
  width: 100%;
  height: auto;
  background-image: url(/images/back-slider-full.jpg?1a546c409d1cf7719f71f85953a9acb2);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.container-footer footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1170px;
  padding: 25px 20px;
}

.container-footer footer .wd {
  width: 33%;
}

.container-footer footer p#medida {
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #716f6f;
  font-size: 13px;
  font-family: "EncodeSansRegular";
}

.container-footer footer ul#icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-footer footer ul#icons li {
  margin: 0px 20px;
}

.container-footer footer ul#icons li a i {
  font-size: 21px;
  color: #5a5959;
}

.container-footer footer ul#terminos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-footer footer ul#terminos a {
  margin-bottom: 0px;
  font-size: 14px;
  font-family: "EncodeSansRegular";
  color: #716f6f;
  margin-right: 13px;
  text-decoration: underline;
}

/* ++++ DETAIL POST ++++ */

.container-detail-post {
  width: 100%;
  background-image: url(/images/background-post.jpg?cf6c7fe7605c036870d730cf900f1cf8);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.container-detail-post .wrapper-detail-post {
  background: rgba(255, 255, 255, 0.7);
  max-width: 1140px;
  min-height: 500px;
  margin: 0 auto;
}

.container-detail-post .wrapper-detail-post .title-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-detail-post .wrapper-detail-post .title-arrow i {
  font-size: 24px;
  background: #d91435;
  padding: 16px;
  color: #fff;
}

.container-detail-post .wrapper-detail-post .title-arrow h2 {
  font-family: "EncodeSansBold";
  font-size: 45px;
  color: #d91435;
  padding: 20px;
}

.container-detail-post .wrapper-detail-post a.subtitle {
  color: #d91435;
  font-size: 33px;
  font-family: "EncodeSansBold";
  text-transform: uppercase;
  position: relative;
  margin-left: 60px;
}

.container-detail-post .wrapper-detail-post a.subtitle:before {
  content: url(/fonts/caballo-izq-icon.svg?bcfe93a5050c5801e4a167ebb61a158f);
  position: absolute;
  width: 36px;
  left: -41px;
  top: 3px;
}

.container-detail-post .wrapper-detail-post a.subtitle:after {
  content: url(/fonts/caballo-derecha-icon.svg?7db3e8efb2c244c604a091fbe797a972);
  position: absolute;
  width: 36px;
  right: -41px;
  top: 3px;
}

.container-detail-post .wrapper-detail-post a.subtitle:hover {
  text-decoration: none;
}

.container-detail-post .wrapper-detail-post .content {
  margin-top: 30px;
  padding: 0px 40px;
  padding-bottom: 20px;
}

.container-detail-post .wrapper-detail-post .content .image-portada {
  width: 480px;
  float: right;
  margin: 0px 0px 20px 20px;
}

.container-detail-post .wrapper-detail-post .content .image-portada img {
  width: 100%;
}

.container-detail-post .wrapper-detail-post .content p {
  font-family: "EncodeSansRegular";
  color: #333;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
}

.container-detail-post .wrapper-detail-post .content2 {
  width: 100%;
  margin-top: 20px;
  padding: 0px 40px 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-detail-post .wrapper-detail-post .content2 .text-left {
  width: 70%;
  padding-right: 60px;
}

.container-detail-post .wrapper-detail-post .content2 .text-left p {
  font-family: "EncodeSansRegular";
  color: #333;
  font-size: 14px;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 22px;
}

.container-detail-post .wrapper-detail-post .content2 .text-left h3 {
  font-family: "EncodeSansBold";
  color: #333;
  font-size: 25px;
  margin-bottom: 15px;
}

.container-detail-post .wrapper-detail-post .content2 .requisitos {
  width: 30%;
  padding-top: 5px;
}

.container-detail-post .wrapper-detail-post .content2 .requisitos a.btn-comprar {
  font-family: "EncodeSansBold";
  font-size: 16px;
  color: #fff;
  background: #d91435;
  padding: 10px 40px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 8px;
  position: relative;
}

.container-detail-post .wrapper-detail-post .content2 .requisitos h3 {
  margin-top: 40px;
  font-family: "EncodeSansBold";
  color: #333;
  font-size: 25px;
}

.container-detail-post .wrapper-detail-post .content2 .requisitos ul {
  margin-top: 15px;
}

.container-detail-post .wrapper-detail-post .content2 .requisitos ul li {
  margin-bottom: 9px;
  font-size: 14px;
}

.container-detail-post #map {
  height: 400px;
  position: relative;
}

@media (max-width: 1250px) {
  .container-detail-post .wrapper-detail-post .title-arrow h2 {
    font-size: 28px;
  }

  .container-detail-post .wrapper-detail-post {
    padding: 0px 20px;
  }
}

@media (max-width: 950px) {
  .container-detail-post .wrapper-detail-post .title-arrow h2 {
    font-size: 28px;
  }

  .container-detail-post .wrapper-detail-post a.subtitle {
    font-size: 28px;
  }

  .container-detail-post .wrapper-detail-post .content {
    width: 100%;
    padding: 0px 0px;
  }

  .container-detail-post .wrapper-detail-post .content .image-portada {
    width: 60%;
  }

  .container-detail-post .wrapper-detail-post .content2 {
    width: 100%;
    padding: 0px 0px 40px 0px;
  }

  .container-detail-post .wrapper-detail-post a.subtitle {
    font-size: 28px;
    margin-left: 40px;
  }
}

@media (max-width: 720px) {
  .container-detail-post .wrapper-detail-post .title-arrow i {
    padding: 14px;
  }

  .container-detail-post .wrapper-detail-post .title-arrow h2 {
    font-size: 24px;
  }

  .container-detail-post .wrapper-detail-post a.subtitle {
    font-size: 24px;
  }

  .container-detail-post .wrapper-detail-post .content {
    padding: 0px 0px;
  }

  .container-detail-post .wrapper-detail-post .content .image-portada {
    width: 100%;
  }

  .container-detail-post .wrapper-detail-post .content p {
    width: 100%;
  }

  .container-detail-post .wrapper-detail-post .content .content2 {
    padding: 0px 0px 40px 0px;
  }

  .container-detail-post .wrapper-detail-post .content .content2 .text-left h3 {
    font-size: 24px;
  }
}

@media (max-width: 660px) {
  .container-detail-post .wrapper-detail-post .content2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .container-detail-post .wrapper-detail-post .content2 .text-left {
    width: 100%;
    padding-right: 0px;
  }

  .container-detail-post .wrapper-detail-post .content2 .requisitos {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .container-detail-post .wrapper-detail-post a.subtitle {
    margin-left: 33px;
    margin-right: 55px;
  }

  .container-detail-post .wrapper-detail-post a.subtitle:after {
    width: 30px;
    top: 31px;
    right: -37px;
  }

  .container-detail-post .wrapper-detail-post a.subtitle:before {
    width: 30px;
    left: -36px;
  }
}

.container-sorteo {
  width: 100%;
  height: auto;
  background-image: url(/images/bg-ferias.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.container-sorteo img.logo-feria {
  width: 860px;
  margin-top: 30px;
  padding: 0px 25px;
}

.container-sorteo .content {
  background: rgba(255, 255, 255, 0.7);
  max-width: 1140px;
  min-height: 500px;
  margin: 0 auto;
  padding: 20px;
}

.container-sorteo .content h1 {
  font-family: "EncodeSansBold";
  color: #d91435;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.container-sorteo .content h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 40px;
  font-family: "EncodeSansRegular";
}

.container-sorteo .content h3 {
  font-family: "EncodeSansBold";
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #333;
  font-size: 16px;
}

.container-sorteo .content p {
  padding-bottom: 20px;
  color: #333;
}

.container-sorteo .container-ferias {
  background-position: bottom;
}

@media (max-width: 1250px) {
  .container-sorteo .content h1 {
    font-size: 28px;
  }

  .container-sorteo .content h2 {
    font-size: 18px;
  }
}

@media (max-width: 720px) {
  .container-sorteo .content h1 {
    font-size: 24px;
  }

  .container-sorteo .content h2 {
    font-size: 16px;
  }
}

