.menu-effect
	transform: translateX(0) !important
	transition-duration: 1.2s !important
	&:nth-child(2)
		transition-duration: 1.5s !important
	&:nth-child(3)
		transition-duration: 1.8s !important

.menu-content
	height: 100%
	width: 100%
	top: -100%
	position: fixed
	z-index: 1049
	display: flex
	justify-content: center
	align-items: center
	flex-wrap: wrap
	transition: all .5s ease

	background-image: url(../images/gris.png)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	background-color: #fff
	
	.vertical-menu
		width: 50%
		text-align: center
		li
			margin-bottom: 30px
			transform: translateX(-95vw)
			transition-duration: .5s
			transition: transform 0.8s cubic-bezier(1,0,0,1)
			a
				color: $rojo-titulos
				font-size: 60px
				font-family: $encode-bold

	ul.redes-menu
		width: 55%
		display: flex
		justify-content: center
		align-items: center
		li
			margin: 0px 20px
			a
				color: $rojo-titulos
				font-size: 35px

// ==== RESPONSIVE ====
@media(max-width: 950px)
	.menu-content
		align-content: center
		.vertical-menu
			width: 100%
			padding: 0px 20px
			margin-bottom: 30px
			li
				margin-bottom: 20px
				a
					font-size: 34px
		ul.redes-menu
			li
				a
					i
						font-size: 30px

@media(max-width: 380px)
	ul.vertical-menu
			li
				a
					font-size: 28px !important
						

























