
.modal-lg
	max-width: 70%
	height: 700px
	// height: 70%
.modal-backdrop
	opacity:0.2 !important

.modal-dialog
	margin-top: 30px
.modal-content
	height: 100%
	border-radius: 0
	background-image: url(../images/back-modal.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	.modal-body
		display: flex
		height: 400px
		padding: 60px 0px
		.left
			height: auto
			width: 50%
			display: flex
			justify-content: center
			align-items: center
			img
				width: 160px
		.right
			height: 100%
			width: 50%
			padding: 40px
			border-left: 2px solid $rojo
			form
				height: 100%
				// width: 425px
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				p
					margin-bottom: 30px
					text-align: center
					font-size: 14px
					font-family: $encode-regular
					color: #636161
				.form-group
					display: flex
					margin-bottom: 40px
					input
						background: $rojo
						border: none
						height: 90px
						font-size: 18px
						font-family: $encode-regular
						transition: all 1s ease-in-out
						width: 33.33%
						&::placeholder
							color: white
					.caja_registro
						color: white
						text-align: center
						border: 3px solid white
						&:first-child
							border-right: 0px
						&:nth-child(2)
							border-right: 0px
				button
					// width: 250px
					height: 60px
					padding: 0px 90px
					background: $rojo
					border: 3px solid white
					color: white
					transition: all 0.5s ease-in-out
					cursor: pointer
					i
						margin-right: 8px
					&:hover
						background: #bb1020
				button.facebook
					// margin-top: 40px
					background: #4267B2
					padding: 0px 30px
					height: 60px
					cursor: pointer
					i
						margin-right: 8px
				h3
					margin-top: 20px
					margin-bottom: 15px
					font-size: 16px
					color: #636161
					font-family: $encode-regular
				.avisos
					margin-top: 25px
					a
						font-size: 14px
						color: #636161
						font-family: $encode-regular
						text-decoration: underline
						margin: 0px 5px


// ==== RESPONSIVE ====
@media(max-width: 1280px)
	.modal-content
		.modal-body
			.left
				width: 40%
			.right
				width: 60%

@media(max-width: 1024px)
	.modal-content
		.modal-body
			flex-direction: column
			.right
				border-left: none
				width: 100% 
			.left
				width: 100% 

@media(max-width: 768px)
	.modal-content .modal-body
		.right 
			form 
				button
					padding: 0px 60px !important
				button.facebook
					padding: 0px 20px !important
			.form-group input
				height: 70px !important

@media (max-width: 576px)
	.modal-lg
		max-width: 90%
		height: 600px !important
	.modal-dialog
		margin-top: 100px
		margin: 6% auto
		// margin: 100px auto
		.modal-body
			.right
				padding: 0px 20px
				form
					h3
						font-size: 14px
			.left
				margin-bottom: 40px

@media (max-width: 480px)
	.modal-lg
		height: 600px !important
	.modal-dialog
		margin: 6% auto
		.modal-content
			.modal-body
				padding: 50px 0px
				height: 500px
				.left
					margin-bottom: 40px
				.right
					form
						.avisos
							display: flex
							flex-direction: column
							a
								font-size: 13px
								margin-bottom: 10px
						.form-group
							margin-bottom: 60px
						h3
							margin: 10px 0px
						button, button.facebook
							height: 85px
							font-size: 14px










