a:focus,
a:active,
button:focus,
button:active,
div:focus,
div:active,
select:focus,
select:active,
video:focus,
video:active
{
    outline:0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
}

body {
height: 100%;
width: 100%;
color:#fff;
font-family: 'Montserrat', sans-serif;
font-family: 'Hind', sans-serif;
margin: 0px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/*color:#333333;*/
}

a{
  color:#fff;
}
a:hover{
  color:#fff;
  text-decoration: none;
}
p{
  margin: 0 10px;
  font-family: 'Hind', sans-serif;
}

.theme-showcase .navbar .container {
  width: auto;
}



/* BLOQUE DE TRABAJO */

.cont-areatrabajo{
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}
.cont-areatrabajo-int{
  max-width: 960px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #dfdfdf;
  height: auto;
  overflow: auto;

}
.cont-areatrabajo-int p{
  padding-left:10px;
  padding-right: 10px;
}
/* TERMINA BLOQUE DE TRABAJO */


/*  +++++++ REGISTRO ++++++++ */

.dialog-msg {
   text-align: center;
   font-family: 'Hind';
   color: #ea002a;
   font-size: 18px;
   padding: 20px;
  text-transform: uppercase;
 }

.edad{
  background-image:url("../images/fondo_edad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 900px;
  text-align: center;
}


.registro{
  background-image:url("../images/fondo_registro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 900px;
  text-align: center;
}

.registro_logo{
  padding-top: 20px;

}
.txt_opacity{
font-family: 'Montserrat';
font-weight: 700;
font-size: 12px;
opacity: .6;
}

.txt_opacity a{
text-decoration:underline;
}


.txt_leg{
font-size: 15px;
line-height: 1.5;
font-family: 'Hind', sans-serif;
}

.txt_titulo_registo{
  margin: 0 25px;
  margin-bottom: 15px;
  font-size: 72px;
  line-height: 72px;
  font-family: 'Montserrat';
  font-weight: bolder;
}

.txt_registro{
  font-size: 15px;
}


.caja_registro{
  width: 140px;
  height: auto;
  margin-top: 20px;
  border: 0;
  outline: 0;
  background: transparent;
  color: #cc7076;
  font-size: 24px;
  padding: 5px;
  border-bottom: 2px solid #cc7076;
  text-align: center;
}

.boton_registro {
  width: 220px;
  height: 50px;
  padding: 7px;
  margin: 20px;
  color:#b28600 ;
  background-color: #f1c33e;
  border: 1px solid #f1c33e;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 2px 5px #800f16;
  cursor: pointer;
}

.boton_registro:hover{
  box-shadow: 0px 0px 0px;
}

/* +++++++ HOTEL +++++++ */

/*#videodesk{
  visibility: hidden;
}*/

.hotel{
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
  height: 550px;
  /*padding-top: 65px;*/
  width: 100%;
  text-align: center;
  background: url("/images/hotel_victoria3.jpg")
  no-repeat center center;
  background-color: #1f1e1e;
  background-size: auto 100%;
}

.iconos{
  margin: 50px;
  position: absolute;
  align: left;
  list-style-type: none;
  z-index: 9998;
}

/*.video_player {
    width: 100%;
    height: 680;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

/*.teaser1 {
    display: block;
}

.teaser2 {
    display: none;
}*/

.txt_int{
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Hind';
  font-weight: 400;
  color:#313131;
  line-height: inherit;
  letter-spacing: 1px;
  /*text-align: left;*/
}

.boton_ley{
  width: 227px;
  height: 70px;
  margin-top:30px;
  padding: 7px;
  background-color: #ea002a;
  border: 1px solid #ea002a;
  color:#fff;
  font-size: 16px;
  font-family: 'Hind';
  font-weight:600;
}

.boton_le{
  width: 300px;
  height: 50px;
  margin-top:30px;
  padding: 7px;
  background-color: #ea002a;
  border: 1px solid #ea002a;
  color:#fff;
  font-size: 16px;
  font-family: 'Hind';
  font-weight:600;
}

/*.espacio-nav{
  padding-top: 60px;
}*/
/*  ++++++++ Menu ++++++++ */

.caja_menu{
  height: 65px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  /*background-color:transparent;*/
  background-color:#171515;
  /*opacity: 0.8;*/
  background-color:rgba(0, 0, 0, 0.8);
  /*filter:  alpha(opacity=80);*/
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 700;
  color:#fff;
  text-align:center;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  position:fixed;
  padding: 7px;
}


#btn-menu{
  display: none;
  margin: 5px;
}

.caja_menu label{
  cursor: pointer;
  display: none;
  padding:5px;
  background-color:#171515;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 700;
  color:#fff;
  text-align:center;
}

.menu ul{
  display: flex;
  background-color: transparent;
  list-style: none;
  /*margin-left: -50px;*/
  opacity: 1;
  filter: alpha(opacity=100);
}

.menu li a{
  display: block;
  padding: 15px 20px 10px;
  text-decoration: none;
  color: #fff;
}
.menu li a p:hover{
  border-bottom: 2px solid #ea002a;
  color:#ef2a4e;
}
/*.menu li a:active{
  text-decoration: underline;
  color:#ea002a;
}*/

.menu  li{
  float: left;
}

.menu li ul{
  display:none;
  position: absolute;
  min-width: 10px;
  padding:5px;

}
.menu li:hover > ul{
  display: block;
  background-color: #191919;
}

.menu li ul li{
  position: relative;
}

.menu li ul li ul{
  top:5px;
  right:-150px;
}

.img-hotel{
  padding: 0px;
  justify-content: center;
  background-color: #171515;


}
.ojo{
  width: auto;
  height: 270px;
  /*position: relative;*/
}
.galeria{
  box-shadow: 10px 10px #dc1800;
}

.testimonios{
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.testimonio{
  min-height: 420px;
  /*padding: 20px;*/
  padding-top: 50px;
  width: 100%;
  text-align: center;
  background: url("../images/hotel_testimonio.jpg") no-repeat center center;
  background-color: #ea002a;
  /*
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  */
  background-size: auto 100%;
  text-transform: uppercase;
}

.testimonio_m{
  min-height: 420px;
  padding-top: 50px;
  width: 100%;
  text-align: center;
  background: url("../images/hotel_testimonio_m.jpg") no-repeat center center;
  background-color: #ea002a;
  background-size: auto 100%;
  text-transform: uppercase;
}

.txt_testimonio_m{
  position: relative;
  top: 5%;
  transform: translateY(0);
  padding: 10px;
  font-size: 20px;
  font-style: oblique;
  text-transform: uppercase;
}

.testi_m{
  position: relative;
  top: 5%;
  transform: translateY(5%);
}

.testi{
  position: relative;
  top: 20%;
  transform: translateY(20%);
  /*padding-top: 2.5%*/
}

.txt_testimonio{
  position: relative;
  top: 5%;
  transform: translateY(0);
  width: 70%;
  height: auto;
  padding-left: 30%;
  font-size: 30px;
  text-align: center;
  font-style: oblique;
  text-transform: uppercase;

}
.col-caja{
  min-height: 480px;
  height: auto;
}
.caja_hotel{
  width: 50%;
  height: 240px;
  border: 5px solid #cb0024;
  float: left;
  text-align: center;
  padding: 30px 5px 30px 5px;

}
.caja_hotel:nth-of-type(4){
  border-top:0;
}
.caja_hotel:nth-of-type(3){
  border-top:0;
}
.caja_hotel:nth-of-type(2n){
  border-left:0;
}

.txt_caja_tl{
  font-size: 75px;
  color:#ea002a;
  font-weight: bolder;
  /*padding: 5px;*/
  text-align: center;
}
.txt_caja{
  font-size: 14px;
  color:#313131;
}

.esp-tit{
  padding-top: 0px;
}

.titulos{
  padding-top:40px;
  padding-bottom: 20px;
  width: auto;
  font-size: 36px;
  font-family: 'Montserrat';
  font-weight: 400;
  color:#ea002a;
  font-weight: bolder;
  /*text-align: left;*/
  line-height: normal;
  position: relative;
}
.tit-gira{
  width: auto;
  font-size: 36px;
  color:#ea002a;
  font-weight: bolder;
  text-align: left;
  line-height: normal;
  text-transform: uppercase;
}

.boton_boletos {
  width: 220px;
  height: 50px;
  margin-top:30px;
  padding: 7px;
  background-color: #ea002a;
  border: 1px solid #ea002a;
  color:#fff;
  font-size: 16px;
}

.boton_boletos:hover {
  box-shadow: 2px 2px 3px rgba(234, 0, 42, 0.46);
}

.imag_int{
  padding-top: 40px;
  padding-bottom: 40px;
}


/* +++++++ FOOTER ++++++ */
.total{
  width: 100%;
  padding: 0px;
  text-align: center;
  background-color:#262626;
  height: auto;
  overflow: auto;
  padding-bottom: 30px;
  margin-top: 90px;

}
.footer-bkg{
  width: 100%;
  background-color:#262626;
}
.abajo{
  font-size: 14px;
  color:#313131;
  text-align: center;
  padding-top: 50px;
}

.separador{
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  opacity: 0.3;
  border-bottom: 1px solid;
  height: 10px;
  color: #fff;

}

.legales-a{
  margin-top: 50px;
  text-align: center;
  opacity: 0.3;
  height: 30px;
  margin-bottom: 60px;
  width: 100%;
  font-family: 'Hind';
  font-weight: 400;
  font-size: 14px;
}

.legales-b{
  margin-top: 50px;
  float: left;
  text-align: center;
  opacity: 0.3;
  text-decoration: underline;
  height: 30px;
  margin-bottom: 60px;
  width: 100%;
  font-family: 'Hind';
  font-weight: 400;
  font-size: 14px;
}

.legales-c{
  margin-top: 50px;
  opacity: 0.3;
  height: 30px;
  margin-bottom: 60px;
  text-align: center;
  width: 100%;
}

.legales-b a{
  /*
  opacity: 0.3;
  */
}
.legales-b a:hover{
  text-decoration: underline;
  color:#fff;
  opacity: 1;
}
.legales-b a:active{
  text-decoration: underline;
  color:#ea002a;
  opacity: 1;
}

.flechita{
  margin-left: 5px;
}


/* +++++++ LEYENDAS +++++  */
/* Carrusel */

.stage{
  padding-top: 5px;
  width: 100%;
  min-height: 681px;
  text-align: center;
  background-color:#161313;
}
.carrusel{
  /*padding-top: 5px;*/
  width: 100%;
  min-height: 681px;
}
.leyendas{
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
  height: 550px;
  padding-top: 50px;
  width: 100%;
  text-align: center;
  background: url("../images/hv_ley_01.jpg")
  no-repeat center center;
  background-color: #131111;
  background-size: auto 100%;
}

.ley_uno{
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
  height: 680px;
  padding-top: 50px;
  width: 100%;
  text-align: center;
  background: url("../images/hv_ley_zacatecana.jpg")
  no-repeat center center;
  background-color: #131111;
  background-size: auto 100%;
}

.titulos_ley{
  padding-top:40px;
  padding-bottom: 20px;
  font-size: 70px;
  font-family: 'Montserrat';
  font-weight: 400;
  color:#ea002a;
  font-weight: bolder;
  text-align: center;
}
.titulos_ley_m{
  padding-top:40px;
  padding-bottom: 20px;
  font-size: 40px;
  font-family: 'Montserrat';
  font-weight: 400;
  color:#ea002a;
  font-weight: bolder;
  text-align: center;
}

.txt_ley{
  font-family: 'Hind';
  font-weight: 500;
  font-size: 16px;
  color:#fff;
}
.txt_ley_m{
  font-family: 'Hind';
  font-weight: 500;
  font-size: 13px;
  color:#fff;
}

/* +++++++ El BAR +++++  */

.bar{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  /*margin-bottom: 30px;*/
  height: 550px;
  padding-top: 50px;
  width: 100%;
  text-align: center;
  background: url("../images/hv_elbar.jpg")
  no-repeat center center;
  background-color: #131111;
  background-size: auto 100%;
}


.titulos_bar{
  padding-top:40px;
  padding-bottom: 20px;
  font-size: 40px;
  font-family: 'Montserrat';
  font-weight: 400;
  color:#fff;
  font-weight: bolder;
  text-align: left;
}
.titulos_bar_m{
  padding-top:40px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 400;
  color:#fff;
  font-weight: bolder;
  text-align: left;
}

.boton_bar_m {
  float: left;
  /*padding: 0px 0px 0px 0px;*/
  position: absolute;
  margin-top: -38px;
  /*bottom: 0px !important;*/

}

.boton_bar {
  float: left;
  /*padding: 0px 0px 0px 0px;*/
  position: absolute;
  margin-top: -64px;
  /*bottom: 0px !important;*/

}

/* ++++++ BOLETOS +++++++ */

.boletos{
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
  height: 550px;
  padding-top: 50px;
  width: 100%;
  text-align: center;
  background: url("/images/hv_boletos.jpg")
  no-repeat center center;
  background-color: #131111;
  background-size: auto 100%;
}

.experi{
  height: 290px;
  width: 364px;
  background-color:transparent;
  margin:20px;
  padding: 15px 10px;
}

.experi:hover{
  border:5px solid #fff
}

.experi_m{
  height: 170px;
  width: 260px;
  background-color:transparent;
  padding: 15px;
  margin-bottom: 20px;
}

.experi_m:hover {
  border: 3px solid #fff;
}

.experi2{
  height: 290px;
  width: 364px;
  background-color:transparent;
  margin:20px;
  padding: 15px 10px;
}

.experi2_m{
  height: 170px;
  width: 260px;
  background-color:transparent;
  padding: 15px;
  margin-bottom: 20px;
}

.txt_dama{
  font-size: 14px;
  font-family: 'Hind';
  font-weight: 400;
  line-height: 1.2;
  padding-top: 15px;
}

.txt_titulo_boletos{
  font-size: 35px;
  line-height: 42px;
  font-family: 'Montserrat';
  font-weight: bolder;
  text-align: left;
  color:#fff;
}
.txt_dama_m{
  font-size: 12px;
  font-family:'Hind';
  font-weight: 400;
  line-height: 1.2;
  padding-top: 15px;
}

.txt_titulo_boletos_m{
  font-size: 25px;
  line-height: 1;
  font-family: 'Montserrat';
  font-weight: bolder;
  text-align: left;
  color:#fff;
}

.compra-boletos{
  text-align: right;
}

.caja_boletos{
  /*  width: 33.33%;*/
  height: 115px;
  padding: 20px;
  float: left;
  text-align: left;
  text-transform: uppercase;
}
.caja_boletos2{
  height: auto;
  padding-left: 120px;
  padding-top: 30px;
  float: left;
  text-align: left;
  text-transform: uppercase;
}
.txt_boletos_tl{
  font-size: 42px;
  font-family: 'Montserrat';
  font-weight: bolder;
  color:#333333;
  font-weight: bolder;
}

.txt_boletos_til{
  font-size: 19px;
  font-family: 'Montserrat';
  font-weight: bolder;
  color:#333;
  text-transform: uppercase;
}

.txt_boletos{
  font-family: 'Hind';
  font-weight: 400;
  font-size: 16px;
  color:#666;
  text-align: justify;
}

.txt_boletos_til2{
  font-family: 'Hind';
  font-weight: 700;
  font-size: 20px;
  color:#333;
   text-transform: uppercase;
}

.txt_rojo{
  padding-top:5px;
  font-size: 14px;
  color:#ea002a;
  line-height: normal;
  text-decoration: underline;
  text-transform: uppercase;
}

.txt_rojo2{
  padding-top:5px;
  padding-right: 35px;
  font-family: 'Hind';
  font-weight: 400;
  font-size: 14px;
  color:#ea002a;
  line-height: normal;
  text-decoration: underline;
  text-transform: uppercase;
}

.txt_prox{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  color:#e6e6e6;
  text-transform: uppercase;
}

.boton_agotado {
  width: 220px;
  height: 50px;
  margin-top:30px;
  padding: 7px;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  color:#ccc;
  font-size: 16px;
}

.separador{
  margin-top: 15px;
  border-bottom: 1px solid;
  height: 10px;
  color: #cccccc;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    font-size: 16px;
    color: #ea002a;
    border: none;
    cursor: pointer;
    border:3px solid #ea002a;
    min-width: 220px;
    height: 50px;
    text-align: center;
}

.dropdown {
    margin-top: 5%;
    display: inline-block;
    text-align: center;

}

.dropdown-content {
    text-align:center;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ea002a}

.dropdown:hover .dropdown-content {
    /*display: block;*/
}

/* +++++++ VIDEOS ++++++++*/

.video-responsive {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



.boton_vid{
  width: 179px;
  height: 55px;
  margin:5px;
  padding: 5px;
  background-color: #ea002a;
  border: 1px solid #ea002a;
  color:#fff;
  font-size: 16px;
  font-family: 'Hind';
  font-weight:600;
  float: left;
}

.boton_vid:hover{
  box-shadow: 2px 2px 4px rgba(234, 0, 42, 0.46);
}

.boton_vid_m{
  width: 97px;
  height: 65px;
  margin:20px 2px;
  padding: 2px;
  background-color: #ea002a;
  border: 1px solid #ea002a;
  color:#fff;
  font-size: 16px;
  font-family: 'Hind';
  font-weight:600;
  float: left;
  align-items: center;
}

.boton_vid_m:hover{
  box-shadow: 2px 2px 4px rgba(234, 0, 42, 0.46);
}

.boton_canales{
  width: 90px;
  height: 90px;
  margin:5px;
  padding: 5px;
  border:1px solid #202020;
  background-color:#202020;
  border-radius: 50px;
}

.boton_canales:hover{
  border:3px solid #ea002a;
}

.boton_canales_m{
  width: 85px;
  height: 85px;
  margin:5px;
  padding: 5px;
  border:1px solid #202020;
  background-color:#202020;
  border-radius: 50px;
}

.boton_canales_m:hover{
  border:3px solid #ea002a;
}






/* PRECAUCION */

.precaucion{
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url("../images/precaucion_bg.jpg")
  no-repeat center center;
  background-color: #171414;
  background-size: auto 100%
}

.precaucion_tit{
  padding-top: 540px;
  font-size: 16px;
}

.precaucion_txt{
  padding-top: 5px;
  font-size: 16px;
}

.titulos_prec{
  padding-top:5px;
  padding-bottom: 5px;
  width: auto;
  font-size: 80px;
  color:#ea002a;
  font-weight: bolder;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
}

.abajo_prec{
  margin-top: 15px;
}


.caja_tienda{
  width: 300px;
  height:auto;
  padding: 30px;
  margin-top:30px;
  margin-bottom: 50px;
  margin-left: 90px;
  margin-right: 30px;
  float: left;
  text-align: center;
}

.tien{
padding-left: 5%
}

.boton_tienda {
  width: 150px;
  height: 30px;
  margin-top:5px;
  padding: 5px;
  background-color: #ea002a;
  border: 1px solid #ea002a;
  color:#fff;
  font-size: 12px;
}

.t-shirt {
  max-width: 300px;
  height: auto;
}

.txt_tienda_tl{
  font-size: 20px;
  text-transform: uppercase;
  color:#333333;
  font-weight: bolder;
}
.txt_tienda{
  font-size: 14px;
  color:#313131;
}
.guion{
  padding: 10px;
}

.txt_tienda_abajo{
  font-size: 16px;
  text-transform: uppercase;
  color:#ea002a;
  text-align: center;
  text-decoration: underline #ea002a;
  padding-bottom: 50px;
}


.producto{
  width: 12vw;
  height: 25vh;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  float: left;
}

.til_producto{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color:#333333;
  margin-top: 20px;
}

.precio_producto{
  font-size: 24px;
  text-align: left;
  color:#ea002a;
}

.txt_producto{
  font-size: 16px;
  text-align: left;
  color:#666;
  line-height: 1.8;
}
.dialog-msg {
   text-align: center;
   font-family: 'Hind';
   color: #ea002a;
   font-size: 18px;
   padding: 20px;


 }

@media (max-width:1200px) {

  .caja_menu{
    height: 65px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color:#171515;
    background-color:rgba(0, 0, 0, 0.8);
    font-size: 11px;
    font-family: 'Montserrat';
    font-weight: 700;
    color:#fff;
    text-align:center;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    position:fixed;
    padding: 7px;
  }
  .menu li a{
    display: block;
    padding: 17px 5px;
    text-decoration: none;
    color: #fff;
  }


  .caja_tienda{
    width: 210px;
    height:auto;
    padding: 30px;*/
    margin-top:30px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    float: left;
    text-align: center;
  }
  .caja_otros{
    width: 33.33%;
    height: 240px;
  }

  .tien{
  padding-left: 0%
  }

  .txt_testimonio{
    font-size: 28px;
    width: 90%;
    height: auto;
    padding-left: 15%;
  }

  .testi{
    position: relative;
    top: 8%;
    transform: translateY(8%);
  }


  .ojo{
    margin-bottom: 50px;
    width: auto;
    height:167px;
  }

.txt_otros_tl{
  font-size:30px;
  line-height: normal;
  color:#ea002a;
  font-weight: bolder;
    }

  .titulos{
  font-size: 30px;
  padding-top:20px;
  line-height: 1.4;
}

  .cartel{
    margin-top:5px;
  }

  .txt_boletos_til{
      font-size: 18px;
  }
  .txt_boletos_til2{
      font-size: 20px;
  }
  .dialog-msg {
     text-align: center;
     font-family: 'Hind';
     color: #ea002a;
     font-size: 18px;
     padding: 20px;

   }

@media (max-width:750px) {
  .hotel{
    margin-top: 30px;
    /*background: url("../images/hotel_victoria.jpg")
    no-repeat center center;
    background-color: #1f1e1e;*/
    /*background-size: auto 200px;
    height: 400px;*/
    height:100%;
  }

  .ojo{
    padding-top:50px;
    width: auto;
    height:167px;
    /*align-content: center;*/
  }

  .caja_menu{
    height: 60px;
    /*background-color: transparent;*/
    background-color: #171515;
    width: 100%;
    margin-top:0;
    opacity: 1;
  }

    .caja_menu label{
      display: block;
      padding: 10px;
      background-color:#171515;
      /*opacity: 1;
      filter: alpha(opacity=100);*/
      background-color: transparent;
    }

    .menu{
    position: absolute;
    background-color: #171515;
    top: 60px;
    left: 0;
    width: 100%;
    margin-left: -100%;
    transition: all 0.3s;
    height: 100vh;
    opacity: 1;
    z-index: 9999;
    padding-left: -30px;
    }

    .menu ul{
      flex-direction: column;
      background: #171515;
      margin-left: -50px;
    }

    #btn-menu:checked ~ .menu{
    margin: 0;
  }
  .txt_caja_tl{
    font-size: 60px;
  }

  .esp-tit{
    padding-top: 20px;
  }

  .boton_boletos {
    width: 90%;
    height: 50px;
    margin-top:50px;
  }

  .boton_agotado {
    width: 90%;
    height: 50px;
    margin-top:30px;
  }

  .boton_ley{
    width: 95%;
    height: 60px;
  }
  .boton_le{
    width: 95%;
    height: 60px;
  }

  .compra-boletos{
    text-align: center;
  }
  .imag_int{
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .legales-a, .legales-b, .legales-c{
    text-align: center;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /*min-width: 370px;*/
    height: 5px;
    font-family: 'Hind';
    font-weight: 400;
    font-size: 14px;
  }

  .caja_otros{
    width: 100%;
    height: 220px;
  }
  /*.flecha{
    margin-top: 10%;
    margin-left: 90%;
  }*/
  .txt_otros_tl{
    font-size: 25px;
  }

  .titulos_otros{
    padding-top:20px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .caja_boletos2{
    padding-left: 10px;
  }

  .txt_rojo{
  text-align: center;
  }

  .txt_prox{
  text-align: center;
  }

  .txt_titulo_boletos{
    font-size: 33px;
    line-height: 33px;
  }

  .txt_titulo_registo{
    font-size: 22px;
    line-height: 25px;
    margin-top: 50px;
  }

  .txt_dama{
    margin-top: 30px;
    font-size: 13px;
  }

  .registro{
    background-image:url(../images/mobile/fondo_edad.jpg)
  }
  .otros{
    background:url(../images/mobile/san_marcos.jpg) no-repeat center center;
    height: 425px;
  }

  .leyendas{
    background-color: #131111;
    margin-top: 50px;
    background: url("../images/hv_ley_01_m.jpg")
    no-repeat center center;
    background-size: auto 100%;
  }

  .ley_uno{
    background-color: #131111;
    /*margin-top: 50px;*/
    background: url("../images/hv_ley_zacatecana_m.jpg")
    no-repeat center center;
    background-size: auto 100%;
  }

  .txt_dama{
    margin-top: 10%;
  }
  .precaucion{
    background:url(../images/precaucion_bg.jpg) no-repeat center center;
  }

  .caja_tienda{
    width: 27vw;
    height: auto;
    padding: 2px;
    margin: 2px;
    /*margin-top:5px;
    margin-bottom: 5px;
    margin-left: 5px;*/
  }
  .tien{
  padding-left: 1%
  }

  .txt_tienda_tl{
    font-size: 12px;
  }
  .txt_tienda{
    font-size: 10px;
  }

  .producto{
    width: 22vw;
    height: 20vh;
    padding: 5px;
    margin-bottom: 0;
  }

.txt_titulo_otros{
  margin-top:60px;
  margin-bottom: 10px;
  font-size:40px;
  line-height:40px;
}

.manifiesto{
  padding-bottom: 0;
  margin-bottom:0;
  height: auto;
  width:100%;
  background: url("../images/manifiesto.jpg")
  no-repeat center center;
}

.manifiesto2{
  width: 70%;
  height: auto;
  text-align:left;
  line-height: 1.8;
}

.titulos{
  font-size: 24px;
  padding-top:20px;}

.tit-gira{
  font-size: 24px;
  }

.txt_int{
  font-size: 14px;}

.txt_boletos{
  font-size: 15px;
}
.txt_boletos_til{
    font-size: 15px;
}
.txt_boletos_til2{
    font-size: 18px;
}

.til_producto{
  font-size: 30px;
  margin-top: 30px;
}

.titulos_detalles{
  padding-top:5px;
  font-size: 24px;
}

.titulos_prec{
  padding-top:5px;
  padding-bottom: 5px;
  width: auto;
  font-size: 42px;
}

.precaucion_tit{
  padding-top: 470px;
  font-size: 16px;
}

.caja_registro{
  width: 95px;
  height: auto;
  color: #cc7076;
  margin-top: 10px;
  font-size:25px;
  padding: 10px;
}

.boton_tienda {
  width: 70px;
  height: 20px;
  margin-top:10px;
  padding: 3px;
  background-color: #ea002a;
  border: 1px solid #ea002a;
  color:#fff;
  font-size: 8px;
}

.caja_otros{
  width: 100%;
  height: auto;
  padding: 20px;

}
.caja_otros:nth-of-type(2){
  border: 5px solid #ea002a;
  border-bottom: 0;
}
.caja_otros:nth-of-type(3){
border: 5px solid #ea002a;
  border-bottom: 0;
}
.caja_otros:nth-of-type(4){
  border: 5px solid #ea002a;
    border-bottom: 0;
}

.caja_otros:nth-of-type(5){
border: 5px solid #ea002a;
border-bottom: 0;
}

.caja_otros:nth-of-type(6){
border: 5px solid #ea002a;
border-bottom: 0;
}
.caja_otros:nth-of-type(7){
border: 5px solid #ea002a;
border-bottom: 0;
}
.caja_otros:nth-of-type(8){
border: 5px solid #ea002a;
border-bottom: 0;
}
.caja_otros:nth-of-type(9){
border: 5px solid #ea002a;
border-bottom: 0;
}
.caja_otros:nth-of-type(10){
border: 5px solid #ea002a;
border-bottom: 0;
}
.caja_otros:nth-of-type(11){
border: 5px solid #ea002a;
border-bottom: 0;
}
.caja_otros:nth-of-type(12){
border: 5px solid #ea002a;
border-bottom: 0;
}
.caja_otros:nth-of-type(13){
border: 5px solid #ea002a;
}

.caja_hotel{
  height: 200px;
  padding: 30px 5px 30px 5px;
}

.caja_detall{
  width: 100%;
  height: auto;
  border: 5px solid #ea002a;
}

.caja_detall:nth-of-type(3){
  border: 5px solid #ea002a;
  border-bottom: 0;
}
.caja_detall:nth-of-type(2){
  border: 5px solid #ea002a;
  border-bottom: 0;
}
.cartel{
  margin-top: 5px;
}

.txt_rojo2{
  padding-right:13px;
}

.stanup{
  margin-top: 10px;
  box-shadow: 10px 10px #262626;
}

/*.video_player {
      width: 90%;
      height: auto;
  }
  .teaser1 {
      display: none
  }
  .teaser2 {
      display: block
  }*/

  .txt_opacity{
  font-size: 10px;

  }

}

.dialog-msg {
   text-align: center;
   font-family: 'Hind';
   color: #ea002a;
   font-size: 18px;
   padding: 20px;
   text-transform: uppercase;
 }

 /*.btn-primary {
    background-color: #ea002a !important;
  }*/

  /************** Estílos CMS *****************/

  .cms-subtitle {
    padding-top:40px;
    padding-bottom: 20px;
    width: auto;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 400;
    color:#ea002a;
    font-weight: bolder;
    /*text-align: left;*/
    line-height: normal;
    text-transform: uppercase;
    position: relative;
  }
