@import "mixins";

@primary-color: #f7941e;
@secondary-color: #00a1e0;
@secondary-color-darker: #0675c2;
@gray-color: #9e9fa1;
@gray-light-color: #ebecec;
@dark-color: #333;
@dark-soft-color: #666;
@dark-medium-color: #979797;

@font-family-din-light: 'DIN Light', Arial;
@font-family-din-medium: 'DIN Medium', Arial;
@font-family-pt: 'PT Serif', serif;
@font-size-base: 16px;


@font-face {
    font-family: 'DIN Light';
    src: url('fonts/din-light-webfont.eot');
    src: local('☺'), url('fonts/din-light-webfont.woff') format('woff'),
    url('fonts/din-light-webfont.ttf') format('truetype'),
    url('fonts/din-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DIN Medium';
    src: url('fonts/DINOT-CondMedium.eot?#iefix') format('embedded-opentype'),
    url('fonts/DINOT-CondMedium.otf')  format('opentype'),
    url('fonts/DINOT-CondMedium.woff') format('woff'),
    url('fonts/DINOT-CondMedium.ttf')  format('truetype'),
    url('fonts/DINOT-CondMedium.svg#DINOT-CondMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


*{
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
}

h2{
    font-size: @font-size-base * 2.625;
    line-height: 124%;
}

h4{
    line-height: 144%;
    color: @dark-color;
    margin-bottom: 20px;
    font-size: @font-size-base * 2.625;
}
h5{
    font-size: @font-size-base * 1.75;
    margin-bottom: 20px;
    color: @dark-color;
}

.btn{
    color: #FFF;
    padding: 7px 10px;
    letter-spacing: 0.5px;
    border: 1px solid #FFF;
    background: transparent;
    text-transform: uppercase;
}

.alpha{
    padding-left: 0 !important;
}
.omega{
    padding-right: 0 !important;
}
.alpha-alt{
    padding-left: 7px !important;
}
.omega-alt{
    padding-right: 7px !important;
}

.text-center{
    text-align: center;
}

.top-spacing{
    padding-top: 35px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-bottom-0{
    margin-bottom: 0 !important;
}

.padding-bottom-0{
    padding-bottom: 0 !important;
}

.hidden{
    display: none !important;
}

.relative{
    position: relative;
}

.padding-top-0{
    padding-top: 0 !important;
}
.padding-top-120{
    padding-top: 120px;
}

.padding-100{
    padding: 100px 0;
}

.height-100{
    height: 100px;
    display: block;
}

.height-50{
    height: 50px;
    display: block;
}

.line-height-150{
    line-height: 150%;
}

.width-100{
    width: 100%;
}

.margin-0{
    margin: 0 !important;
}

.generic-text{
    p{
        line-height: 150%;
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .site-content{
        padding: 0;
    }
}