@import url('https://fonts.googleapis.com/css?family=PT+Serif:700');

@import "reset";
@import "mixins";
@import "config";
@import "grid12.css";
@import "font-awesome.min.css";

@color-primary: #dd0e1b;
@color-primary-dark: #840a0d;
@time-transition: 11s;
@time-transition-2: 6s;

body{
    margin: 0;
    padding: 0;
    background: #000;
    letter-spacing: 0.2px;
    font-size: @font-size-base;
    //font-family: @font-family-din-light;
    font-family: @font-family-din-medium;
}

.global-skip-intro{
    left: 50%;
    bottom: 20px;
    z-index: 100;
    position: absolute;
    a{
        color: #FFF;
        font-size: 14px;
        text-decoration: none;
        font-family: 'DIN Medium', Arial;
        margin-left: -30px;
    }
}
.site{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
    background: #000;
    overflow: hidden;
    max-height: 736px;
    position: absolute;
    &>.relative{
        height: 100%;
    }
}

.vertical-aligment{
    top: 50%;
    position: relative;
    .transform(translateY(-50%));
}

hr{
    width: 100%;
    &.big{
        border: 0;
        padding: 0;
        height: 2px;
        margin: 80px 0 20px;
        background: @gray-light-color;
    }
}

.btn{
    font-family: @font-family-din-medium;
}

.front-ui{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 11;
    position: absolute;
    pointer-events: none;
    .transition(opacity 350ms ease-out);
    .elevator-cta{
        left: 50%;
        opacity: 0;
        z-index: 10;
        width: 100px;
        bottom: 50%;
        height: 100px;
        cursor: pointer;
        position: fixed;
        margin: -50px;
        pointer-events: none;
        .transform(translateY(80px));
        .transition(all 600ms ease-out);
        .relative{
            width: 100px;
            height: 100px;
            position: relative;
            .circle-style{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 1;
                width: 150px;
                height: 150px;
                margin: -25px;
                overflow: hidden;
                background: #000;
                position: absolute;
                border-radius: 50%;
                .transform(scale(0.6));
                animation: circle-loop 3s infinite;
                &.circle-1{}
                &.circle-2{ animation-delay: 500ms; }
                &.circle-3{ animation-delay: 1s; }
                &.circle-4{ animation-delay: 1.5s; }
                &.circle-static{
                    margin: 0;
                    z-index: 3;
                    opacity: 1;
                    width: 100px;
                    height: 100px;
                    animation: none;
                    .transform(scale(1));
                }
                @keyframes circle-loop{
                    0%{
                        opacity: 1;
                        .transform(scale(0.6));
                    }
                    100%{
                        opacity: 0;
                        .transform(scale(1.2));
                    }
                }
            }
        }

        &.elevator-exit{
            .relative{
                .circle-static{
                    background: url("../images/icons/elevator-exit.png") center center no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
        &.elevator-enter{
            .relative{
                .circle-static{
                    background: url("../images/icons/elevator-enter.png") center center no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
        &.active{
            opacity: 1;
            pointer-events: all;
            .transform(translateY(0));
        }
    }
    .cancel-infinite{
        left: 0;
        bottom: 0;
        color: #fff;
        cursor: pointer;
        position: absolute;
        padding: 2px 5px;
        background: #000;
        pointer-events: all;
        &.active{
            background: #6dbdff;
        }
    }
    .logo{
        z-index: 10;
        top: 20px;
        left: 20px;
        width: 75px;
        position: absolute;
        .relative{
            width: 100%;
            img{
                z-index: 3;
                width: 100%;
                position: relative;
                &.logo-shadow{
                    top: 0;
                    left: 0;
                    z-index: 1;
                    position: absolute;
                    margin: 10px 0 0 10px;
                }
            }
        }

        h1{
            display: none;
        }
    }
    .mute-songs{
        top: 20px;
        z-index: 10;
        right: 20px;
        width: 44px;
        padding: 9px;
        position: absolute;
        cursor: pointer;
        pointer-events: all;
        img{
            width: 100%;
        }
        .volume_on{
            display: block;
        }
        .volume_off{
            display: none;
        }
        &.active{
            .volume_off{
                display: block;
            }
            .volume_on{
                display: none;
            }
        }
    }


    .scroll-horizontal{
        left: 0;
        right: 0;
        opacity: 0;
        margin: auto;
        bottom: 100px;
        position: absolute;
        text-align: center;
        .transition( opacity 300ms ease-in-out);
        .black {
            background: #000;
            overflow: hidden;
            position: relative;
            .border-radius(20px);
            display: inline-block;
            .wrapper{
                z-index: 1;
                position: relative;
                .text{
                    color: #FFF;
                    font-size: 12px;
                    padding: 10px 35px;
                    text-transform: uppercase;
                    font-family: @font-family-din-medium;

                    &:before{
                        z-index: 1;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: '';
                        position: absolute;
                        .animation( horizontal-animation-2-rev 3s infinite);
                        background: -moz-linear-gradient(left, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 0%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, rgba(0,0,0,1) 100%,rgba(0,0,0,0) 0%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, rgba(0,0,0,1) 100%,rgba(0,0,0,0) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    }
                    &:after{
                        z-index: 2;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: '';
                        background: #000;
                        position: absolute;
                        .animation(horizontal-animation-rev 3s infinite);
                    }
                }
                &:before{
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    position: absolute;
                    .animation( horizontal-animation-2 3s infinite);
                    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
                }
                &:after{
                    z-index: 2;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    background: #000;
                    position: absolute;
                    .animation(horizontal-animation 3s infinite);
                }
                @keyframes horizontal-animation{
                    0%{
                        right: 0;
                    }
                    100%{
                        right: 99%;
                    }
                }
                @keyframes horizontal-animation-2{
                    0%{
                        left: 99%;
                        right: -100%;
                    }
                    100%{
                        left: 0;
                        right: 100%;
                    }
                }
                @keyframes horizontal-animation-rev{
                    0%{
                        left: 0;
                    }
                    100%{
                        left: 99%;
                    }
                }
                @keyframes horizontal-animation-2-rev{
                    0%{
                        right: 99%;
                        left: -100%;
                    }
                    100%{
                        right: 0;
                        left: 100%;
                    }
                }
            }
            &:after{
                z-index: 2;
                top: 8px;
                left: 7px;
                width: 8px;
                content: '';
                height: 22px;
                position: absolute;
                background: url('../images/icons/arrow-left.png') center center;
                background-size: cover;
                .animation(horizontal-left-arrow 3s infinite);
                @keyframes horizontal-left-arrow{
                    0%{
                        left: 30%;
                    }
                    80%{
                        left: 7px;
                    }
                    100%{
                        left: 7px;
                    }
                }
            }
            &:before{
                z-index: 2;
                top: 8px;
                right: 7px;
                width: 8px;
                content: '';
                height: 22px;
                position: absolute;
                background: url('../images/icons/arrow-left.png') center center;
                background-size: cover;
                .transform(rotate(180deg));
                .animation(horizontal-right-arrow 3s infinite);
                @keyframes horizontal-right-arrow{
                    0%{
                        right: 30%;
                    }
                    80%{
                        right: 7px;
                    }
                    100%{
                        right: 7px;
                    }
                }
            }
        }
        &.active{
            opacity: 1;
        }
    }

    .scroll-vertical{
        opacity: 0;
        right: -20px;
        bottom: 50%;
        //bottom: 110px;
        margin-bottom: -19px;
        position: absolute;
        .transition( opacity 300ms ease-in-out);
        .black{
            background: #000;
            overflow: hidden;
            .border-radius(20px);
            .transform(rotate(90deg));
            //transform-origin: left top 0;
            .wrapper{
                z-index: 1;
                position: relative;
                .text{
                    color: #FFF;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 10px 15px 10px 35px;
                    font-family: @font-family-din-medium;
                }
                &:before{
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    position: absolute;
                    .animation( horizontal-animation-2 3s infinite);
                    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
                }
                &:after{
                    z-index: 2;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    background: #000;
                    position: absolute;
                    .animation(horizontal-animation 3s infinite);
                }
            }
            &:after{
                z-index: 2;
                top: 8px;
                left: 7px;
                width: 8px;
                content: '';
                height: 22px;
                position: absolute;
                background: url('../images/icons/arrow-left.png') center center;
                background-size: cover;
                .animation(horizontal-left-arrow 3s infinite);
            }
        }
        &.active{
            opacity: 1;
        }
    }

    .volume-recomendation{
        left: 0;
        right: 0;
        top: 50%;
        opacity: 1;
        z-index: 20;
        width: 300px;
        position: absolute;
        pointer-events: all;
        margin: -150px auto 0;
        .transition(opacity 450ms ease-in-out);
        &>.text{
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 200px;
            height: 170px;
            text-align: center;
            position: absolute;
            img{
                width: 100%;
                margin: 0 auto;
                display: block;
                max-width: 150px;
            }
            p{
                color: #FFF;
                font-size: 17px;
                line-height: 115%;
                text-transform: uppercase;
                &.second{
                    font-size: 13.2px;
                }
            }
        }
        .loading{
            margin-top: 10px;
            .span-inline{
                color: #FFF;
                font-size: 11px;
                display: inline-block;
                vertical-align: middle;
                text-transform: uppercase;
            }
            .loader-bar{
                width: 100px;
                height: 10px;
                display: block;
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                .border-radius(20px);
                padding: 0 5px;
                //background: @color-primary-dark;
                background: #000;
                .padding{
                    position: relative;
                    .line{
                        left: 0;
                        width: 0;
                        top: 4px;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        .transition(width 300ms ease-in-out);
                        &:after{
                            content: '';
                            top: -2px;
                            right: 0;
                            width: 6px;
                            height: 6px;
                            background: #FFF;
                            overflow: hidden;
                            position: absolute;
                            .border-radius(50%);
                        }
                    }
                }
            }
            .loader{
                display: inline-block;
                vertical-align: middle;
            }
        }
        .ready{
            margin-top: 15px;
        }
        .relative{
            z-index: 1;
            width: 300px;
            height: 300px;
            position: relative;
            .circle-style{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 1;
                margin: auto;
                width: 300px;
                height: 300px;
                overflow: hidden;
                position: absolute;
                border-radius: 50%;
                .transform(scale(0.7));
                background: @color-primary;
                animation: circle-loop 3s infinite;
                &.circle-1{}
                &.circle-2{ animation-delay: 500ms; }
                &.circle-3{ animation-delay: 1s; }
                &.circle-4{ animation-delay: 1.5s; }
                &.circle-static{
                    opacity: 1;
                    width: 230px;
                    height: 230px;
                    animation: none;
                    .transform(scale(1));
                }
                @keyframes circle-loop{
                    0%{
                        opacity: 1;
                        .transform(scale(0.7));
                    }
                    100%{
                        opacity: 0;
                        .transform(scale(1.2));
                    }
                }
            }
        }
        &.byebye{
            opacity: 0;
            pointer-events: none;
        }
    }

    .massive-click{
        opacity: 0;
        //right: 20px;
        color: #FFF;
        left: 50%;
        bottom: 50%;
        width: 130px;
        height: 130px;
        margin: -65px;
        position: absolute;
        border-radius: 50%;
        pointer-events: none;
        background: rgba(0,0,0,0.7);
        .transform(translateX(0) translateY(0));
        .transition(opacity 500ms ease-in-out);
        .padding{
            padding: 15px;
            position: relative;
        }
        .black-circle{
            width: 100px;
            height: 100px;
            background: #000;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            text-align: center;
            .text{
                top: 50%;
                font-size: 10px;
                position: relative;
                text-transform: uppercase;
                .transform(translateY(-50%));
                .text-2{
                    display: none;
                }
            }
        }
        .white-circle{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            margin: auto;
            width: 100px;
            height: 100px;
            overflow: hidden;
            position: absolute;
            border-radius: 50%;
            border: 1px solid #fff;
            .transform(scale(0.5));
            animation: white-circle 3s infinite linear;
        }
        .vertical-line{
            left: 50%;
            z-index: 2;
            width: 1px;
            top: 2px;
            height: 20px;
            background: #FFF;
            position: absolute;
        }

        .arc{
            right: 0;
            bottom: 0;
            width: 130px;
            height: 130px;
            position: absolute;

            #svg circle {
                stroke-dashoffset: 0;
                transition: stroke-dashoffset 1s linear;
                stroke-width: 15px;
                stroke: transparent;
            }
            #svg #bar {
                stroke: @color-primary;
            }
            #cont {
                width: 130px;
                height: 130px;
                display: block;
                position: relative;
                border-radius: 100%;
                box-shadow: 0 0 1em black;
                .transform(rotate(-90deg));
            }
        }

        &.active{
            opacity: 1;
            pointer-events: all;
        }
        &.move-1{
            .transform(translateX(10px) translateY(5px));
        }
        &.move-2{
            .transform(translateX(-5px) translateY(-10px));
        }
        &.move-3{
            .transform(translateX(5px) translateY(-10px));
        }
        &.move-4{
            .transform(translateX(-10px) translateY(5px));
        }
    }

    .hand-clicker{
        left: 0;
        right: 53%;
        z-index: 10;
        height: 62%;
        bottom: -65%;
        position: absolute;
        max-height: 1000px;
        .transition(all 300ms ease-in-out);
        background: url('../images/scenes/arm.png') right bottom no-repeat;
        background-size: auto 100%;
        &.active{
            bottom: -14.7%;
        }
        &.click{
            right: 52%;
            bottom: -13.4%;
        }
    }

    &.byebye{
        opacity: 0;
    }
}

.site{
    background: #000;
    header{
        top: 0;
        left: 0;
        right: 0;
        color: #FFF;
        z-index: 9000;
        position: fixed;
    }
    .fake-header{
        height: 80px;
    }

    .site-content{
        height: 100%;
        background: #000;
        &>.content{
            height: 100%;

            .floors-divs{
                opacity: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                position: relative;
                //.transition(opacity 300ms ease-out);
                section{
                    height: 100%;
                    padding: 0 20px;
                    background: #000;
                    position: relative;
                    &.no-padding{
                        padding-left: 0;
                        padding-right: 0;
                    }
                    &:before{
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        content: '';
                        height: 100%;
                        position: absolute;
                        .transition(opacity 300ms ease-in-out);
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+92,ffffff+92,ffffff+100&0+0,0.38+93,0+100 */
                        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 92%, rgba(255,255,255,0.8) 93%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 92%,rgba(255,255,255,0.8) 93%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 92%,rgba(255,255,255,0.8) 93%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
                    }
                }
                &.active{
                    opacity: 1;
                    section{
                        &:before{
                            opacity: 1;
                        }
                    }
                }
                &.animate-fake-up{
                    .transform(translateY(0));
                    .transition(transform 8s ease-in-out);
                }
                &.block-scroll{
                    overflow: hidden;
                }
            }
        }
    }

    .home-block{
        opacity: 1;
        color: #FFF;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        overflow: hidden;
        position: absolute;
        //background: rgb(19, 19, 19);
        font-family: @font-family-din-medium;
        .vertical-aligment{
            z-index: 3;
            width: 100%;
            text-align: center;
            &>.text{
                opacity: 1;
                .transform(scale(1));
                .transition(all 600ms ease-in-out);
                h1{
                    font-size: 24px;
                    margin: 0 0 20px 0;
                }
                //p{
                //    font-size: 14px;
                //    margin-bottom: 20px;
                //}
                .loading{
                    .span-inline{
                        margin-right: 10px;
                        margin-bottom: 16px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .cta{
                    button{
                        cursor: pointer;
                        font-size: 20px;
                        padding: 7px 15px;
                        color: @color-primary;
                        background: transparent;
                        border: 2px solid @color-primary;
                    }
                }
                &.byebye{
                    opacity: 0;
                    .transform(scale(1.05));
                }
            }
        }

        #scene{
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 1;
            position: absolute;
            .transform(translateY(0));
            .transition(all 2200ms ease-in-out);
            &.byebye{
                opacity: 0;
                .transform(translateY(-100%)) !important;
            }
        }

        #specks {
            position: absolute;
            z-index: 999;
            height: 100%;
            width: 100vw;
        }

        .speck {
            opacity: 0;
            height: 4px;
            width: 4px;
            background: url('../images/dust/particle.png');
            background-size: cover;
            position: absolute;
            border-radius: 10px;
            z-index: 99;
        }

        .img {
            position: absolute;
            height: 100000px;
            width: 100000px;
            top: -8500px;
            left: -8000px;
            animation-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
            animation-name: float;
            animation-iteration-count: infinite;
        }

        #img-1 {
            opacity: 0.25;
            background: url('../images/dust/clean_dust_1.png');
            background-repeat: repeat;
            animation-duration: 600s;
        }

        #img-2 {
            opacity: 0.2;
            background: url('../images/dust/clean_dust_2.png');
            background-repeat: repeat;
            animation-duration: 450s;
        }

        #img-3 {
            opacity: 0.15;
            background: url('../images/dust/dust-complete-2.jpg');
            background-repeat: repeat;
            animation-duration: 350s;
        }

        &.byebye{
            opacity: 0;
            .text{
                .transform(scale(0.8));
            }
        }
        &.disabled{

        }

        .scenes{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            width: 100%;
            margin: auto;
            height: 100%;
            overflow: hidden;
            //position: absolute;
            position: fixed;

            &:before{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                content: '';
                z-index: 99;
                position: absolute;
                pointer-events: none;
                background: rgba(0,0,0,0.9);
            }

            &.blinking-1{
                &:before{
                    .animation(blink-medium 1500ms ease-in-out infinite);
                }
                .keyframes(blink-medium;{
                    0%{
                        opacity: 0;
                    }
                    45%{
                        opacity: 0;
                    }
                    50%{
                        opacity: 1;
                    }
                    55%{
                        opacity: 1;
                    }
                    60%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 0;
                    }
                });
            }
            &.blinking-2{
                &:before{
                    .animation(blink-hard 1000ms ease-in-out infinite);
                }
                .keyframes(blink-hard;{
                    0%{
                        opacity: 0;
                    }
                    45%{
                        opacity: 0;
                    }
                    46%{
                        opacity: 1;
                    }
                    48%{
                        opacity: 1;
                    }
                    49%{
                        opacity: 0;
                    }
                    75%{
                        opacity: 0;
                    }
                    76%{
                        opacity: 1;
                    }
                    78%{
                        opacity: 1;
                    }
                    79%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 0;
                    }
                });
            }
            .vignette{
                z-index: 11;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                pointer-events: none;
                background: url("../images/scenes/vignette-hard.png") center center no-repeat;
                background-size: 100% 100%;
            }
            .scene{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                z-index: 10;
                width: 100%;
                //background: #000;
                position: absolute;
                pointer-events: none;
                .transition(opacity 1350ms ease-in-out);
                .comic-text{
                    left: 0;
                    right: 0;
                    bottom: 15%;
                    z-index: 11;
                    margin: auto;
                    text-align: center;
                    position: absolute;
                    .transform(skewX(-20deg) scale(0));
                    .transition(all 1s 5s ease-in-out);
                    .rec{
                        max-width: 75%;
                        font-size: 12px;
                        background: #000;
                        line-height: 140%;
                        text-align: center;
                        font-weight: bold;
                        display: inline-block;
                        padding: 11px 10px 9px;
                        text-transform: uppercase;
                    }
                    &.byebye{
                        .transition(all 1s ease-in-out) !important;
                        .transform(skewX(-20deg) scale(0)) !important;
                    }
                }
                .elevator-numbers{
                    left: 0;
                    right: 0;
                    top: 9.2%;
                    z-index: 3;
                    width: 100%;
                    position: absolute;
                    text-align: center;
                    ul{
                        li{
                            color: #000;
                            margin: 0 1%;
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            font-family: @font-family-pt;
                            &.active{
                                color: #FFF;
                                &:before{
                                    top: -25%;
                                    left: -50%;
                                    /* right: -50%; */
                                    /* bottom: -25%; */
                                    content: '';
                                    width: 200%;
                                    height: 150%;
                                    position: absolute;
                                    background: url('../images/icons/spray-active.png') center bottom no-repeat;
                                    background-size: 100% 100%;
                                }
                            }
                        }
                    }
                }
                &.scene-1{
                    .dama{
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 5;
                        width: 100%;
                        height: 57%;
                        margin: auto;
                        position: absolute;
                        max-height: 1400px;
                        .transform(scale(1));
                        .transition(all @time-transition-2 ease-in-out);
                        background: url("../images/scenes/01-dama.png") center center no-repeat;
                        background-size: auto 100%;
                    }
                    .dante{
                        z-index: 6;
                        left: -200%;
                        width: 200%;
                        bottom: -20%;
                        height: 80%;
                        position: absolute;
                        max-height: 1400px;
                        .transform(scale(1) rotate(-16deg));
                        .transition(all (@time-transition-2 - (@time-transition-2 * 0.5)) (@time-transition-2 * 0.2) ease-in-out);
                        transform-origin: bottom center;
                        background: url("../images/scenes/01-dante.png") center center no-repeat;
                        background-size: auto 100%;
                    }
                    .backgrounds{
                        bottom: 0;
                        left: -100%;
                        width: 210%;
                        height: 100%;
                        position: absolute;
                        max-height: 1400px;
                        .transform(scale(1));
                        .transition(all @time-transition-2 ease-in-out);
                        &.background-1{
                            z-index: 1;
                            background: url("../images/scenes/background-1.jpg") center center no-repeat;
                            background-size: auto 100%;
                        }
                    }
                    .comic-text {
                        .transition(all 1s 2s ease-in-out);
                    }
                    &.active{
                        .dama{
                            .transform(scale(1.3));
                        }
                        .dante{
                            left: -100%;
                            bottom: -10%;
                            .transform(scale(1) rotate(2deg));
                        }
                        .backgrounds {
                            .transform(scale(1.1));
                        }
                        .comic-text{
                            .transform(skewX(-20deg) scale(1));
                        }
                    }
                }
                &.scene-2{
                    .backgrounds{
                        bottom: 0;
                        left: -100%;
                        width: 210%;
                        height: 100%;
                        position: absolute;
                        max-height: 1400px;
                        //.transform(scale(1));
                        //.transition(all @time-transition ease-in-out);
                        &.background-4{
                            z-index: 2;
                            background: url("../images/scenes/background-4.jpg") center center no-repeat;
                            background-size: auto 100%;
                        }
                    }
                    .black{
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 3;
                        position: absolute;
                        background: rgba(0,0,0,0);
                    }
                    .dante, .door, .door-2, .arm{
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        position: absolute;
                    }
                    .dante{
                        z-index: 4;
                        width: 150%;
                        background: url("../images/scenes/02-dante.png") top right no-repeat;
                        background-size: auto 100%;
                    }
                    .door{
                        right: 30%;
                        z-index: 5;
                        background: url("../images/scenes/02-door.png") center right no-repeat;
                        background-size: auto 100%;
                    }
                    .door-2{
                        left: 50%;
                        z-index: 5;
                        background: url("../images/scenes/02-door-2.png") center left no-repeat;
                        background-size: auto 100%;
                    }
                    .arm{
                        z-index: 6;
                        width: 200%;
                        background: url("../images/scenes/02-hand.png") center right no-repeat;
                        background-size: auto 100%;
                    }

                    &.active{
                        .comic-text{
                            .transform(skewX(-20deg) scale(1));
                        }
                        .dante{
                            .animation(dante-enter 10s linear);
                            animation-fill-mode: forwards;
                            .keyframes(dante-enter;{
                                0%{
                                    opacity: 0;
                                }
                                25% {
                                    opacity: 0;
                                    .transform(translateY(0) translateX(-10%));
                                }
                                26% {
                                    opacity: 1;
                                    .transform(translateY(0) translateX(-10%));
                                }
                                70%{
                                    opacity: 1;
                                    .transform(translateY(-2%) translateX(5%));
                                }
                                100%{
                                    opacity: 1;
                                    .transform(translateY(-2%) translateX(10%));
                                }
                            });
                        }
                        .arm{
                            .animation(arm-enter 10s linear);
                            animation-fill-mode: forwards;
                            .keyframes(arm-enter;{
                                0%{
                                    .transform(translateY(-100%));
                                }
                                29% {
                                    right: -30%;
                                    .transform(translateY(-100%));
                                }
                                30% {
                                    right: -30%;
                                    .transform(translateY(0));
                                }
                                33% {
                                    right: -31%;
                                    .transform(translateY(0));
                                }
                                35% {
                                    right: -30%;
                                    .transform(translateY(0));
                                }
                                60%{
                                    right: 60%;
                                    .transform(translateY(0));
                                }
                                100%{
                                    right: 70%;
                                    .transform(translateY(0));
                                }
                            });
                        }
                        .door{
                            .animation(door-block 10s linear);
                            animation-fill-mode: forwards;
                            .keyframes(door-block;{
                                0%{
                                    right: 30%;
                                }
                                30% {
                                    right: 0;
                                }
                                35% {
                                    right: 0;
                                }
                                60%{
                                    right: 100%;
                                }
                                100%{
                                    right: 100%;
                                }
                            });
                        }
                        .door-2{
                            .animation(door-block-2 10s linear);
                            animation-fill-mode: forwards;
                            .keyframes(door-block-2;{
                                0%{
                                    left: 90%;
                                }
                                30% {
                                    left: 50%;
                                }
                                35% {
                                    left: 50%;
                                }
                                60%{
                                    left: 90%;
                                }
                                100%{
                                    left: 90%;
                                }
                            });
                        }
                        .black{
                            .animation(black-background 10s ease-in-out);
                            animation-fill-mode: forwards;
                            .keyframes(black-background;{
                                0%{
                                    background: rgba(0,0,0,0);
                                }
                                30% {
                                    background: rgba(0,0,0,0.7);
                                }
                                50%{
                                    background: rgba(0,0,0,0);
                                }
                                100%{
                                    background: rgba(0,0,0,0);
                                }
                            });
                        }
                    }
                }
                &.scene-3 {
                    &:after{
                        content: '';
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        z-index: 99;
                        height: 100%;
                        background: #000;
                        position: absolute;
                    }
                    .backgrounds {
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        max-height: 1400px;
                        //.transform(scale(1));
                        //.transition(all @time-transition ease-in-out);
                        &.background-5 {
                            z-index: 2;
                            background: url('../images/scenes/elevator-no-doors.png') center bottom no-repeat;
                            background-size: auto 95%;
                            &:after{
                                bottom: 0;
                                width: 78%;
                                content: '';
                                //right: -29.5%;
                                right: -24.5%;
                                height: 84.1%;
                                position: absolute;
                                background: url('../images/scenes/door-right.jpg') left bottom no-repeat;
                                background-size: auto 95%;
                                .transition(right 2s ease-in-out);
                            }
                            &:before{
                                bottom: 0;
                                width: 78%;
                                content: '';
                                //left: -27.5%;
                                left: -32%;
                                height: 84.1%;
                                position: absolute;
                                background: url('../images/scenes/door-left.jpg') right bottom no-repeat;
                                background-size: auto 95%;
                                .transition(left 2s ease-in-out);
                            }
                        }
                    }
                    .outside{
                        opacity: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        max-height: 1400px;
                        background: url('../images/scenes/background-6.jpg') center center no-repeat;
                        background-size: auto 95%;
                    }
                    .dante, .dama{
                        z-index: 5;
                        left: 40%;
                        bottom: 0;
                        width: 100%;
                        height: 68%;
                        position: absolute;
                        max-height: 1400px;
                        //.transform(scale(1) rotate(-16deg));
                        //.transition(all (@time-transition - 2.5s) 0.5s ease-in-out);
                        //transform-origin: center center;
                        background: url("../images/scenes/03-dante.png") center center no-repeat;
                        background-size: auto 100%;
                    }
                    .dama{
                        left: 0;
                        z-index: 4;
                        background: url("../images/scenes/03-dama.png") left center no-repeat;
                        background-size: auto 100%;
                    }
                    #dialog3, #dialog4{
                        .transition(all 1s ease-in-out);
                        &.active{
                            .transform(skewX(-20deg) scale(1));
                        }
                    }
                    &.little-blink{
                        &:after{
                            opacity: 1;
                        }
                    }
                    &.alt{
                        .outside{
                            opacity: 1;
                        }
                        .dante{
                            background: url("../images/scenes/04-dante.png") center center no-repeat;
                            background-size: auto 100%;

                        }
                        .dama{
                            left: 10%;
                            background: url("../images/scenes/04-dama.png") left center no-repeat;
                            background-size: auto 100%;
                        }
                    }
                    &.doors-open{
                        .backgrounds {
                            &.background-5 {
                                &:after{
                                    right: -79.5%;
                                }
                                &:before{
                                    left: -77.5%;
                                }
                            }
                        }
                    }
                    &.go-out{
                        .dante{
                            left: 20%;
                            .transition(left (@time-transition - @time-transition/1.5) (@time-transition/5) ease-in-out);
                        }
                        .dama{
                            left: -50%;
                            .transition(left (@time-transition / 2) ease-in-out);
                        }
                    }
                }
                &.scene-4{
                    overflow: auto;
                    .flashing-black{
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 9;
                        opacity: 0;
                        position: absolute;
                        pointer-events: none;
                        background: rgba(0,0,0,0.8);
                        .animation(flash-low 5s infinite);
                        @keyframes flash-low {
                            0%, 48%, 54%, 100% { opacity: 0 }
                            78%, 84%      { opacity: 0 }
                            50%, 80%      { opacity: 1 }
                        }
                    }
                    .pano{
                        width: 100%;
                        height: 100%;
                        .wrapper{
                            width: 100%;
                            height: 100%;
                            overflow: auto;
                            text-align: center;
                            .aux{
                                height: 100%;
                                position: relative;
                                white-space: nowrap;
                            }
                            .mob{
                                z-index: 2;
                                right: 26%;
                                height: 46%;
                                bottom: 4%;
                                position: absolute;
                                .transform(rotate(0));
                                .transition(all 5s ease-in-out);
                                &.pre-active{
                                    right: 25.5%;
                                    bottom: 1.5%;
                                    .transform(rotate(-10deg));
                                }
                                &.active{
                                    right: 24%;
                                    bottom: -20%;
                                    .transition(all 200ms ease-in);
                                    .transform(rotate(-80deg));
                                }
                            }
                            .bg{
                                height: 100%;
                                margin: 0 auto;
                                display: block;
                            }
                        }
                    }
                    .comic-text{
                        .transition(all 1s ease-in-out);
                        &.active{
                            .transform(skewX(-20deg) scale(1));
                        }
                    }
                }
                &.scene-5 {
                    .backgrounds {
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        max-height: 1400px;
                        //.transform(scale(1));
                        //.transition(all @time-transition ease-in-out);
                        &.background-5 {
                            z-index: 2;
                            background: url('../images/scenes/elevator-no-doors.png') center bottom no-repeat;
                            background-size: auto 95%;
                            &:after{
                                bottom: 0;
                                width: 78%;
                                content: '';
                                //right: -29.5%;
                                right: -24.5%;
                                height: 84.1%;
                                position: absolute;
                                background: url('../images/scenes/door-right.jpg') left bottom no-repeat;
                                background-size: auto 95%;
                                .transition(right 2s ease-in-out);
                            }
                            &:before{
                                bottom: 0;
                                width: 78%;
                                content: '';
                                //left: -27.5%;
                                left: -32%;
                                height: 84.1%;
                                position: absolute;
                                background: url('../images/scenes/door-left.jpg') right bottom no-repeat;
                                background-size: auto 95%;
                                .transition(left 2s ease-in-out);
                            }
                        }
                    }
                    .elevator-numbers{
                        z-index: 5;
                    }

                    .last-bg{
                        bottom: 0;
                        z-index: 1;
                        left: -50%;
                        right: -50%;
                        margin: auto;
                        height: 95vh;
                        position: absolute;
                        max-height: 1400px;
                    }
                    .hand{
                        left: 0;
                        right: 20%;
                        z-index: 2;
                        bottom: -50%;
                        height: 50vh;
                        position: absolute;
                        max-height: 1000px;
                        .transition(all 300ms ease-in-out);
                        background: url('../images/scenes/arm.png') right bottom no-repeat;
                        background-size: auto 100%;
                        &.active{
                            bottom: -35.7%;
                        }
                        &.click{
                            right: 18.3%;
                            bottom: -35.1%;
                        }
                    }
                    .arm-left, .arm-right{
                        z-index: 2;
                        width: 100%;
                        height: 50%;
                        bottom: -50%;
                        position: absolute;
                        max-height: 1000px;
                        .transform(rotate(0));
                        .transition(all 1.5s ease-in-out);
                        transform-origin: 100% 0;
                        &.active{
                            bottom: 0;
                        }
                        &.active-2{
                            .transition(all 2s ease-in-out);
                            bottom: -30%;
                        }
                    }
                    .arm-left{
                        left: -40%;
                        background: url('../images/scenes/hand-left.png') left bottom no-repeat;
                        background-size: auto 100%;
                    }
                    .arm-right{
                        right: -40%;
                        background: url('../images/scenes/hand-right.png') right bottom no-repeat;
                        background-size: auto 100%;
                    }
                    .black-shadow{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 9;
                        opacity: 0;
                        background: rgba(0,0,0,0.8);
                        .transition(all 4s ease-in-out);
                        &.fade-in{
                            opacity: 1;
                        }
                        &.fade-out{
                            opacity: 0;
                            .transition(opacity 150ms ease-in-out);
                        }
                        &.fade-in-2{
                            opacity: 1;
                            background: rgba(0,0,0,1);
                            .transition(opacity 1ms ease-in-out);
                        }
                    }

                    .blood-splash{
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        z-index: 10;
                        position: absolute;
                        background: url('../images/scenes/blood.png') center center no-repeat;
                        background-size: auto 100%;
                        &.active{
                            opacity: 1;
                        }
                        &.byebye{
                            .transition(opacity 1ms ease-in-out);
                            opacity: 0;
                        }
                    }

                    .comic-text{
                        .transition(all 1s ease-in-out);
                        &.active{
                            .transform(skewX(-20deg) scale(1));
                        }
                    }

                    &.active{
                        .dante{
                            left: 20%;
                        }
                        .dama{
                            left: -40%;
                        }
                    }
                }

                &.scene-6{
                    .backgrounds {
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 3;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        max-height: 1400px;
                        //.transform(scale(1));
                        //.transition(all @time-transition ease-in-out);
                        &.background-8 {
                            z-index: 2;
                            background: url('../images/scenes/elevator-black.png') center bottom no-repeat;
                            background-size: auto 95%;
                            &:after{
                                bottom: 0;
                                width: 78%;
                                content: '';
                                //right: -29.5%;
                                right: -24.5%;
                                height: 84.1%;
                                position: absolute;
                                background: url('../images/scenes/door-right-black.jpg') left bottom no-repeat;
                                background-size: auto 95%;
                                .transition(right 3s ease-in-out);
                            }
                            &:before{
                                bottom: 0;
                                width: 78%;
                                content: '';
                                //left: -27.5%;
                                left: -32%;
                                height: 84.1%;
                                position: absolute;
                                background: url('../images/scenes/door-left-black.jpg') right bottom no-repeat;
                                background-size: auto 95%;
                                .transition(left 3s ease-in-out);
                            }
                        }
                    }
                    &.open{
                        .backgrounds{
                            &.background-8 {
                                &:after{
                                    right: -80%;
                                }
                                &:before{
                                    left: -80%;
                                }
                            }
                        }
                    }

                    .last-dama-1, .last-dama-2, .last-dama-3{
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        z-index: 5;
                        height: 100%;
                        max-height: 1300px;
                        position: absolute;
                        .transition(opacity 100ms ease-in-out);
                        &.active{
                            opacity: 1;
                        }
                    }
                    .last-dama-1{
                        background: url('../images/scenes/last-dama-1.png') center bottom no-repeat;
                        background-size: auto 100%;
                    }
                    .last-dama-2{
                        background: url('../images/scenes/last-dama-2.png') center bottom no-repeat;
                        background-size: auto 100%;
                    }
                    .last-dama-3{
                        background: url('../images/scenes/last-dama-3.png') center bottom no-repeat;
                        background-size: auto 100%;
                    }

                    .cal-to-action, .cuenta-la-leyenda{
                        top: 50%;
                        left: 50%;
                        z-index: 2;
                        opacity: 0;
                        width: 100%;
                        color: #FFF;
                        max-width: 300px;
                        line-height: 150%;
                        text-align: center;
                        position: absolute;
                        text-transform: uppercase;
                        .transform(translate(-50%, -50%) scale(0.95));
                        .transition(all 3s ease-out);
                        strong{
                            display: block;
                            margin: 10px 0;
                            font-size: 130%;
                            i {
                                color: #EEDDE0;
                                text-shadow: 0 0 30px #EC637B,
                                0 0 10px rgba(230, 161, 173, 0.41),
                                0 0 100px #E6A1AD,
                                5px 9px 5px rgba(0, 0, 0, 0.5);
                                &.off {
                                    color: rgba(46, 46, 46, 0.61);
                                    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
                                }
                            }
                            &.red{
                                color: @color-primary;
                            }
                        }
                        .tachado{
                            text-decoration: line-through;
                        }
                        .btn{
                            border: 0;
                            margin-top: 15px;
                            padding: 13px 30px;
                            text-decoration: none;
                            display: inline-block;
                            background: @color-primary;
                        }
                        &.active{
                            opacity: 1;
                            .transform(translate(-50%, -50%) scale(1));
                        }
                        &.byebye{
                            opacity: 0;
                            .transition(all 350ms ease-out);
                        }
                    }
                    .black-bg{
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        width: 100%;
                        background: #000;
                        position: absolute;
                    }
                }

                &.up-black{
                    &:before{
                        z-index: 5;
                        top: 0;
                        left: 0;
                        right: 0;
                        height: 5%;
                        content: '';
                        background: #000;
                        position: absolute;
                    }
                }
                &.active{
                    opacity: 1;
                    pointer-events: all;
                    &.scene-3{
                        pointer-events: none;
                    }
                }
                &.byebye{
                    opacity: 0;
                }
            }
        }
        &.no-interact{
            pointer-events: none;
        }
    }
}


@media (min-width: 768px) {
    .site .home-block .scenes{
        border: 1px inset #000;
    }

    .site .home-block .scenes .scene .comic-text .rec{
        font-size: 20px;
        padding: 11px 20px;
    }

    .site .home-block .scenes .scene.scene-1 .backgrounds{
        left: 0;
        width: 100%;
    }
    .site .home-block .scenes .scene.scene-1 .dante{
        .transition(all (@time-transition-2 - (@time-transition-2 * 0.3)) (@time-transition-2 * 0.2) ease-in-out);
    }
    .site .home-block .scenes .scene.scene-1.active .dante{
        left: -80%;
    }
    .site .home-block .scenes .scene.scene-1 .dama{
        left: 10%;
    }

    .scroll-vertical {
        .black {;
            .transform(rotate(-90deg));
        }
    }

    .site .home-block .scenes .scene.scene-2{
        .backgrounds{
            top: 0;
            left: 0;
            width: 100%;
            margin: auto;
            background-size: cover !important;
        }
        .door{
            right: 60%;
        }
        &.active{
            &.active{
                .comic-text{
                    .transform(skewX(-20deg) scale(1));
                }
                .dante{
                    .animation(dante-enter 10s linear);
                    width: 100%;
                    background-position: top left;
                    animation-fill-mode: forwards;
                    .keyframes(dante-enter;{
                        0%{
                            opacity: 0;
                        }
                        25% {
                            opacity: 0;
                            .transform(translateY(0) translateX(-10%));
                        }
                        26% {
                            opacity: 1;
                            .transform(translateY(0) translateX(-10%));
                        }
                        70%{
                            opacity: 1;
                            .transform(translateY(-2%) translateX(0%));
                        }
                        100%{
                            opacity: 1;
                            .transform(translateY(-2%) translateX(5%));
                        }
                    });
                }
                .arm{
                    width: 100%;
                    .animation(arm-enter 10s linear);
                    animation-fill-mode: forwards;
                    .keyframes(arm-enter;{
                        0%{
                            .transform(translateY(-100%));
                        }
                        29% {
                            left:  -40%;
                            .transform(translateY(-100%));
                        }
                        30% {
                            left:  -40%;
                            .transform(translateY(0));
                        }
                        33% {
                            left:  -41%;
                            .transform(translateY(0));
                        }
                        35% {
                            left:  -40%;
                            .transform(translateY(0));
                        }
                        70%{
                            left:  -65%;
                            .transform(translateY(0));
                        }
                        100%{
                            left:  -70%;
                            .transform(translateY(0));
                        }
                    });
                }
                .door{
                    .animation(door-block-big 10s linear);
                    animation-fill-mode: forwards;
                    .keyframes(door-block-big;{
                        0%{
                            right: 60%;
                        }
                        30% {
                            right: 50%;
                        }
                        35% {
                            right: 50%;
                        }
                        70%{
                            right: 75%;
                        }
                        100%{
                            right: 80%;
                        }
                    });
                }
                .door-2{
                    .animation(door-block-2-big 10s linear);
                    animation-fill-mode: forwards;
                    .keyframes(door-block-2-big ;{
                        0%{
                            left: 100%;
                        }
                        30% {
                            left: 85%;
                        }
                        35% {
                            left: 84%;
                        }
                        60%{
                            left: 100%;
                        }
                        100%{
                            left: 100%;
                        }
                    });
                }
            }
        }
    }


    .site .home-block .scenes .scene.scene-3{
        .dama, .dante{
            height: 67%;
        }
        .dante{
            left: 20%;
        }
        .dama{
            left: 40%;
        }
        .backgrounds.background-5{
            &:before, &:after{
                width: 22.6%;
                height: 84.1%;
                .transition(width 2s ease-in-out);
            }
            &:after{
                //background-position: right bottom;
                right: 30.4%;
                background-position: left bottom;
            }
            &:before{
                //left: 24.2%;
                //background-position: left bottom;
                left: 24.2%;
                background-position: right bottom;
            }
        }
        &.alt{
            .dante{
                background: url("../images/scenes/04-dante.png") center center no-repeat;
                background-size: auto 100%;
            }
            .dama{
                left: 40%;
                background: url("../images/scenes/04-dama.png") left center no-repeat;
                background-size: auto 100%;
            }
        }

        &.doors-open{
            .backgrounds{
                &.background-5{
                    &:after{
                        width: 0;
                        right: 30.4%;
                        //right: -79.5%;
                    }
                    &:before{
                        width: 0;
                        left: 24.2%;
                        //left: -77.5%;
                    }
                }
            }
        }
        &.go-out{
            .dante{
                left: 10%;
                //.transition(left (@time-transition - @time-transition/1.5) (@time-transition/5) ease-in-out);
            }
            .dama{
                left: 26%;
                //.transition(left (@time-transition / 2) ease-in-out);
            }
        }
    }


    .site .home-block .scenes .scene.scene-4{
        overflow: initial;
        .pano{
            overflow: initial;
            .wrapper{
                overflow: auto;
            }
        }
    }


    .site .home-block.no-interact .scenes .scene.active{
        pointer-events: none;
    }
    .site .home-block.no-interact .scenes .scene.scene-4.active{
        pointer-events: all;
    }

    .site .site-content > .content .floors-divs section{
        max-width: 1000px;
        margin: 0 auto;
        display: block;
    }

    .front-ui .elevator-cta{
        bottom: 50%;
        width: 150px;
        height: 150px;
        position: absolute;
        margin-left: -75px;
        margin-bottom: -75px;
        .relative .circle-style{
            width: 200px;
            height: 200px;
            margin: -25px;
            &.circle-static{
                width: 150px;
                height: 150px;
            }
        }
    }

    .site .home-block .scenes .scene.scene-5 .backgrounds.background-5{
        &:before, &:after{
            height: 84.1%;
        }
    }

    .site .home-block .scenes .scene.scene-5{
        .arm-left{
            left: 0;
            &.active-2{
                bottom: -20%;
            }
        }
        .arm-right{
            right: 0;
            &.active-2{
                bottom: -20%;
            }
        }
    }

    .site .home-block .scenes .scene.scene-6{
        .backgrounds.background-8{
            &:before, &:after{
                width: 22.6%;
                height: 84.1%;
                .transition(width 2s ease-in-out);
            }
            &:after{
                //background-position: right bottom;
                right: 30.4%;
                background-position: left bottom;
            }
            &:before{
                //left: 24.2%;
                //background-position: left bottom;
                left: 24.2%;
                background-position: right bottom;
            }
        }

        &.open{
            .backgrounds{
                &.background-8{
                    &:after{
                        width: 0;
                        right: 30.4%;
                        //right: -79.5%;
                    }
                    &:before{
                        width: 0;
                        left: 24.2%;
                        //left: -77.5%;
                    }
                }
            }
        }
    }

    .site .home-block .scenes .scene.scene-5 .backgrounds.background-5:before{
        left: -31.2%;
    }
    .site .home-block .scenes .scene.scene-5 .backgrounds.background-5:after{
        right: -25%;
    }
}


@media (max-width: 480px) {
    .site .home-block .scenes .scene.scene-3 .backgrounds.background-5:before{
        left: -32.3%;
    }

    .site .home-block .scenes .scene.scene-3 .backgrounds.background-5:after{
        right: -25%;
    }
}

@keyframes white-circle {
    0% {
        opacity: 1;
        .transform(scale(0));
    }
    50% {
        opacity: 1;
        .transform(scale(0.5));
    }
    100% {
        opacity: 0;
        .transform(scale(1));
    }
}