@import url('https://fonts.googleapis.com/css?family=PT+Serif:700');
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
@import "grid12.css";
@import "font-awesome.min.css";
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@font-face {
  font-family: 'DIN Light';
  src: url('fonts/din-light-webfont.eot');
  src: local('☺'), url('fonts/din-light-webfont.woff') format('woff'), url('fonts/din-light-webfont.ttf') format('truetype'), url('fonts/din-light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DIN Medium';
  src: url('fonts/DINOT-CondMedium.eot?#iefix') format('embedded-opentype'), url('fonts/DINOT-CondMedium.otf') format('opentype'), url('fonts/DINOT-CondMedium.woff') format('woff'), url('fonts/DINOT-CondMedium.ttf') format('truetype'), url('fonts/DINOT-CondMedium.svg#DINOT-CondMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
h2 {
  font-size: 42px;
  line-height: 124%;
}
h4 {
  line-height: 144%;
  color: #333;
  margin-bottom: 20px;
  font-size: 42px;
}
h5 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}
.btn {
  color: #FFF;
  padding: 7px 10px;
  letter-spacing: 0.5px;
  border: 1px solid #FFF;
  background: transparent;
  text-transform: uppercase;
}
.alpha {
  padding-left: 0 !important;
}
.omega {
  padding-right: 0 !important;
}
.alpha-alt {
  padding-left: 7px !important;
}
.omega-alt {
  padding-right: 7px !important;
}
.text-center {
  text-align: center;
}
.top-spacing {
  padding-top: 35px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.hidden {
  display: none !important;
}
.relative {
  position: relative;
}
.padding-top-0 {
  padding-top: 0 !important;
}
.padding-top-120 {
  padding-top: 120px;
}
.padding-100 {
  padding: 100px 0;
}
.height-100 {
  height: 100px;
  display: block;
}
.height-50 {
  height: 50px;
  display: block;
}
.line-height-150 {
  line-height: 150%;
}
.width-100 {
  width: 100%;
}
.margin-0 {
  margin: 0 !important;
}
.generic-text p {
  line-height: 150%;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .site-content {
    padding: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  background: #000;
  letter-spacing: 0.2px;
  font-size: 16px;
  font-family: 'DIN Medium', Arial;
}
.global-skip-intro {
  left: 50%;
  bottom: 50px;
  z-index: 100;
  position: absolute;
}
.global-skip-intro a {
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
  font-family: 'DIN Medium', Arial;
  margin-left: -30px;
}
.site {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
  background: #000;
  overflow: hidden;
  max-height: 736px;
  position: absolute;
}
.site > .relative {
  height: 100%;
}
.vertical-aligment {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
hr {
  width: 100%;
}
hr.big {
  border: 0;
  padding: 0;
  height: 2px;
  margin: 80px 0 20px;
  background: #ebecec;
}
.btn {
  font-family: 'DIN Medium', Arial;
}
.front-ui {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 11;
  position: absolute;
  pointer-events: none;
  -webkit-transition: opacity 350ms ease-out;
  -moz-transition: opacity 350ms ease-out;
  -ms-transition: opacity 350ms ease-out;
  -o-transition: opacity 350ms ease-out;
  transition: opacity 350ms ease-out;
}
.front-ui .elevator-cta {
  left: 50%;
  opacity: 0;
  z-index: 10;
  width: 100px;
  bottom: 50%;
  height: 100px;
  cursor: pointer;
  position: fixed;
  margin: -50px;
  pointer-events: none;
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}
.front-ui .elevator-cta .relative {
  width: 100px;
  height: 100px;
  position: relative;
}
.front-ui .elevator-cta .relative .circle-style {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  width: 150px;
  height: 150px;
  margin: -25px;
  overflow: hidden;
  background: #000;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  animation: circle-loop 3s infinite;
}
.front-ui .elevator-cta .relative .circle-style.circle-2 {
  animation-delay: 500ms;
}
.front-ui .elevator-cta .relative .circle-style.circle-3 {
  animation-delay: 1s;
}
.front-ui .elevator-cta .relative .circle-style.circle-4 {
  animation-delay: 1.5s;
}
.front-ui .elevator-cta .relative .circle-style.circle-static {
  margin: 0;
  z-index: 3;
  opacity: 1;
  width: 100px;
  height: 100px;
  animation: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@keyframes circle-loop {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.front-ui .elevator-cta.elevator-exit .relative .circle-static {
  background: url("../images/icons/elevator-exit.png") center center no-repeat;
  background-size: 100% 100%;
}
.front-ui .elevator-cta.elevator-enter .relative .circle-static {
  background: url("../images/icons/elevator-enter.png") center center no-repeat;
  background-size: 100% 100%;
}
.front-ui .elevator-cta.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.front-ui .cancel-infinite {
  left: 0;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  position: absolute;
  padding: 2px 5px;
  background: #000;
  pointer-events: all;
}
.front-ui .cancel-infinite.active {
  background: #6dbdff;
}
.front-ui .logo {
  z-index: 10;
  top: 20px;
  left: 20px;
  width: 75px;
  position: absolute;
}
.front-ui .logo .relative {
  width: 100%;
}
.front-ui .logo .relative img {
  z-index: 3;
  width: 100%;
  position: relative;
}
.front-ui .logo .relative img.logo-shadow {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  margin: 10px 0 0 10px;
}
.front-ui .logo h1 {
  display: none;
}
.front-ui .mute-songs {
  top: 20px;
  z-index: 10;
  right: 20px;
  width: 44px;
  padding: 9px;
  position: absolute;
  cursor: pointer;
  pointer-events: all;
}
.front-ui .mute-songs img {
  width: 100%;
}
.front-ui .mute-songs .volume_on {
  display: block;
}
.front-ui .mute-songs .volume_off {
  display: none;
}
.front-ui .mute-songs.active .volume_off {
  display: block;
}
.front-ui .mute-songs.active .volume_on {
  display: none;
}
.front-ui .scroll-horizontal {
  left: 0;
  right: 0;
  opacity: 0;
  margin: auto;
  bottom: 100px;
  position: absolute;
  text-align: center;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.front-ui .scroll-horizontal .black {
  background: #000;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
}
.front-ui .scroll-horizontal .black .wrapper {
  z-index: 1;
  position: relative;
}
.front-ui .scroll-horizontal .black .wrapper .text {
  color: #FFF;
  font-size: 12px;
  padding: 10px 35px;
  text-transform: uppercase;
  font-family: 'DIN Medium', Arial;
}
.front-ui .scroll-horizontal .black .wrapper .text:before {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  -webkit-animation: horizontal-animation-2-rev 3s infinite;
  -moz-animation: horizontal-animation-2-rev 3s infinite;
  animation: horizontal-animation-2-rev 3s infinite;
  background: -moz-linear-gradient(left, #000000 100%, rgba(0, 0, 0, 0) 0%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 100%, rgba(0, 0, 0, 0) 0%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 100%, rgba(0, 0, 0, 0) 0%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.front-ui .scroll-horizontal .black .wrapper .text:after {
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #000;
  position: absolute;
  -webkit-animation: horizontal-animation-rev 3s infinite;
  -moz-animation: horizontal-animation-rev 3s infinite;
  animation: horizontal-animation-rev 3s infinite;
}
.front-ui .scroll-horizontal .black .wrapper:before {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  -webkit-animation: horizontal-animation-2 3s infinite;
  -moz-animation: horizontal-animation-2 3s infinite;
  animation: horizontal-animation-2 3s infinite;
  background: -moz-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
}
.front-ui .scroll-horizontal .black .wrapper:after {
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #000;
  position: absolute;
  -webkit-animation: horizontal-animation 3s infinite;
  -moz-animation: horizontal-animation 3s infinite;
  animation: horizontal-animation 3s infinite;
}
@keyframes horizontal-animation {
  0% {
    right: 0;
  }
  100% {
    right: 99%;
  }
}
@keyframes horizontal-animation-2 {
  0% {
    left: 99%;
    right: -100%;
  }
  100% {
    left: 0;
    right: 100%;
  }
}
@keyframes horizontal-animation-rev {
  0% {
    left: 0;
  }
  100% {
    left: 99%;
  }
}
@keyframes horizontal-animation-2-rev {
  0% {
    right: 99%;
    left: -100%;
  }
  100% {
    right: 0;
    left: 100%;
  }
}
.front-ui .scroll-horizontal .black:after {
  z-index: 2;
  top: 8px;
  left: 7px;
  width: 8px;
  content: '';
  height: 22px;
  position: absolute;
  background: url('../images/icons/arrow-left.png') center center;
  background-size: cover;
  -webkit-animation: horizontal-left-arrow 3s infinite;
  -moz-animation: horizontal-left-arrow 3s infinite;
  animation: horizontal-left-arrow 3s infinite;
}
@keyframes horizontal-left-arrow {
  0% {
    left: 30%;
  }
  80% {
    left: 7px;
  }
  100% {
    left: 7px;
  }
}
.front-ui .scroll-horizontal .black:before {
  z-index: 2;
  top: 8px;
  right: 7px;
  width: 8px;
  content: '';
  height: 22px;
  position: absolute;
  background: url('../images/icons/arrow-left.png') center center;
  background-size: cover;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: horizontal-right-arrow 3s infinite;
  -moz-animation: horizontal-right-arrow 3s infinite;
  animation: horizontal-right-arrow 3s infinite;
}
@keyframes horizontal-right-arrow {
  0% {
    right: 30%;
  }
  80% {
    right: 7px;
  }
  100% {
    right: 7px;
  }
}
.front-ui .scroll-horizontal.active {
  opacity: 1;
}
.front-ui .scroll-vertical {
  opacity: 0;
  right: -20px;
  bottom: 50%;
  margin-bottom: -19px;
  position: absolute;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.front-ui .scroll-vertical .black {
  background: #000;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.front-ui .scroll-vertical .black .wrapper {
  z-index: 1;
  position: relative;
}
.front-ui .scroll-vertical .black .wrapper .text {
  color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 15px 10px 35px;
  font-family: 'DIN Medium', Arial;
}
.front-ui .scroll-vertical .black .wrapper:before {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  -webkit-animation: horizontal-animation-2 3s infinite;
  -moz-animation: horizontal-animation-2 3s infinite;
  animation: horizontal-animation-2 3s infinite;
  background: -moz-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
}
.front-ui .scroll-vertical .black .wrapper:after {
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #000;
  position: absolute;
  -webkit-animation: horizontal-animation 3s infinite;
  -moz-animation: horizontal-animation 3s infinite;
  animation: horizontal-animation 3s infinite;
}
.front-ui .scroll-vertical .black:after {
  z-index: 2;
  top: 8px;
  left: 7px;
  width: 8px;
  content: '';
  height: 22px;
  position: absolute;
  background: url('../images/icons/arrow-left.png') center center;
  background-size: cover;
  -webkit-animation: horizontal-left-arrow 3s infinite;
  -moz-animation: horizontal-left-arrow 3s infinite;
  animation: horizontal-left-arrow 3s infinite;
}
.front-ui .scroll-vertical.active {
  opacity: 1;
}
.front-ui .volume-recomendation {
  left: 0;
  right: 0;
  top: 50%;
  opacity: 1;
  z-index: 20;
  width: 300px;
  position: absolute;
  pointer-events: all;
  margin: -150px auto 0;
  -webkit-transition: opacity 450ms ease-in-out;
  -moz-transition: opacity 450ms ease-in-out;
  -ms-transition: opacity 450ms ease-in-out;
  -o-transition: opacity 450ms ease-in-out;
  transition: opacity 450ms ease-in-out;
}
.front-ui .volume-recomendation > .text {
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 170px;
  text-align: center;
  position: absolute;
}
.front-ui .volume-recomendation > .text img {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 150px;
}
.front-ui .volume-recomendation > .text p {
  color: #FFF;
  font-size: 17px;
  line-height: 115%;
  text-transform: uppercase;
}
.front-ui .volume-recomendation > .text p.second {
  font-size: 13.2px;
}
.front-ui .volume-recomendation .loading {
  margin-top: 10px;
}
.front-ui .volume-recomendation .loading .span-inline {
  color: #FFF;
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.front-ui .volume-recomendation .loading .loader-bar {
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 5px;
  background: #000;
}
.front-ui .volume-recomendation .loading .loader-bar .padding {
  position: relative;
}
.front-ui .volume-recomendation .loading .loader-bar .padding .line {
  left: 0;
  width: 0;
  top: 4px;
  height: 2px;
  background: #fff;
  position: absolute;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
.front-ui .volume-recomendation .loading .loader-bar .padding .line:after {
  content: '';
  top: -2px;
  right: 0;
  width: 6px;
  height: 6px;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.front-ui .volume-recomendation .loading .loader {
  display: inline-block;
  vertical-align: middle;
}
.front-ui .volume-recomendation .ready {
  margin-top: 15px;
}
.front-ui .volume-recomendation .relative {
  z-index: 1;
  width: 300px;
  height: 300px;
  position: relative;
}
.front-ui .volume-recomendation .relative .circle-style {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  margin: auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  background: #dd0e1b;
  animation: circle-loop 3s infinite;
}
.front-ui .volume-recomendation .relative .circle-style.circle-2 {
  animation-delay: 500ms;
}
.front-ui .volume-recomendation .relative .circle-style.circle-3 {
  animation-delay: 1s;
}
.front-ui .volume-recomendation .relative .circle-style.circle-4 {
  animation-delay: 1.5s;
}
.front-ui .volume-recomendation .relative .circle-style.circle-static {
  opacity: 1;
  width: 230px;
  height: 230px;
  animation: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@keyframes circle-loop {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.front-ui .volume-recomendation.byebye {
  opacity: 0;
  pointer-events: none;
}
.front-ui .massive-click {
  opacity: 0;
  color: #FFF;
  left: 50%;
  bottom: 50%;
  width: 130px;
  height: 130px;
  margin: -65px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateX(0) translateY(0);
  -moz-transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  -o-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}
.front-ui .massive-click .padding {
  padding: 15px;
  position: relative;
}
.front-ui .massive-click .black-circle {
  width: 100px;
  height: 100px;
  background: #000;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  text-align: center;
}
.front-ui .massive-click .black-circle .text {
  top: 50%;
  font-size: 10px;
  position: relative;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.front-ui .massive-click .black-circle .text .text-2 {
  display: none;
}
.front-ui .massive-click .white-circle {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  margin: auto;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  animation: white-circle 3s infinite linear;
}
.front-ui .massive-click .vertical-line {
  left: 50%;
  z-index: 2;
  width: 1px;
  top: 2px;
  height: 20px;
  background: #FFF;
  position: absolute;
}
.front-ui .massive-click .arc {
  right: 0;
  bottom: 0;
  width: 130px;
  height: 130px;
  position: absolute;
}
.front-ui .massive-click .arc #svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke-width: 15px;
  stroke: transparent;
}
.front-ui .massive-click .arc #svg #bar {
  stroke: #dd0e1b;
}
.front-ui .massive-click .arc #cont {
  width: 130px;
  height: 130px;
  display: block;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 0 1em black;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.front-ui .massive-click.active {
  opacity: 1;
  pointer-events: all;
}
.front-ui .massive-click.move-1 {
  -webkit-transform: translateX(10px) translateY(5px);
  -moz-transform: translateX(10px) translateY(5px);
  -ms-transform: translateX(10px) translateY(5px);
  -o-transform: translateX(10px) translateY(5px);
  transform: translateX(10px) translateY(5px);
}
.front-ui .massive-click.move-2 {
  -webkit-transform: translateX(-5px) translateY(-10px);
  -moz-transform: translateX(-5px) translateY(-10px);
  -ms-transform: translateX(-5px) translateY(-10px);
  -o-transform: translateX(-5px) translateY(-10px);
  transform: translateX(-5px) translateY(-10px);
}
.front-ui .massive-click.move-3 {
  -webkit-transform: translateX(5px) translateY(-10px);
  -moz-transform: translateX(5px) translateY(-10px);
  -ms-transform: translateX(5px) translateY(-10px);
  -o-transform: translateX(5px) translateY(-10px);
  transform: translateX(5px) translateY(-10px);
}
.front-ui .massive-click.move-4 {
  -webkit-transform: translateX(-10px) translateY(5px);
  -moz-transform: translateX(-10px) translateY(5px);
  -ms-transform: translateX(-10px) translateY(5px);
  -o-transform: translateX(-10px) translateY(5px);
  transform: translateX(-10px) translateY(5px);
}
.front-ui .hand-clicker {
  left: 0;
  right: 53%;
  z-index: 10;
  height: 62%;
  bottom: -65%;
  position: absolute;
  max-height: 1000px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: url('../images/scenes/arm.png') right bottom no-repeat;
  background-size: auto 100%;
}
.front-ui .hand-clicker.active {
  bottom: -14.7%;
}
.front-ui .hand-clicker.click {
  right: 52%;
  bottom: -13.4%;
}
.front-ui.byebye {
  opacity: 0;
}
.site {
  background: #000;
}
.site header {
  top: 0;
  left: 0;
  right: 0;
  color: #FFF;
  z-index: 9000;
  position: fixed;
}
.site .fake-header {
  height: 80px;
}
.site .site-content {
  height: 100%;
  background: #000;
}
.site .site-content > .content {
  height: 100%;
}
.site .site-content > .content .floors-divs {
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
.site .site-content > .content .floors-divs section {
  height: 100%;
  padding: 0 20px;
  background: #000;
  position: relative;
}
.site .site-content > .content .floors-divs section.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.site .site-content > .content .floors-divs section:before {
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: '';
  height: 100%;
  position: absolute;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+92,ffffff+92,ffffff+100&0+0,0.38+93,0+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 92%, rgba(255, 255, 255, 0.8) 93%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 92%, rgba(255, 255, 255, 0.8) 93%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 92%, rgba(255, 255, 255, 0.8) 93%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
}
.site .site-content > .content .floors-divs.active {
  opacity: 1;
}
.site .site-content > .content .floors-divs.active section:before {
  opacity: 1;
}
.site .site-content > .content .floors-divs.animate-fake-up {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: transform 8s ease-in-out;
  -moz-transition: transform 8s ease-in-out;
  -ms-transition: transform 8s ease-in-out;
  -o-transition: transform 8s ease-in-out;
  transition: transform 8s ease-in-out;
}
.site .site-content > .content .floors-divs.block-scroll {
  overflow: hidden;
}
.site .home-block {
  opacity: 1;
  color: #FFF;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow: hidden;
  position: absolute;
  font-family: 'DIN Medium', Arial;
}
.site .home-block .vertical-aligment {
  z-index: 3;
  width: 100%;
  text-align: center;
}
.site .home-block .vertical-aligment > .text {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.site .home-block .vertical-aligment > .text h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
.site .home-block .vertical-aligment > .text .loading .span-inline {
  margin-right: 10px;
  margin-bottom: 16px;
  display: inline-block;
  vertical-align: middle;
}
.site .home-block .vertical-aligment > .text .cta button {
  cursor: pointer;
  font-size: 20px;
  padding: 7px 15px;
  color: #dd0e1b;
  background: transparent;
  border: 2px solid #dd0e1b;
}
.site .home-block .vertical-aligment > .text.byebye {
  opacity: 0;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.site .home-block #scene {
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  position: absolute;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 2200ms ease-in-out;
  -moz-transition: all 2200ms ease-in-out;
  -ms-transition: all 2200ms ease-in-out;
  -o-transition: all 2200ms ease-in-out;
  transition: all 2200ms ease-in-out;
}
.site .home-block #scene.byebye {
  opacity: 0;
  -webkit-transform: translateY(-100%) !important;
  -moz-transform: translateY(-100%) !important;
  -ms-transform: translateY(-100%) !important;
  -o-transform: translateY(-100%) !important;
  transform: translateY(-100%) !important;
}
.site .home-block #specks {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100vw;
}
.site .home-block .speck {
  opacity: 0;
  height: 4px;
  width: 4px;
  background: url('../images/dust/particle.png');
  background-size: cover;
  position: absolute;
  border-radius: 10px;
  z-index: 99;
}
.site .home-block .img {
  position: absolute;
  height: 100000px;
  width: 100000px;
  top: -8500px;
  left: -8000px;
  animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  animation-name: float;
  animation-iteration-count: infinite;
}
.site .home-block #img-1 {
  opacity: 0.25;
  background: url('../images/dust/clean_dust_1.png');
  background-repeat: repeat;
  animation-duration: 600s;
}
.site .home-block #img-2 {
  opacity: 0.2;
  background: url('../images/dust/clean_dust_2.png');
  background-repeat: repeat;
  animation-duration: 450s;
}
.site .home-block #img-3 {
  opacity: 0.15;
  background: url('../images/dust/dust-complete-2.jpg');
  background-repeat: repeat;
  animation-duration: 350s;
}
.site .home-block.byebye {
  opacity: 0;
}
.site .home-block.byebye .text {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.site .home-block .scenes {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  margin: auto;
  height: 100%;
  overflow: hidden;
  position: fixed;
}
.site .home-block .scenes:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: '';
  z-index: 99;
  position: absolute;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.9);
}
.site .home-block .scenes.blinking-1:before {
  -webkit-animation: blink-medium 1500ms ease-in-out infinite;
  -moz-animation: blink-medium 1500ms ease-in-out infinite;
  animation: blink-medium 1500ms ease-in-out infinite;
}
@-moz-keyframes blink-medium {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink-medium {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-medium {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.site .home-block .scenes.blinking-2:before {
  -webkit-animation: blink-hard 1000ms ease-in-out infinite;
  -moz-animation: blink-hard 1000ms ease-in-out infinite;
  animation: blink-hard 1000ms ease-in-out infinite;
}
@-moz-keyframes blink-hard {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  46% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  78% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink-hard {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  46% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  78% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink-hard {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  46% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  78% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.site .home-block .scenes .vignette {
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  background: url("../images/scenes/vignette-hard.png") center center no-repeat;
  background-size: 100% 100%;
}
.site .home-block .scenes .scene {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  width: 100%;
  position: absolute;
  pointer-events: none;
  -webkit-transition: opacity 1350ms ease-in-out;
  -moz-transition: opacity 1350ms ease-in-out;
  -ms-transition: opacity 1350ms ease-in-out;
  -o-transition: opacity 1350ms ease-in-out;
  transition: opacity 1350ms ease-in-out;
}
.site .home-block .scenes .scene .comic-text {
  left: 0;
  right: 0;
  bottom: 15%;
  z-index: 11;
  margin: auto;
  text-align: center;
  position: absolute;
  -webkit-transform: skewX(-20deg) scale(0);
  -moz-transform: skewX(-20deg) scale(0);
  -ms-transform: skewX(-20deg) scale(0);
  -o-transform: skewX(-20deg) scale(0);
  transform: skewX(-20deg) scale(0);
  -webkit-transition: all 1s 5s ease-in-out;
  -moz-transition: all 1s 5s ease-in-out;
  -ms-transition: all 1s 5s ease-in-out;
  -o-transition: all 1s 5s ease-in-out;
  transition: all 1s 5s ease-in-out;
}
.site .home-block .scenes .scene .comic-text .rec {
  max-width: 75%;
  font-size: 12px;
  background: #000;
  line-height: 140%;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 11px 10px 9px;
  text-transform: uppercase;
}
.site .home-block .scenes .scene .comic-text.byebye {
  -webkit-transition: all 1s ease-in-out !important;
  -moz-transition: all 1s ease-in-out !important;
  -ms-transition: all 1s ease-in-out !important;
  -o-transition: all 1s ease-in-out !important;
  transition: all 1s ease-in-out !important;
  -webkit-transform: skewX(-20deg) scale(0) !important;
  -moz-transform: skewX(-20deg) scale(0) !important;
  -ms-transform: skewX(-20deg) scale(0) !important;
  -o-transform: skewX(-20deg) scale(0) !important;
  transform: skewX(-20deg) scale(0) !important;
}
.site .home-block .scenes .scene .elevator-numbers {
  left: 0;
  right: 0;
  top: 9.2%;
  z-index: 3;
  width: 100%;
  position: absolute;
  text-align: center;
}
.site .home-block .scenes .scene .elevator-numbers ul li {
  color: #000;
  margin: 0 1%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: 'PT Serif', serif;
}
.site .home-block .scenes .scene .elevator-numbers ul li.active {
  color: #FFF;
}
.site .home-block .scenes .scene .elevator-numbers ul li.active:before {
  top: -25%;
  left: -50%;
  /* right: -50%; */
  /* bottom: -25%; */
  content: '';
  width: 200%;
  height: 150%;
  position: absolute;
  background: url('../images/icons/spray-active.png') center bottom no-repeat;
  background-size: 100% 100%;
}
.site .home-block .scenes .scene.scene-1 .dama {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 57%;
  margin: auto;
  position: absolute;
  max-height: 1400px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 6s ease-in-out;
  -moz-transition: all 6s ease-in-out;
  -ms-transition: all 6s ease-in-out;
  -o-transition: all 6s ease-in-out;
  transition: all 6s ease-in-out;
  background: url("../images/scenes/01-dama.png") center center no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-1 .dante {
  z-index: 6;
  left: -200%;
  width: 200%;
  bottom: -20%;
  height: 80%;
  position: absolute;
  max-height: 1400px;
  -webkit-transform: scale(1) rotate(-16deg);
  -moz-transform: scale(1) rotate(-16deg);
  -ms-transform: scale(1) rotate(-16deg);
  -o-transform: scale(1) rotate(-16deg);
  transform: scale(1) rotate(-16deg);
  -webkit-transition: all 3s 1.2s ease-in-out;
  -moz-transition: all 3s 1.2s ease-in-out;
  -ms-transition: all 3s 1.2s ease-in-out;
  -o-transition: all 3s 1.2s ease-in-out;
  transition: all 3s 1.2s ease-in-out;
  transform-origin: bottom center;
  background: url("../images/scenes/01-dante.png") center center no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-1 .backgrounds {
  bottom: 0;
  left: -100%;
  width: 210%;
  height: 100%;
  position: absolute;
  max-height: 1400px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 6s ease-in-out;
  -moz-transition: all 6s ease-in-out;
  -ms-transition: all 6s ease-in-out;
  -o-transition: all 6s ease-in-out;
  transition: all 6s ease-in-out;
}
.site .home-block .scenes .scene.scene-1 .backgrounds.background-1 {
  z-index: 1;
  background: url("../images/scenes/background-1.jpg") center center no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-1 .comic-text {
  -webkit-transition: all 1s 2s ease-in-out;
  -moz-transition: all 1s 2s ease-in-out;
  -ms-transition: all 1s 2s ease-in-out;
  -o-transition: all 1s 2s ease-in-out;
  transition: all 1s 2s ease-in-out;
}
.site .home-block .scenes .scene.scene-1.active .dama {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.site .home-block .scenes .scene.scene-1.active .dante {
  left: -100%;
  bottom: -10%;
  -webkit-transform: scale(1) rotate(2deg);
  -moz-transform: scale(1) rotate(2deg);
  -ms-transform: scale(1) rotate(2deg);
  -o-transform: scale(1) rotate(2deg);
  transform: scale(1) rotate(2deg);
}
.site .home-block .scenes .scene.scene-1.active .backgrounds {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.site .home-block .scenes .scene.scene-1.active .comic-text {
  -webkit-transform: skewX(-20deg) scale(1);
  -moz-transform: skewX(-20deg) scale(1);
  -ms-transform: skewX(-20deg) scale(1);
  -o-transform: skewX(-20deg) scale(1);
  transform: skewX(-20deg) scale(1);
}
.site .home-block .scenes .scene.scene-2 .backgrounds {
  bottom: 0;
  left: -100%;
  width: 210%;
  height: 100%;
  position: absolute;
  max-height: 1400px;
}
.site .home-block .scenes .scene.scene-2 .backgrounds.background-4 {
  z-index: 2;
  background: url("../images/scenes/background-4.jpg") center center no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-2 .black {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  position: absolute;
  background: rgba(0, 0, 0, 0);
}
.site .home-block .scenes .scene.scene-2 .dante,
.site .home-block .scenes .scene.scene-2 .door,
.site .home-block .scenes .scene.scene-2 .door-2,
.site .home-block .scenes .scene.scene-2 .arm {
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.site .home-block .scenes .scene.scene-2 .dante {
  z-index: 4;
  width: 150%;
  background: url("../images/scenes/02-dante.png") top right no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-2 .door {
  right: 30%;
  z-index: 5;
  background: url("../images/scenes/02-door.png") center right no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-2 .door-2 {
  left: 50%;
  z-index: 5;
  background: url("../images/scenes/02-door-2.png") center left no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-2 .arm {
  z-index: 6;
  width: 200%;
  background: url("../images/scenes/02-hand.png") center right no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-2.active .comic-text {
  -webkit-transform: skewX(-20deg) scale(1);
  -moz-transform: skewX(-20deg) scale(1);
  -ms-transform: skewX(-20deg) scale(1);
  -o-transform: skewX(-20deg) scale(1);
  transform: skewX(-20deg) scale(1);
}
.site .home-block .scenes .scene.scene-2.active .dante {
  -webkit-animation: dante-enter 10s linear;
  -moz-animation: dante-enter 10s linear;
  animation: dante-enter 10s linear;
  animation-fill-mode: forwards;
}
@-moz-keyframes dante-enter {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(-10%);
    -moz-transform: translateY(0) translateX(-10%);
    -ms-transform: translateY(0) translateX(-10%);
    -o-transform: translateY(0) translateX(-10%);
    transform: translateY(0) translateX(-10%);
  }
  26% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-10%);
    -moz-transform: translateY(0) translateX(-10%);
    -ms-transform: translateY(0) translateX(-10%);
    -o-transform: translateY(0) translateX(-10%);
    transform: translateY(0) translateX(-10%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(-2%) translateX(5%);
    -moz-transform: translateY(-2%) translateX(5%);
    -ms-transform: translateY(-2%) translateX(5%);
    -o-transform: translateY(-2%) translateX(5%);
    transform: translateY(-2%) translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-2%) translateX(10%);
    -moz-transform: translateY(-2%) translateX(10%);
    -ms-transform: translateY(-2%) translateX(10%);
    -o-transform: translateY(-2%) translateX(10%);
    transform: translateY(-2%) translateX(10%);
  }
}
@-webkit-keyframes dante-enter {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(-10%);
    -moz-transform: translateY(0) translateX(-10%);
    -ms-transform: translateY(0) translateX(-10%);
    -o-transform: translateY(0) translateX(-10%);
    transform: translateY(0) translateX(-10%);
  }
  26% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-10%);
    -moz-transform: translateY(0) translateX(-10%);
    -ms-transform: translateY(0) translateX(-10%);
    -o-transform: translateY(0) translateX(-10%);
    transform: translateY(0) translateX(-10%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(-2%) translateX(5%);
    -moz-transform: translateY(-2%) translateX(5%);
    -ms-transform: translateY(-2%) translateX(5%);
    -o-transform: translateY(-2%) translateX(5%);
    transform: translateY(-2%) translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-2%) translateX(10%);
    -moz-transform: translateY(-2%) translateX(10%);
    -ms-transform: translateY(-2%) translateX(10%);
    -o-transform: translateY(-2%) translateX(10%);
    transform: translateY(-2%) translateX(10%);
  }
}
@keyframes dante-enter {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(-10%);
    -moz-transform: translateY(0) translateX(-10%);
    -ms-transform: translateY(0) translateX(-10%);
    -o-transform: translateY(0) translateX(-10%);
    transform: translateY(0) translateX(-10%);
  }
  26% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-10%);
    -moz-transform: translateY(0) translateX(-10%);
    -ms-transform: translateY(0) translateX(-10%);
    -o-transform: translateY(0) translateX(-10%);
    transform: translateY(0) translateX(-10%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(-2%) translateX(5%);
    -moz-transform: translateY(-2%) translateX(5%);
    -ms-transform: translateY(-2%) translateX(5%);
    -o-transform: translateY(-2%) translateX(5%);
    transform: translateY(-2%) translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-2%) translateX(10%);
    -moz-transform: translateY(-2%) translateX(10%);
    -ms-transform: translateY(-2%) translateX(10%);
    -o-transform: translateY(-2%) translateX(10%);
    transform: translateY(-2%) translateX(10%);
  }
}
.site .home-block .scenes .scene.scene-2.active .arm {
  -webkit-animation: arm-enter 10s linear;
  -moz-animation: arm-enter 10s linear;
  animation: arm-enter 10s linear;
  animation-fill-mode: forwards;
}
@-moz-keyframes arm-enter {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  29% {
    right: -30%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  30% {
    right: -30%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  33% {
    right: -31%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  35% {
    right: -30%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    right: 60%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    right: 70%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes arm-enter {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  29% {
    right: -30%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  30% {
    right: -30%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  33% {
    right: -31%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  35% {
    right: -30%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    right: 60%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    right: 70%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes arm-enter {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  29% {
    right: -30%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  30% {
    right: -30%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  33% {
    right: -31%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  35% {
    right: -30%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    right: 60%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    right: 70%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.site .home-block .scenes .scene.scene-2.active .door {
  -webkit-animation: door-block 10s linear;
  -moz-animation: door-block 10s linear;
  animation: door-block 10s linear;
  animation-fill-mode: forwards;
}
@-moz-keyframes door-block {
  0% {
    right: 30%;
  }
  30% {
    right: 0;
  }
  35% {
    right: 0;
  }
  60% {
    right: 100%;
  }
  100% {
    right: 100%;
  }
}
@-webkit-keyframes door-block {
  0% {
    right: 30%;
  }
  30% {
    right: 0;
  }
  35% {
    right: 0;
  }
  60% {
    right: 100%;
  }
  100% {
    right: 100%;
  }
}
@keyframes door-block {
  0% {
    right: 30%;
  }
  30% {
    right: 0;
  }
  35% {
    right: 0;
  }
  60% {
    right: 100%;
  }
  100% {
    right: 100%;
  }
}
.site .home-block .scenes .scene.scene-2.active .door-2 {
  -webkit-animation: door-block-2 10s linear;
  -moz-animation: door-block-2 10s linear;
  animation: door-block-2 10s linear;
  animation-fill-mode: forwards;
}
@-moz-keyframes door-block-2 {
  0% {
    left: 90%;
  }
  30% {
    left: 50%;
  }
  35% {
    left: 50%;
  }
  60% {
    left: 90%;
  }
  100% {
    left: 90%;
  }
}
@-webkit-keyframes door-block-2 {
  0% {
    left: 90%;
  }
  30% {
    left: 50%;
  }
  35% {
    left: 50%;
  }
  60% {
    left: 90%;
  }
  100% {
    left: 90%;
  }
}
@keyframes door-block-2 {
  0% {
    left: 90%;
  }
  30% {
    left: 50%;
  }
  35% {
    left: 50%;
  }
  60% {
    left: 90%;
  }
  100% {
    left: 90%;
  }
}
.site .home-block .scenes .scene.scene-2.active .black {
  -webkit-animation: black-background 10s ease-in-out;
  -moz-animation: black-background 10s ease-in-out;
  animation: black-background 10s ease-in-out;
  animation-fill-mode: forwards;
}
@-moz-keyframes black-background {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  30% {
    background: rgba(0, 0, 0, 0.7);
  }
  50% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes black-background {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  30% {
    background: rgba(0, 0, 0, 0.7);
  }
  50% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes black-background {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  30% {
    background: rgba(0, 0, 0, 0.7);
  }
  50% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
.site .home-block .scenes .scene.scene-3:after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 99;
  height: 100%;
  background: #000;
  position: absolute;
}
.site .home-block .scenes .scene.scene-3 .backgrounds {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  max-height: 1400px;
}
.site .home-block .scenes .scene.scene-3 .backgrounds.background-5 {
  z-index: 2;
  background: url('../images/scenes/elevator-no-doors.png') center bottom no-repeat;
  background-size: auto 95%;
}
.site .home-block .scenes .scene.scene-3 .backgrounds.background-5:after {
  bottom: 0;
  width: 78%;
  content: '';
  right: -24.5%;
  height: 84.1%;
  position: absolute;
  background: url('../images/scenes/door-right.jpg') left bottom no-repeat;
  background-size: auto 95%;
  -webkit-transition: right 2s ease-in-out;
  -moz-transition: right 2s ease-in-out;
  -ms-transition: right 2s ease-in-out;
  -o-transition: right 2s ease-in-out;
  transition: right 2s ease-in-out;
}
.site .home-block .scenes .scene.scene-3 .backgrounds.background-5:before {
  bottom: 0;
  width: 78%;
  content: '';
  left: -32%;
  height: 84.1%;
  position: absolute;
  background: url('../images/scenes/door-left.jpg') right bottom no-repeat;
  background-size: auto 95%;
  -webkit-transition: left 2s ease-in-out;
  -moz-transition: left 2s ease-in-out;
  -ms-transition: left 2s ease-in-out;
  -o-transition: left 2s ease-in-out;
  transition: left 2s ease-in-out;
}
.site .home-block .scenes .scene.scene-3 .outside {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  max-height: 1400px;
  background: url('../images/scenes/background-6.jpg') center center no-repeat;
  background-size: auto 95%;
}
.site .home-block .scenes .scene.scene-3 .dante,
.site .home-block .scenes .scene.scene-3 .dama {
  z-index: 5;
  left: 40%;
  bottom: 0;
  width: 100%;
  height: 68%;
  position: absolute;
  max-height: 1400px;
  background: url("../images/scenes/03-dante.png") center center no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-3 .dama {
  left: 0;
  z-index: 4;
  background: url("../images/scenes/03-dama.png") left center no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-3 #dialog3,
.site .home-block .scenes .scene.scene-3 #dialog4 {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.site .home-block .scenes .scene.scene-3 #dialog3.active,
.site .home-block .scenes .scene.scene-3 #dialog4.active {
  -webkit-transform: skewX(-20deg) scale(1);
  -moz-transform: skewX(-20deg) scale(1);
  -ms-transform: skewX(-20deg) scale(1);
  -o-transform: skewX(-20deg) scale(1);
  transform: skewX(-20deg) scale(1);
}
.site .home-block .scenes .scene.scene-3.little-blink:after {
  opacity: 1;
}
.site .home-block .scenes .scene.scene-3.alt .outside {
  opacity: 1;
}
.site .home-block .scenes .scene.scene-3.alt .dante {
  background: url("../images/scenes/04-dante.png") center center no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-3.alt .dama {
  left: 10%;
  background: url("../images/scenes/04-dama.png") left center no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-3.doors-open .backgrounds.background-5:after {
  right: -79.5%;
}
.site .home-block .scenes .scene.scene-3.doors-open .backgrounds.background-5:before {
  left: -77.5%;
}
.site .home-block .scenes .scene.scene-3.go-out .dante {
  left: 20%;
  -webkit-transition: left 3.66666667s 2.2s ease-in-out;
  -moz-transition: left 3.66666667s 2.2s ease-in-out;
  -ms-transition: left 3.66666667s 2.2s ease-in-out;
  -o-transition: left 3.66666667s 2.2s ease-in-out;
  transition: left 3.66666667s 2.2s ease-in-out;
}
.site .home-block .scenes .scene.scene-3.go-out .dama {
  left: -50%;
  -webkit-transition: left 5.5s ease-in-out;
  -moz-transition: left 5.5s ease-in-out;
  -ms-transition: left 5.5s ease-in-out;
  -o-transition: left 5.5s ease-in-out;
  transition: left 5.5s ease-in-out;
}
.site .home-block .scenes .scene.scene-4 {
  overflow: auto;
}
.site .home-block .scenes .scene.scene-4 .flashing-black {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.8);
  -webkit-animation: flash-low 5s infinite;
  -moz-animation: flash-low 5s infinite;
  animation: flash-low 5s infinite;
}
@keyframes flash-low {
  0%,
  48%,
  54%,
  100% {
    opacity: 0;
  }
  78%,
  84% {
    opacity: 0;
  }
  50%,
  80% {
    opacity: 1;
  }
}
.site .home-block .scenes .scene.scene-4 .pano {
  width: 100%;
  height: 100%;
}
.site .home-block .scenes .scene.scene-4 .pano .wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}
.site .home-block .scenes .scene.scene-4 .pano .wrapper .aux {
  height: 100%;
  position: relative;
  white-space: nowrap;
}
.site .home-block .scenes .scene.scene-4 .pano .wrapper .mob {
  z-index: 2;
  right: 26%;
  height: 46%;
  bottom: 4%;
  position: absolute;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -ms-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}
.site .home-block .scenes .scene.scene-4 .pano .wrapper .mob.pre-active {
  right: 25.5%;
  bottom: 1.5%;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.site .home-block .scenes .scene.scene-4 .pano .wrapper .mob.active {
  right: 24%;
  bottom: -20%;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
  transform: rotate(-80deg);
}
.site .home-block .scenes .scene.scene-4 .pano .wrapper .bg {
  height: 100%;
  margin: 0 auto;
  display: block;
}
.site .home-block .scenes .scene.scene-4 .comic-text {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.site .home-block .scenes .scene.scene-4 .comic-text.active {
  -webkit-transform: skewX(-20deg) scale(1);
  -moz-transform: skewX(-20deg) scale(1);
  -ms-transform: skewX(-20deg) scale(1);
  -o-transform: skewX(-20deg) scale(1);
  transform: skewX(-20deg) scale(1);
}
.site .home-block .scenes .scene.scene-5 .backgrounds {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  max-height: 1400px;
}
.site .home-block .scenes .scene.scene-5 .backgrounds.background-5 {
  z-index: 2;
  background: url('../images/scenes/elevator-no-doors.png') center bottom no-repeat;
  background-size: auto 95%;
}
.site .home-block .scenes .scene.scene-5 .backgrounds.background-5:after {
  bottom: 0;
  width: 78%;
  content: '';
  right: -24.5%;
  height: 84.1%;
  position: absolute;
  background: url('../images/scenes/door-right.jpg') left bottom no-repeat;
  background-size: auto 95%;
  -webkit-transition: right 2s ease-in-out;
  -moz-transition: right 2s ease-in-out;
  -ms-transition: right 2s ease-in-out;
  -o-transition: right 2s ease-in-out;
  transition: right 2s ease-in-out;
}
.site .home-block .scenes .scene.scene-5 .backgrounds.background-5:before {
  bottom: 0;
  width: 78%;
  content: '';
  left: -32%;
  height: 84.1%;
  position: absolute;
  background: url('../images/scenes/door-left.jpg') right bottom no-repeat;
  background-size: auto 95%;
  -webkit-transition: left 2s ease-in-out;
  -moz-transition: left 2s ease-in-out;
  -ms-transition: left 2s ease-in-out;
  -o-transition: left 2s ease-in-out;
  transition: left 2s ease-in-out;
}
.site .home-block .scenes .scene.scene-5 .elevator-numbers {
  z-index: 5;
}
.site .home-block .scenes .scene.scene-5 .last-bg {
  bottom: 0;
  z-index: 1;
  left: -50%;
  right: -50%;
  margin: auto;
  height: 95vh;
  position: absolute;
  max-height: 1400px;
}
.site .home-block .scenes .scene.scene-5 .hand {
  left: 0;
  right: 20%;
  z-index: 2;
  bottom: -50%;
  height: 50vh;
  position: absolute;
  max-height: 1000px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: url('../images/scenes/arm.png') right bottom no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-5 .hand.active {
  bottom: -35.7%;
}
.site .home-block .scenes .scene.scene-5 .hand.click {
  right: 18.3%;
  bottom: -35.1%;
}
.site .home-block .scenes .scene.scene-5 .arm-left,
.site .home-block .scenes .scene.scene-5 .arm-right {
  z-index: 2;
  width: 100%;
  height: 50%;
  bottom: -50%;
  position: absolute;
  max-height: 1000px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  transform-origin: 100% 0;
}
.site .home-block .scenes .scene.scene-5 .arm-left.active,
.site .home-block .scenes .scene.scene-5 .arm-right.active {
  bottom: 0;
}
.site .home-block .scenes .scene.scene-5 .arm-left.active-2,
.site .home-block .scenes .scene.scene-5 .arm-right.active-2 {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  bottom: -30%;
}
.site .home-block .scenes .scene.scene-5 .arm-left {
  left: -40%;
  background: url('../images/scenes/hand-left.png') left bottom no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-5 .arm-right {
  right: -40%;
  background: url('../images/scenes/hand-right.png') right bottom no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-5 .black-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 4s ease-in-out;
  -moz-transition: all 4s ease-in-out;
  -ms-transition: all 4s ease-in-out;
  -o-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}
.site .home-block .scenes .scene.scene-5 .black-shadow.fade-in {
  opacity: 1;
}
.site .home-block .scenes .scene.scene-5 .black-shadow.fade-out {
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -ms-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}
.site .home-block .scenes .scene.scene-5 .black-shadow.fade-in-2 {
  opacity: 1;
  background: #000000;
  -webkit-transition: opacity 1ms ease-in-out;
  -moz-transition: opacity 1ms ease-in-out;
  -ms-transition: opacity 1ms ease-in-out;
  -o-transition: opacity 1ms ease-in-out;
  transition: opacity 1ms ease-in-out;
}
.site .home-block .scenes .scene.scene-5 .blood-splash {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  position: absolute;
  background: url('../images/scenes/blood.png') center center no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-5 .blood-splash.active {
  opacity: 1;
}
.site .home-block .scenes .scene.scene-5 .blood-splash.byebye {
  -webkit-transition: opacity 1ms ease-in-out;
  -moz-transition: opacity 1ms ease-in-out;
  -ms-transition: opacity 1ms ease-in-out;
  -o-transition: opacity 1ms ease-in-out;
  transition: opacity 1ms ease-in-out;
  opacity: 0;
}
.site .home-block .scenes .scene.scene-5 .comic-text {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.site .home-block .scenes .scene.scene-5 .comic-text.active {
  -webkit-transform: skewX(-20deg) scale(1);
  -moz-transform: skewX(-20deg) scale(1);
  -ms-transform: skewX(-20deg) scale(1);
  -o-transform: skewX(-20deg) scale(1);
  transform: skewX(-20deg) scale(1);
}
.site .home-block .scenes .scene.scene-5.active .dante {
  left: 20%;
}
.site .home-block .scenes .scene.scene-5.active .dama {
  left: -40%;
}
.site .home-block .scenes .scene.scene-6 .backgrounds {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  max-height: 1400px;
}
.site .home-block .scenes .scene.scene-6 .backgrounds.background-8 {
  z-index: 2;
  background: url('../images/scenes/elevator-black.png') center bottom no-repeat;
  background-size: auto 95%;
}
.site .home-block .scenes .scene.scene-6 .backgrounds.background-8:after {
  bottom: 0;
  width: 78%;
  content: '';
  right: -24.5%;
  height: 84.1%;
  position: absolute;
  background: url('../images/scenes/door-right-black.jpg') left bottom no-repeat;
  background-size: auto 95%;
  -webkit-transition: right 3s ease-in-out;
  -moz-transition: right 3s ease-in-out;
  -ms-transition: right 3s ease-in-out;
  -o-transition: right 3s ease-in-out;
  transition: right 3s ease-in-out;
}
.site .home-block .scenes .scene.scene-6 .backgrounds.background-8:before {
  bottom: 0;
  width: 78%;
  content: '';
  left: -32%;
  height: 84.1%;
  position: absolute;
  background: url('../images/scenes/door-left-black.jpg') right bottom no-repeat;
  background-size: auto 95%;
  -webkit-transition: left 3s ease-in-out;
  -moz-transition: left 3s ease-in-out;
  -ms-transition: left 3s ease-in-out;
  -o-transition: left 3s ease-in-out;
  transition: left 3s ease-in-out;
}
.site .home-block .scenes .scene.scene-6.open .backgrounds.background-8:after {
  right: -80%;
}
.site .home-block .scenes .scene.scene-6.open .backgrounds.background-8:before {
  left: -80%;
}
.site .home-block .scenes .scene.scene-6 .last-dama-1,
.site .home-block .scenes .scene.scene-6 .last-dama-2,
.site .home-block .scenes .scene.scene-6 .last-dama-3 {
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 5;
  height: 100%;
  max-height: 1300px;
  position: absolute;
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -ms-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.site .home-block .scenes .scene.scene-6 .last-dama-1.active,
.site .home-block .scenes .scene.scene-6 .last-dama-2.active,
.site .home-block .scenes .scene.scene-6 .last-dama-3.active {
  opacity: 1;
}
.site .home-block .scenes .scene.scene-6 .last-dama-1 {
  background: url('../images/scenes/last-dama-1.png') center bottom no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-6 .last-dama-2 {
  background: url('../images/scenes/last-dama-2.png') center bottom no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-6 .last-dama-3 {
  background: url('../images/scenes/last-dama-3.png') center bottom no-repeat;
  background-size: auto 100%;
}
.site .home-block .scenes .scene.scene-6 .cal-to-action,
.site .home-block .scenes .scene.scene-6 .cuenta-la-leyenda {
  top: 50%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  width: 100%;
  color: #FFF;
  max-width: 300px;
  line-height: 150%;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%) scale(0.95);
  -moz-transform: translate(-50%, -50%) scale(0.95);
  -ms-transform: translate(-50%, -50%) scale(0.95);
  -o-transform: translate(-50%, -50%) scale(0.95);
  transform: translate(-50%, -50%) scale(0.95);
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -ms-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
}
.site .home-block .scenes .scene.scene-6 .cal-to-action strong,
.site .home-block .scenes .scene.scene-6 .cuenta-la-leyenda strong {
  display: block;
  margin: 10px 0;
  font-size: 130%;
}
.site .home-block .scenes .scene.scene-6 .cal-to-action strong i,
.site .home-block .scenes .scene.scene-6 .cuenta-la-leyenda strong i {
  color: #EEDDE0;
  text-shadow: 0 0 30px #EC637B, 0 0 10px rgba(230, 161, 173, 0.41), 0 0 100px #E6A1AD, 5px 9px 5px rgba(0, 0, 0, 0.5);
}
.site .home-block .scenes .scene.scene-6 .cal-to-action strong i.off,
.site .home-block .scenes .scene.scene-6 .cuenta-la-leyenda strong i.off {
  color: rgba(46, 46, 46, 0.61);
  text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}
.site .home-block .scenes .scene.scene-6 .cal-to-action strong.red,
.site .home-block .scenes .scene.scene-6 .cuenta-la-leyenda strong.red {
  color: #dd0e1b;
}
.site .home-block .scenes .scene.scene-6 .cal-to-action .tachado,
.site .home-block .scenes .scene.scene-6 .cuenta-la-leyenda .tachado {
  text-decoration: line-through;
}
.site .home-block .scenes .scene.scene-6 .cal-to-action .btn,
.site .home-block .scenes .scene.scene-6 .cuenta-la-leyenda .btn {
  border: 0;
  margin-top: 15px;
  padding: 13px 30px;
  text-decoration: none;
  display: inline-block;
  background: #dd0e1b;
}
.site .home-block .scenes .scene.scene-6 .cal-to-action.active,
.site .home-block .scenes .scene.scene-6 .cuenta-la-leyenda.active {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.site .home-block .scenes .scene.scene-6 .cal-to-action.byebye,
.site .home-block .scenes .scene.scene-6 .cuenta-la-leyenda.byebye {
  opacity: 0;
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}
.site .home-block .scenes .scene.scene-6 .black-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: #000;
  position: absolute;
}
.site .home-block .scenes .scene.up-black:before {
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 5%;
  content: '';
  background: #000;
  position: absolute;
}
.site .home-block .scenes .scene.active {
  opacity: 1;
  pointer-events: all;
}
.site .home-block .scenes .scene.active.scene-3 {
  pointer-events: none;
}
.site .home-block .scenes .scene.byebye {
  opacity: 0;
}
.site .home-block.no-interact {
  pointer-events: none;
}
@media (min-width: 768px) {
  .site .home-block .scenes {
    border: 1px inset #000;
  }
  .site .home-block .scenes .scene .comic-text .rec {
    font-size: 20px;
    padding: 11px 20px;
  }
  .site .home-block .scenes .scene.scene-1 .backgrounds {
    left: 0;
    width: 100%;
  }
  .site .home-block .scenes .scene.scene-1 .dante {
    -webkit-transition: all 4.2s 1.2s ease-in-out;
    -moz-transition: all 4.2s 1.2s ease-in-out;
    -ms-transition: all 4.2s 1.2s ease-in-out;
    -o-transition: all 4.2s 1.2s ease-in-out;
    transition: all 4.2s 1.2s ease-in-out;
  }
  .site .home-block .scenes .scene.scene-1.active .dante {
    left: -80%;
  }
  .site .home-block .scenes .scene.scene-1 .dama {
    left: 10%;
  }
  .scroll-vertical .black {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .site .home-block .scenes .scene.scene-2 .backgrounds {
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    background-size: cover !important;
  }
  .site .home-block .scenes .scene.scene-2 .door {
    right: 60%;
  }
  .site .home-block .scenes .scene.scene-2.active.active .comic-text {
    -webkit-transform: skewX(-20deg) scale(1);
    -moz-transform: skewX(-20deg) scale(1);
    -ms-transform: skewX(-20deg) scale(1);
    -o-transform: skewX(-20deg) scale(1);
    transform: skewX(-20deg) scale(1);
  }
  .site .home-block .scenes .scene.scene-2.active.active .dante {
    -webkit-animation: dante-enter 10s linear;
    -moz-animation: dante-enter 10s linear;
    animation: dante-enter 10s linear;
    width: 100%;
    background-position: top left;
    animation-fill-mode: forwards;
  }
  @-moz-keyframes dante-enter {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
      -webkit-transform: translateY(0) translateX(-10%);
      -moz-transform: translateY(0) translateX(-10%);
      -ms-transform: translateY(0) translateX(-10%);
      -o-transform: translateY(0) translateX(-10%);
      transform: translateY(0) translateX(-10%);
    }
    26% {
      opacity: 1;
      -webkit-transform: translateY(0) translateX(-10%);
      -moz-transform: translateY(0) translateX(-10%);
      -ms-transform: translateY(0) translateX(-10%);
      -o-transform: translateY(0) translateX(-10%);
      transform: translateY(0) translateX(-10%);
    }
    70% {
      opacity: 1;
      -webkit-transform: translateY(-2%) translateX(0%);
      -moz-transform: translateY(-2%) translateX(0%);
      -ms-transform: translateY(-2%) translateX(0%);
      -o-transform: translateY(-2%) translateX(0%);
      transform: translateY(-2%) translateX(0%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(-2%) translateX(5%);
      -moz-transform: translateY(-2%) translateX(5%);
      -ms-transform: translateY(-2%) translateX(5%);
      -o-transform: translateY(-2%) translateX(5%);
      transform: translateY(-2%) translateX(5%);
    }
  }
  @-webkit-keyframes dante-enter {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
      -webkit-transform: translateY(0) translateX(-10%);
      -moz-transform: translateY(0) translateX(-10%);
      -ms-transform: translateY(0) translateX(-10%);
      -o-transform: translateY(0) translateX(-10%);
      transform: translateY(0) translateX(-10%);
    }
    26% {
      opacity: 1;
      -webkit-transform: translateY(0) translateX(-10%);
      -moz-transform: translateY(0) translateX(-10%);
      -ms-transform: translateY(0) translateX(-10%);
      -o-transform: translateY(0) translateX(-10%);
      transform: translateY(0) translateX(-10%);
    }
    70% {
      opacity: 1;
      -webkit-transform: translateY(-2%) translateX(0%);
      -moz-transform: translateY(-2%) translateX(0%);
      -ms-transform: translateY(-2%) translateX(0%);
      -o-transform: translateY(-2%) translateX(0%);
      transform: translateY(-2%) translateX(0%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(-2%) translateX(5%);
      -moz-transform: translateY(-2%) translateX(5%);
      -ms-transform: translateY(-2%) translateX(5%);
      -o-transform: translateY(-2%) translateX(5%);
      transform: translateY(-2%) translateX(5%);
    }
  }
  @keyframes dante-enter {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
      -webkit-transform: translateY(0) translateX(-10%);
      -moz-transform: translateY(0) translateX(-10%);
      -ms-transform: translateY(0) translateX(-10%);
      -o-transform: translateY(0) translateX(-10%);
      transform: translateY(0) translateX(-10%);
    }
    26% {
      opacity: 1;
      -webkit-transform: translateY(0) translateX(-10%);
      -moz-transform: translateY(0) translateX(-10%);
      -ms-transform: translateY(0) translateX(-10%);
      -o-transform: translateY(0) translateX(-10%);
      transform: translateY(0) translateX(-10%);
    }
    70% {
      opacity: 1;
      -webkit-transform: translateY(-2%) translateX(0%);
      -moz-transform: translateY(-2%) translateX(0%);
      -ms-transform: translateY(-2%) translateX(0%);
      -o-transform: translateY(-2%) translateX(0%);
      transform: translateY(-2%) translateX(0%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(-2%) translateX(5%);
      -moz-transform: translateY(-2%) translateX(5%);
      -ms-transform: translateY(-2%) translateX(5%);
      -o-transform: translateY(-2%) translateX(5%);
      transform: translateY(-2%) translateX(5%);
    }
  }
  .site .home-block .scenes .scene.scene-2.active.active .arm {
    width: 100%;
    -webkit-animation: arm-enter 10s linear;
    -moz-animation: arm-enter 10s linear;
    animation: arm-enter 10s linear;
    animation-fill-mode: forwards;
  }
  @-moz-keyframes arm-enter {
    0% {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    29% {
      left: -40%;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    30% {
      left: -40%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    33% {
      left: -41%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    35% {
      left: -40%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    70% {
      left: -65%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      left: -70%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes arm-enter {
    0% {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    29% {
      left: -40%;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    30% {
      left: -40%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    33% {
      left: -41%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    35% {
      left: -40%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    70% {
      left: -65%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      left: -70%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes arm-enter {
    0% {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    29% {
      left: -40%;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    30% {
      left: -40%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    33% {
      left: -41%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    35% {
      left: -40%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    70% {
      left: -65%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      left: -70%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .site .home-block .scenes .scene.scene-2.active.active .door {
    -webkit-animation: door-block-big 10s linear;
    -moz-animation: door-block-big 10s linear;
    animation: door-block-big 10s linear;
    animation-fill-mode: forwards;
  }
  @-moz-keyframes door-block-big {
    0% {
      right: 60%;
    }
    30% {
      right: 50%;
    }
    35% {
      right: 50%;
    }
    70% {
      right: 75%;
    }
    100% {
      right: 80%;
    }
  }
  @-webkit-keyframes door-block-big {
    0% {
      right: 60%;
    }
    30% {
      right: 50%;
    }
    35% {
      right: 50%;
    }
    70% {
      right: 75%;
    }
    100% {
      right: 80%;
    }
  }
  @keyframes door-block-big {
    0% {
      right: 60%;
    }
    30% {
      right: 50%;
    }
    35% {
      right: 50%;
    }
    70% {
      right: 75%;
    }
    100% {
      right: 80%;
    }
  }
  .site .home-block .scenes .scene.scene-2.active.active .door-2 {
    -webkit-animation: door-block-2-big 10s linear;
    -moz-animation: door-block-2-big 10s linear;
    animation: door-block-2-big 10s linear;
    animation-fill-mode: forwards;
  }
  @-moz-keyframes door-block-2-big {
    0% {
      left: 100%;
    }
    30% {
      left: 85%;
    }
    35% {
      left: 84%;
    }
    60% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @-webkit-keyframes door-block-2-big {
    0% {
      left: 100%;
    }
    30% {
      left: 85%;
    }
    35% {
      left: 84%;
    }
    60% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes door-block-2-big {
    0% {
      left: 100%;
    }
    30% {
      left: 85%;
    }
    35% {
      left: 84%;
    }
    60% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  .site .home-block .scenes .scene.scene-3 .dama,
  .site .home-block .scenes .scene.scene-3 .dante {
    height: 67%;
  }
  .site .home-block .scenes .scene.scene-3 .dante {
    left: 20%;
  }
  .site .home-block .scenes .scene.scene-3 .dama {
    left: 40%;
  }
  .site .home-block .scenes .scene.scene-3 .backgrounds.background-5:before,
  .site .home-block .scenes .scene.scene-3 .backgrounds.background-5:after {
    width: 22.6%;
    height: 84.1%;
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -ms-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
  }
  .site .home-block .scenes .scene.scene-3 .backgrounds.background-5:after {
    right: 30.4%;
    background-position: left bottom;
  }
  .site .home-block .scenes .scene.scene-3 .backgrounds.background-5:before {
    left: 24.2%;
    background-position: right bottom;
  }
  .site .home-block .scenes .scene.scene-3.alt .dante {
    background: url("../images/scenes/04-dante.png") center center no-repeat;
    background-size: auto 100%;
  }
  .site .home-block .scenes .scene.scene-3.alt .dama {
    left: 40%;
    background: url("../images/scenes/04-dama.png") left center no-repeat;
    background-size: auto 100%;
  }
  .site .home-block .scenes .scene.scene-3.doors-open .backgrounds.background-5:after {
    width: 0;
    right: 30.4%;
  }
  .site .home-block .scenes .scene.scene-3.doors-open .backgrounds.background-5:before {
    width: 0;
    left: 24.2%;
  }
  .site .home-block .scenes .scene.scene-3.go-out .dante {
    left: 10%;
  }
  .site .home-block .scenes .scene.scene-3.go-out .dama {
    left: 26%;
  }
  .site .home-block .scenes .scene.scene-4 {
    overflow: initial;
  }
  .site .home-block .scenes .scene.scene-4 .pano {
    overflow: initial;
  }
  .site .home-block .scenes .scene.scene-4 .pano .wrapper {
    overflow: auto;
  }
  .site .home-block.no-interact .scenes .scene.active {
    pointer-events: none;
  }
  .site .home-block.no-interact .scenes .scene.scene-4.active {
    pointer-events: all;
  }
  .site .site-content > .content .floors-divs section {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
  }
  .front-ui .elevator-cta {
    bottom: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: -75px;
    margin-bottom: -75px;
  }
  .front-ui .elevator-cta .relative .circle-style {
    width: 200px;
    height: 200px;
    margin: -25px;
  }
  .front-ui .elevator-cta .relative .circle-style.circle-static {
    width: 150px;
    height: 150px;
  }
  .site .home-block .scenes .scene.scene-5 .backgrounds.background-5:before,
  .site .home-block .scenes .scene.scene-5 .backgrounds.background-5:after {
    height: 84.1%;
  }
  .site .home-block .scenes .scene.scene-5 .arm-left {
    left: 0;
  }
  .site .home-block .scenes .scene.scene-5 .arm-left.active-2 {
    bottom: -20%;
  }
  .site .home-block .scenes .scene.scene-5 .arm-right {
    right: 0;
  }
  .site .home-block .scenes .scene.scene-5 .arm-right.active-2 {
    bottom: -20%;
  }
  .site .home-block .scenes .scene.scene-6 .backgrounds.background-8:before,
  .site .home-block .scenes .scene.scene-6 .backgrounds.background-8:after {
    width: 22.6%;
    height: 84.1%;
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -ms-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
  }
  .site .home-block .scenes .scene.scene-6 .backgrounds.background-8:after {
    right: 30.4%;
    background-position: left bottom;
  }
  .site .home-block .scenes .scene.scene-6 .backgrounds.background-8:before {
    left: 24.2%;
    background-position: right bottom;
  }
  .site .home-block .scenes .scene.scene-6.open .backgrounds.background-8:after {
    width: 0;
    right: 30.4%;
  }
  .site .home-block .scenes .scene.scene-6.open .backgrounds.background-8:before {
    width: 0;
    left: 24.2%;
  }
  .site .home-block .scenes .scene.scene-5 .backgrounds.background-5:before {
    left: -31.2%;
  }
  .site .home-block .scenes .scene.scene-5 .backgrounds.background-5:after {
    right: -25%;
  }
}
@media (max-width: 480px) {
  .site .home-block .scenes .scene.scene-3 .backgrounds.background-5:before {
    left: -32.3%;
  }
  .site .home-block .scenes .scene.scene-3 .backgrounds.background-5:after {
    right: -25%;
  }
}
@keyframes white-circle {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
