
@import "base/reset"
@import "base/typography"
@import "base/variables"
@import "components/modal"


/* ++++ Admin Login ++++ */
html, body
  background-color: #fff
  width: 100%
  height: 100%

a
  color: #fff
  &:hover
    color: #fff

.login-bg
  background-image: url(../images/admin/victoria_bg.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  height: 100%
  width: 100%
  color: #FFF
  position: relative
  &:after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    background-size: cover
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.6), rgba(224, 23, 3, 0.7))
    top: 0px
    left: 0px


.login-input-pre
  border-bottom-left-radius: 1.5rem
  border-top-left-radius: 1.5rem

.login-btn
  border-radius: 1.5rem
  margin-top: 50px

.login-form-btn
  border-radius: 1.5rem

.login-card
  background-color: $rojo
  width: 400px
  padding-top: 80px
  padding-bottom: 80px
  z-index: 2
  color: #fff

.avatar-img
  width: 50px
  height: 50px

.admin-content
  height: 92%
  .row
    height: 100%

.admin-main-container
  margin-top: 50px

.admin-navbar
  background-color: #008c62
  // background-color: #ff5b48
  height: 8%

.admin-sidebar
  background-color: #2f4858
  border-right: 1px solid #000
  height: 100%

.feria-btn
  border-radius: 1.5rem
  margin-top: 50px
  background-color: $rojo
  color: #fff
