
@import "base/reset"
@import "base/typography"
@import "base/variables"
@import "components/modal"
@import "components/menu"


nav#menu
	padding: 15px 20px
	ul
		max-width: 1170px
		margin: 0 auto
		height: 85px
		display: flex
		justify-content: space-between
		align-items: center
		li
			img
				height: 75px
		li#menu-icon
			cursor: pointer
			position: relative
			z-index: 9999
			img
				height: 25px
			i
				color: $rojo-titulos
				font-size: 30px


/* ++++ HOME ++++ */
.container-home
	display: flex
	width: 100%
	height: 100%
	background: #000
	.left
		width: 50%
		height: 100%
		background-image: url(../images/bg-left.jpg)
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		transition: all 1s ease-in-out
		display: flex
		justify-content: center
		align-items: flex-start
		img
			width: 130px
			margin-top: 50px
		&:hover
			overflow:hidden
			-webkit-animation: switch 5s infinite //Chrome, Safari, Opera 
			animation: switch1 4s infinite
			background-repeat: repeat-n
	.right
		width: 50%
		height: 100%
		background-image: url(../images/bg-right.jpg)
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		transition: all 0.5s ease-in-out
		&:hover
			overflow:hidden
			-webkit-animation: switch 5s infinite //Chrome, Safari, Opera 
			animation: switch2 2s infinite
			background-repeat: repeat-n
	.aviso
		position: absolute
		margin: 0 auto
		left: 0
		right: 0
		bottom: 50px
		width: 330px
		text-align: center
		h2
			font-size: 16px
			color: red
			margin-bottom: 15px
			font-family: $encode-regular
		.links
			display: inline
			color: $rojo
			display: flex
			justify-content: center
			a
				font-size: 13px
				color: $rojo
				margin-right: 15px
				font-family: $encode-regular
				&:last-child
					margin-right: 24px
    			margin-left: 5px

.container-menu-home
	width: 100%
	height: auto
	position: absolute
	z-index: 1050
	display: none
	nav#menu
		padding: 0px 20px
		ul
			max-width: 1170px
			margin: 0 auto
			height: 85px
			display: flex
			justify-content: space-between
			align-items: center
			li
				img
					height: 75px
			li#menu-icon
				cursor: pointer
				img
					height: 25px

@-webkit-keyframes switch1
	50%
		background-image: url(../images/bg-hover-left.jpg)

@-webkit-keyframes switch2
	50%
		background-image: url(../images/bg-hover-right.jpg)


// ==== RESPOSIVE HOME ====
@media(max-width: 768px)
	.container-menu-home
		display: block
	.container-home
		flex-direction: column
		height: auto
		position: relative
		.left
			width: 100%
			height: 650px
			img
				display: none
		.right
			width: 100%
			height: 650px
		.aviso 
			bottom: 30px
		

/* ++++ FERIAS ++++ */
.container-ferias
	width: 100%
	height: auto
	background-image: url(../images/bg-ferias.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	.center-box
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		img#top
			width: 860px
			margin-top: 30px
			padding: 0px 25px
		.desc1
			max-width: 895px
			min-height: 410px
			background-image: url(../images/descripcion_ferias1.png)
			background-repeat: no-repeat
			background-position: top
			background-size: cover
			text-align: left
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column
			p
				margin-bottom: 30px
				width: 86%
				color: #716f6f
				font-family: $encode-regular
				font-size: 16px
				line-height: 28px
		.ferias-box
			display: flex
			margin-top: 50px
			margin-bottom: 100px
			.left
				img
					height: 200px
					opacity: 0
					position: absolute
					transition: all 0.5s ease-in-out
				&:hover
					img
						opacity: 1
					p
						opacity: 0
			.right
				img
					height: 200px
					opacity: 0
					position: absolute
					transition: all 0.5s ease-in-out
				&:hover
					img
						opacity: 1
					p
						opacity: 0
			.left, .right
				// width: 520px
				height: 410px
				background-image: url(../images/back_ferias.png)
				background-repeat: no-repeat
				background-position: top
				background-size: cover
				margin: 0px 10px
				transition: all 0.7s ease-in-out
				cursor: pointer

				//FLEXBOX
				display: flex
				justify-content: center
				align-items: center
				&:hover
					background-image: url(../images/back-ferias-hover.png)
					background-repeat: no-repeat
					background-position: top
					background-size: cover

				p
					text-align: center
					width: 70%
					color: #9E2B31
					font-weight: $encode-regular
					text-transform: uppercase
					font-size: 36px
					font-weight: 700
					line-height: 42px
					opacity: 1
					transition: all 0.5s ease-in-out
	footer
		display: flex
		justify-content: space-between
		align-items: center
		margin: 0 auto
		max-width: 1170px
		padding: 25px 20px
		width: 100%
		height: auto
		background-image: url(../images/back-slider-full.jpg)
		background-repeat: no-repeat
		background-position: top
		background-size: cover
		.wd
			width: 33%
		p#medida
			text-transform: uppercase 
			margin-bottom: 0px
			color: #716f6f
			font-size: 13px
			font-family: $encode-regular
		ul#icons
			display: flex
			justify-content: center
			li
				margin: 0px 20px
				a
					i
						font-size: 21px
						color: #5a5959
		ul#terminos
			display: flex
			justify-content: flex-end
			a 
				margin-bottom: 0px
				font-size: 14px
				font-family: $encode-regular
				color: #716f6f
				margin-right: 13px
				text-decoration: underline 

// ==== FERIAS RESPOSIVE ====
@media(min-width: 560px) and (max-width: 3000px)
	.center-box
		.ferias-box
			.left, .right
				width: 520px

@media(max-width: 1079px)
	nav#menu ul li img
		z-index: 1051
		position: relative
	.container-ferias
		.center-box
			padding: 0px 20px
			.desc1
				padding: 65px 0px
			.ferias-box
				flex-direction: column
				margin-bottom: 10px
				.left
					margin: 0px 0px
				.right
					margin: 0px 0px
		footer
			flex-direction: column
			.wd
				width: 80%
			p
				text-align: center
				margin-bottom: 20px !important
			ul#terminos
				margin-top: center
				justify-content: center
				margin-top: 15px
				margin-bottom: 15px
				width: 100%
				a
					font-size: 13px

@media(max-width: 480px)
	.container-ferias
		.center-box
			.ferias-box
				margin-bottom: 0px
				.left, .right
					// margin: 0px 20px
					p
						font-size: 28px
					img
						height: 155px
			.desc1
				p
					font-size: 14px



/* ++++ LANDING ++++ */
.container-landing
	width: 100%
	height: auto
	background-image: url(../images/bg-ferias.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: 100%
	nav#menu
		padding: 0px 20px
		ul
			max-width: 1170px
			margin: 0 auto
			height: 85px
			display: flex
			justify-content: space-between
			align-items: center
			li
				img
					height: 75px
			li#menu-icon
				cursor: pointer
				img
					height: 25px
	.slider
		height: auto
		width: 100%
		background-image: url(../images/back-slider-full.jpg)
		background-repeat: no-repeat
		background-position: top
		background-size: cover
		.slider-content
			max-width: 1315px
			height: auto
			margin: 0 auto
			padding: 50px 0px
			.wrapper-slider
				position: relative 
				.content
					top: 0px
					position: absolute
					height: 100%
					max-width: 1340px
					display: flex
					justify-content: center
					align-items: center
					.left
						width: 45%
						display: flex
						justify-content: center
						align-items: center
						img
							height: 220px
					.right
						width: 55%
						display: flex
						text-align: left
						// align-items: center
						flex-direction: column
						h1
							font-size: 32px
							color: $rojo
							font-family: $encode-bold
							text-transform: uppercase
							margin-bottom: 12px
							width: 75%
						p
							font-size: 19px
							font-family: $encode-regular
							color: #716f6f
							margin-bottom: 0px
							width: 95%

// ==== LANDING RESPOSIVE ====
@media(max-width: 1250px)
	.container-landing 
		.slider 
			.slider-content 
				.wrapper-slider 
					.content
						.right 
							p
								font-size: 16px
							h1
								font-size: 28px
						.left
							img
								height: 185px
@media(max-width: 950px)
	.container-landing 
		.slider 
			height: 450px
			.slider-content 
				height: 100%
				.wrapper-slider 
					height: 100%
					display: flex
					.content
						top: -65px
						flex-direction: column
						.right 
							text-align: center
							width: 90%
							p
								font-size: 16px
								width: 100%
							h1
								font-size: 28px
								width: 100%
						.left
							margin-bottom: 20px
							img
								height: 185px
@media(max-width: 840px)
	.container-landing 
		.slider 
			.slider-content 
				.wrapper-slider 
					.content 
						.left 
							margin-bottom: 10px
							width: 100%
							img
								height: 170px
@media(max-width: 720px)
	.container-landing
		.slider 
			.slider-content 
				.wrapper-slider 
					.content 
						.right 
							h1
								font-size: 24px
@media(max-width: 530px)
	.container-landing 
		.slider 
			.slider-content 
				.wrapper-slider 
					.content 
						.left
							margin-bottom: 5px 
							img
								height: 130px
@media(max-width: 420px)
	.container-landing 
		.slider 
			.slider-content 
				.wrapper-slider 
					.content 
						.left
							img
								height: 120px
						.right
							h1
								font-size: 22px
							p
								font-size: 15px


// ===== CAROUSEL ARROWS =====
.slick-prev, .slick-next
	font-size: 0
	line-height: 0
	position: absolute
	top: -3%
	display: block
	cursor: pointer
	border: none
	outline: none
	background: transparent
	display: flex
	align-items: center
	justify-content: center
.slick-prev
	left: 0px
	background-color: rgba(230, 1, 24, 0.8)
	z-index: 999
	width: 60px
	height: 60px
	/* border: 1px solid rgba(255, 255, 255, 0.7) */
	font-size: 40px
.slick-next
	right: 0px
	width: 60px
	height: 60px
	background-color: rgba(230, 1, 24, 0.8)
	z-index: 999
	font-size: 40px
.slick-prev i 
	color: #fff
	position: relative
	font-size: 30px
.slick-next i
	color: #fff
	position: relative
	font-size: 30px


/* ++++ ARTISTAS ++++ */
.artistas
	height: auto
	width: 100%
	background-image: url(../images/back-slider-full.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	position: relative
	padding-bottom: 80px

	// ===== TABS BOOTSTRAP =====
	.nav-pills 
		.nav-link
			padding: 0px
		.nav-link.active
			color: #ea002a
			background-color: transparent
			&:before
				content: url(../images/caballo-izq-icon.svg)
				position: absolute
				width: 36px
				left: -41px
				top: 3px
			&:after
				content: url(../images/caballo-derecha-icon.svg)
				position: absolute
				width: 36px
				right: -41px
				top: 3px
	.nav
		margin: 0 auto
		max-width: 1140px
		height: auto
		display: flex
		justify-content: space-evenly
		padding-bottom: 20px
		a
			font-size: 40px
			font-family: $encode-bold
			text-transform: uppercase
			color: #928e8e
			position: relative
	
	// ===== CAROUSEL ITEMS =====
	.slick1, .slick2
		.item
			width: 25%
			position: relative
			img.foto
				width: 100% 
				display: inline-block
				filter: grayscale(100%)
				transition: filter .5s ease-in-out
			.desc
				opacity: 0
				position: absolute
				left: 25px
				bottom: 0px
				color: white
				transition: all 0.5s ease-in-out
				h3
					font-size: 34px
					font-family: $encode-bold
					text-shadow: 2px 4px 5px #000
					text-transform: uppercase
				p
					font-family: $encode-bold
					font-size: 24px
					text-shadow: 2px 4px 5px #000
					text-transform: uppercase
			.logo
				img
					position: absolute
					top: 10px
					height: 45px
					right: 10px
			&:hover img
				filter: grayscale(0%)
			&:hover .desc
				opacity: 1
			.shadow
				box-shadow: inset 0px 0px 45px #ea002a
				position: absolute
				width: 100%
				height: 100%
				top: 0px
				transition: all 0.5s ease-in-out
				opacity: 0
			&:hover .shadow
				opacity: 1

// ==== CAROUSEL RESPOSIVE ====
@media(max-width: 1250px)
	.artistas
		.nav
			a
				font-size: 28px

@media(max-width: 680px)
	.container-landing .slider .slider-content
		padding: 20px 0px
	.artistas
		padding-bottom: 50px
		.nav
			flex-direction: column
			align-items: center
			padding-bottom: 15px

@media(max-width: 680px)
	.artistas .nav a
		font-size: 22px;
	.slick-next
		width: 50px
		height: 50px
	.slick-prev
		width: 50px
		height: 50px


/* ++++ POST ++++ */
.post-content
	height: auto
	width: 100%
	background-image: url(../images/back_letras2.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	.wrapper-posts
		margin: 0 auto
		max-width: 1170px
		height: auto
	h2.title-post
		font-family: $encode-bold
		font-size: 45px
		color: $rojo-titulos
		text-transform: uppercase
		margin-bottom: 30px
	.wrapper-post
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		.post
			width: 41%
			margin-bottom: 30px
			position: relative
			.desc
				width: 480px
				padding: 20px
				h2
					font-family: $encode-bold
					font-size: 20px
					color: #333
					text-transform: uppercase
					margin-bottom: 15px
				p
					font-family: $encode-semibold
					font-size: 14px
					color: #333
					margin-bottom: 30px
				a.button
					background: $rojo-titulos
					padding: 10px 15px
					color: #fff
					font-size: 16px
					font-family: $encode-bold
			&:nth-child(odd)
				&:after
					content: ''
					height: 100%
					width: 5px
					background: $rojo-titulos
					position: absolute
					right: -23%
					top: 0px

// RESPOSIVE POST
@media(max-width: 1220px)
	.post-content
		padding: 0px 30px
		.wrapper-post
			.post
				.desc
					width: 100%

@media (max-width: 950px)
	.post-content
		h2.title-post
			font-size: 28px

@media (max-width: 720px)
	.post-content
		h2.title-post
			font-size: 24px

@media(max-width: 660px)
	.post-content
		.wrapper-post
			flex-direction: column
			align-items: center
			.post
				width: 80%
				&:nth-child(odd)
					&:after
						content: ''
						height: 100%
						width: 0px
						background: $rojo-titulos
						position: absolute
						right: -23%
						top: 0px

@media(max-width: 500px)
	.post-content
		padding: 0px 15px
		.wrapper-post
			flex-direction: column
			align-items: center
			.post
				width: 100%
				.desc
					a.button
						font-size: 14px


/* ++++ MODAL PALENQUE ++++ */
.display-block
	// display: block !important
	display: flex !important
	flex-direction: column
	align-items: center
.my-modal
	display: none
	height: 100%
	left: 0
	position: absolute
	z-index: 999
	top: 0
	width: 100%
	background: rgba(0, 0, 0, 0.9)

	padding: 5%

	.modal.open
	   display: flex
	   flex-direction: column

	.modal__header,
	.modal__footer
		height: 100px

	.modal__content
		// height: 100%
		// overflow-y: auto
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		.form-group-register
			width: 70%
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			input
				width: 48%
				margin-bottom: 30px
				height: 50px
				padding-left: 20px
				background: #b3b6b9
				border: none
				&::placeholder
					color: #333
		.checkbox-modal
			width: 50%
			display: flex
			justify-content: space-around
			margin-bottom: 50px
			margin-top: 25px
			label
				color: #fff
				font-family: $encode-regular
				font-size: 12px
				margin-left: 5px
		.buttons-modal-register
			width: 100%
			display: flex
			justify-content: center
			button
				background: $rojo-titulos
				color: white
				padding: 10px 30px
				margin: 0px 15px
				border: none
				cursor: pointer

	.modal__header
		width: 70%
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 30px
		h4
			color: white
			text-transform: uppercase
			color: $rojo-titulos
			font-size: 40px
			font-family: $encode-bold
		i
			color: white
			font-size: 28px
			cursor: pointer


/* ++++ MODAL PAYMENT PALENQUE ++++ */
.display-block
	display: flex !important
	flex-direction: column
	align-items: center
.my-modal-payment
	display: none
	height: 100%
	left: 0
	position: absolute
	z-index: 999
	top: 0
	width: 100%
	background: rgba(0, 0, 0, 0.9)

	padding: 5%

	.modal.open
	   display: flex
	   flex-direction: column

	.modal__header,
	.modal__footer
		height: 100px

	.modal__content
		// height: 100%
		// overflow-y: auto
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		.form-group-register
			width: 70%
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			input
				width: 48%
				margin-bottom: 30px
				height: 50px
				padding-left: 20px
				background: #b3b6b9
				border: none
				&::placeholder
					color: #333
		
		.inputs-card
			display: flex
			justify-content: space-between
			width: 48%
		.checkbox-modal
			width: 50%
			display: flex
			justify-content: space-around
			margin-bottom: 50px
			margin-top: 25px
			label
				color: #fff
				font-family: $encode-regular
				font-size: 12px
				margin-left: 5px
		.buttons-modal-register
			width: 100%
			display: flex
			justify-content: center
			button
				background: $rojo-titulos
				color: white
				padding: 10px 30px
				margin: 0px 15px
				border: none
				cursor: pointer


	.modal__header
		width: 70%
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 30px
		h4
			color: white
			text-transform: uppercase
			color: $rojo-titulos
			font-size: 40px
			font-family: $encode-bold
		i
			color: white
			font-size: 28px
			cursor: pointer


/* ++++ PALENQUE CHINGON ++++ */
.palenque-chingon			
	background: white
	padding: 60px 0px 30px 0px;
	position: relative
	height: auto
	.wrapper-palenque
		margin: 0 auto
		max-width: 1140px
		z-index: 99
		h2.title1
			font-family: $encode-bold
			font-size: 45px
			color: #d91435
			margin-bottom: 20px
		h2.title2
			font-size: 20px
			color: #333
			font-family: $encode-regular
			margin-bottom: 30px
		.table-palenque
			.paquete 
				border-top: 2px solid #d6d6d6
				padding: 30px 0px
				display: flex
				justify-content: space-between
				align-items: center
				z-index: 999
				position: relative
				.title
					width: 20%
					font-family: $encode-regular
					font-size: 20px
					color: #333
				p
					width: 50%
					color: #333
					font-size: 14px
					font-family: $encode-regular
				a
					font-family: $encode-bold
					font-size: 16px
					color: #fff
					background: $rojo-titulos
					padding: 10px 15px
					transition: all 0.5s ease-in-out
					&:hover
						background: #333
						text-decoration: none
				a.btn-register
					background: #333
		&:after
			content: url(../images/caballo_izq_gde.svg)
			position: absolute
			right: 0px
			top: 30px
			width: 350px
		&:before
			content: url(../images/caballo_der_gde.svg)
			position: absolute
			left: 0px
			top: 30px
			width: 350px

// ==== PALENQUE RESPOSIVE ====
@media(max-width: 1250px)
	.palenque-chingon
		.wrapper-palenque
			padding: 0px 40px

@media (max-width: 950px)
	.my-modal
		position: fixed
		.modal__header
			width: 90%
			h4
				font-size: 28px

		.modal__content
			.checkbox-modal
				width: 90%
			.form-group-register
				width: 90%


	.palenque-chingon 
		.wrapper-palenque 
			h2.title1
				font-size: 28px

@media (max-width: 850px)
	.palenque-chingon
		.wrapper-palenque
			.table-palenque
				.paquete
					flex-direction: column
					.title
						width: 100%
						text-align: center
						margin-bottom: 15px
					p
						width: 100%
						text-align: center
						margin-bottom: 20px
@media (max-width: 720px)
	.palenque-chingon
		.wrapper-palenque 
			h2.title1
				font-size: 24px
			h2.title2 
				font-size: 18px
			.table-palenque
				.paquete
					.title
						font-size: 18px


@media (max-width: 690px)
	.palenque-chingon
		.wrapper-palenque
			&:after
				width: 0px
				right: -120px
				top: 25%
			&:before
				// width: 290px
				width: 0px
				left: -120px
				top: 25%

@media (max-width: 500px)
	.palenque-chingon
		.wrapper-palenque
			.table-palenque 
				.paquete 
					a
						font-size: 14px

@media (max-width: 400px)
	.palenque-chingon 
		.wrapper-palenque
	    	padding: 0px 20px


// MAPA
.mapa
	height: 100%
	position: relative
	height: auto
	width: 100%
	background-image: url(../images/back-slider-full.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: 100%
	.header
		height: 140px
		margin: 0 auto
		max-width: 1140px
		display: flex
		justify-content: space-between
		align-items: center
		h2
			font-size: 45px
			font-family: $encode-bold
			color: $rojo-titulos
		a
			background: $rojo-titulos
			font-size: 16px
			color: white
			padding: 10px 15px
			font-family: $encode-bold
	img
		width: 100%
		position: relative


// MAPA RESPOSIVE
@media (max-width: 1180px)
	.mapa 
		.header
			padding: 0px 40px

@media (max-width: 950px)
	.mapa 
		.header 
			height: 110px
			h2
				font-size: 28px

@media (max-width: 720px)
	.mapa 
		.header 
			h2
				font-size: 24px

@media (max-width:500px)
	.mapa 
		.header
			a
				font-size: 14px

@media (max-width:395px)
	.mapa
		.header
			flex-direction: column
			justify-content: center
			height: 135px
			h2
				margin-bottom: 15px

// SOCIAL
.social-content
	height: auto
	width: 100%
	background-image: url(../images/back_letras2.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	.wrapper-content
		h2
			font-size: 45px
			font-family: "EncodeSansBold"
			color: #d91435
			margin: 0 auto
			max-width: 1140px
			padding: 60px 0px 35px 0px
			// margin-bottom: 40px
		.slick3
			width: 70%
			margin: 0 auto
			padding-bottom: 60px
			.slick-prev, .slick-next
				top: 40%
			.slick-prev
				left: -20px
			.slick-next
				right: -20px
			.slick-track
				display: flex
				.slick-slide
					float: none
				.item
					width: 33% !important
					position: relative
					margin: 15px
					img.foto
						width: 100% 
						display: inline-block
						transition: filter .5s ease-in-out
					.desc
						opacity: 1
						position: absolute
						left: 25px
						bottom: 0px
						color: white
						transition: all 0.5s ease-in-out
						h3
							font-size: 18px
							font-family: $encode-bold
							text-shadow: 2px 4px 5px #000
							text-transform: uppercase
						p
							font-family: $encode-bold
							font-size: 14px
							text-shadow: 2px 4px 5px #000
							text-transform: uppercase
					.logo
						img
							position: absolute
							top: 10px
							height: 45px
							right: 10px

@media (max-width: 1180px)
	.social-content 
		.wrapper-content 
			h2
				padding: 60px 40px 35px 40px
			.slick3
				width: 90%

@media (max-width: 950px)
	.social-content
		.wrapper-content 
			h2
				font-size: 28px
				padding: 40px 40px 35px 40px

@media (max-width: 720px)
	.social-content
		.wrapper-content 
			h2
				font-size: 24px
				padding: 40px 40px 35px 40px

// UBICACIÓN
.ubicacion
	height: auto
	width: 100%
	background-image: url(../images/back-slider-full.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: 100%
	h2
		margin: 0 auto
		max-width: 1140px
		padding: 60px 0px
		font-size: 45px
		font-family: "EncodeSansBold"
		color: #d91435
	#map
		height: 450px


// UBICACION RESPONSIVE
@media (max-width: 1180px)
	.ubicacion 
		h2
			padding: 40px 40px

@media (max-width: 950px)
	.ubicacion 
		h2
			font-size: 28px

@media (max-width: 720px)
	.ubicacion 
		h2
			font-size: 24px

		
.container-footer
	width: 100%
	height: auto
	background-image: url(../images/back-slider-full.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	footer
		display: flex
		justify-content: space-between
		align-items: center
		margin: 0 auto
		max-width: 1170px
		padding: 25px 20px
		.wd
			width: 33%
		p#medida
			text-transform: uppercase 
			margin-bottom: 0px
			color: #716f6f
			font-size: 13px
			font-family: $encode-regular
		ul#icons
			display: flex
			justify-content: center
			li
				margin: 0px 20px
				a
					i
						font-size: 21px
						color: #5a5959
		ul#terminos
			display: flex
			justify-content: flex-end
			a 
				margin-bottom: 0px
				font-size: 14px
				font-family: $encode-regular
				color: #716f6f
				margin-right: 13px
				text-decoration: underline 


/* ++++ DETAIL POST ++++ */
.container-detail-post
	width: 100%
	// height: 100%
	background-image: url(../images/background-post.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	.wrapper-detail-post
		background: rgba(255, 255, 255, 0.7)
		max-width: 1140px
		min-height: 500px
		margin: 0 auto
		.title-arrow
			display: flex
			align-items: center
			i
				font-size: 24px
				background: $rojo-titulos
				padding: 16px
				color: #fff
			h2
				font-family: $encode-bold
				font-size: 45px
				color: $rojo-titulos
				padding: 20px
		a.subtitle
			color: $rojo-titulos
			font-size: 33px
			font-family: $encode-bold
			text-transform: uppercase
			position: relative
			margin-left: 60px
			&:before
				content: url(../images/caballo-izq-icon.svg)
				position: absolute
				width: 36px
				left: -41px
				top: 3px
			&:after
				content: url(../images/caballo-derecha-icon.svg)
				position: absolute
				width: 36px
				right: -41px
				top: 3px
			&:hover
				text-decoration: none
		.content
			margin-top: 30px
			padding: 0px 40px
			padding-bottom: 20px
			.image-portada
				width: 480px
				float: right
				margin: 0px 0px 20px 20px
				img
					width: 100%
			p
				font-family: $encode-regular
				color: #333
				font-size: 14px
				text-align: justify
				line-height: 22px
		.content2
			width: 100%
			margin-top: 20px
			padding: 0px 40px 40px 40px
			display: flex
			.text-left
				width: 70%
				padding-right: 60px
				p
					font-family: $encode-regular
					color: #333
					font-size: 14px
					text-align: justify
					margin-bottom: 20px
					line-height: 22px
				h3
					font-family: $encode-bold
					color: #333
					font-size: 25px
					margin-bottom: 15px
			.requisitos
				width: 30%
				padding-top: 5px
				a.btn-comprar
					font-family: "EncodeSansBold"
					font-size: 16px
					color: #fff
					background: #d91435
					padding: 10px 40px
					transition: all 0.5s ease-in-out
					position: relative
					top: 8px
					position: relative
				h3
					margin-top: 40px
					font-family: $encode-bold
					color: #333
					font-size: 25px
				ul
					margin-top: 15px
					li
						margin-bottom: 9px
						font-size: 14px
	#map
		height: 400px
		position: relative

// RESPOSIVE DETAIL POST
@media (max-width: 1250px)
	.container-detail-post
		.wrapper-detail-post
			.title-arrow
				h2
					font-size: 28px
		
	.container-detail-post
		.wrapper-detail-post
			padding: 0px 20px


// RESPONSIVE DETAIL POST
@media (max-width: 950px)
	.container-detail-post 
		.wrapper-detail-post 
			.title-arrow
				h2
					font-size: 28px
					// padding-left: 0px
			a.subtitle
				font-size: 28px
			.content
				width: 100%
				padding: 0px 0px
				.image-portada
					width: 60%
				// p
				// 	width: 40%
			.content2
				width: 100%
				padding: 0px 0px 40px 0px

			a.subtitle
				font-size: 28px
				margin-left: 40px

@media (max-width: 720px)
	.container-detail-post 
		.wrapper-detail-post
			.title-arrow
				i
					padding: 14px
				h2
					font-size: 24px
					// padding-left: 10px
			a.subtitle
				font-size: 24px
			.content
				padding: 0px 0px
				.image-portada
					width: 100%
				p
					width: 100%
				.content2
					padding: 0px 0px 40px 0px
					.text-left
						h3
							font-size: 24px


@media (max-width: 660px)
	.container-detail-post 
		.wrapper-detail-post 
			.content2 
				flex-wrap: wrap
				.text-left
					width: 100%
					padding-right: 0px 
				.requisitos
					width: 100%

@media (max-width: 490px)
	.container-detail-post 
		.wrapper-detail-post 
			a.subtitle
				margin-left: 33px
				margin-right: 55px
				&:after
					width: 30px
					top: 31px
					right: -37px
				&:before
					width: 30px
					left: -36px


// ===== SORTEO =====
.container-sorteo
	width: 100%
	height: auto
	background-image: url(/images/bg-ferias.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	img.logo-feria
		width: 860px
		margin-top: 30px
		padding: 0px 25px
	.content
		background: rgba(255, 255, 255, 0.7)
		max-width: 1140px
		min-height: 500px
		margin: 0 auto
		padding: 20px
		h1
			font-family: $encode-bold
			color: $rojo-titulos
			font-size: 50px
			text-transform: uppercase
			margin-bottom: 10px
		h2
			font-size: 20px
			color: #333
			margin-bottom: 40px
			font-family: $encode-regular
		h3
			font-family: $encode-bold
			padding-bottom: 10px
			text-transform: uppercase
			color: #333
			font-size: 16px
		p
			padding-bottom: 20px
			color: #333
	.container-ferias
		background-position: bottom

@media (max-width: 1250px)
	.container-sorteo
		.content
			h1
				font-size: 28px
			h2
				font-size: 18px

@media (max-width: 720px)
	.container-sorteo
		.content
			h1
				font-size: 24px
			h2
				font-size: 16px	




















































